<header class="hero background--fishing">
  <div class="hero__card">
    <div class="hero__title">
      <h1><%= cms_block_content(:subheading_title, @cms_page) %></h1>
      <br>
      <p><%= raw cms_block_content(:subheading_body, @cms_page) %></p>
    </div>
  </div>
</header>
