.section-group
  - @cms_page.children.published.where(is_top_project: true).each do |page|
    = render partial: "featured_projects/project", locals: {page: page}
  - @cms_page.children.published.where(is_top_project: false).each do |page|
    = render partial: "featured_projects/project", locals: {page: page}
