/ To bring back View more projects button add {{ cms:partial:featured_projects/more_projects }}
/ to the end of featured-project-aggregator layout in cms admin panel and remove second listing 
/ (with is_top_project set to false) from _list.html.haml file.

- if @cms_page.children.published.where(is_top_project: false).count > 0
  .container.related{"ng-app" => "ProjectsList", "ng-cloak" => "", "ng-controller" => "ProjectsCtrl", "ng-init" => "init(#{render partial: "featured_projects/projects", locals: {pages: @cms_page.children.published.where(is_top_project: false)}, formats: :json})"}
    %h2#featured_projects.related-heading-big Other work you may want to see
    .section-group
      %section.group.featured-project{"ng-repeat" => "project in projects"}
        %a{:href => "{{project.project_url}}", "ng-if" => "project.thumbnail_url"}
          %img{"ng-src" => "{{project.thumbnail_url}}"}
        %h2.smaller
          %a.heading{:href => "{{project.project_url}}"} {{project.project_name}}
        %p{"ng-bind-html" => "project.description"}
    #button-row{"ng-if" => "hiddenProjects.length > 0"}
      #more_projects.button{"ng-click" => "showMore()"}
        %a{:href => ""} View more projects
