<% if @cms_page.children.published.count > 6 %>
  <div id="container" class="other_projects">
    <h2 id="featured_projects" class="large_subheading">Other projects you may also want to see</h2>
    <div class="section-group">
      <% @cms_page.children.published.drop(6).each do |page| %>
        <%= render partial: "featured_projects/project", locals: {page: page} %>
      <% end %>
    </div>
    <div id="button-row">
      <div class="button" id="more_projects">
        <p><a href="">View more projects</a></p>
      </div>
    </div>
  </div>
<% end %>
