<% if @cms_page.children.published.count > 6 %>
  <div class="container" id="other_projects" ng-app="ProjectsList" ng-cloak ng-controller="ProjectsCtrl"
       ng-init="init(<%= render partial: "featured_projects/projects", locals: {pages: @cms_page.children.published.drop(6)}, formats: :json %>)">
    <h2 id="featured_projects" class="large_subheading">Other projects you may also want to see</h2>
    <div class="section-group">
      <section class="group featured-project" ng-repeat="project in projects">
        <a href="{{project.project_url}}" ng-if="project.thumbnail_url" >
          <img ng-src="{{project.thumbnail_url}}" />
        </a>
        <h2 class="smaller">
          <a class="heading" href="{{project.project_url}}">{{project.project_name}}</a>
        </h2>
        <p ng-bind-html="project.description">
        </p>
      </section>
    </div>
    <div id="button-row" ng-if="hiddenProjects.length > 0">
      <div class="button" id="more_projects" ng-click="showMore()">
        <p><a href>View more projects</a></p>
      </div>
    </div>
  </div>
<% end %>
