@import "compass/reset";

$blue: #4c9cda;
$dark_blue: #4295d5;
$grey: #f4f2f2;
$grey_text: #5e5a5c;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h5 {
	font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 2em;
	line-height: 1.5em;
	margin: 0 0 0.75em 0;
	color: $grey_text;
}

h2{
	font-weight: 500;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0.75em 0;
	color: #333;
	&.large_subheading {
    font-size: 1.4em;
    &#featured_projects {
      font-size: 1.6em;
      padding: 1.75em 0 1em 0;
      border-top: 1px solid $grey;
    }
	}
}

h3{
	font-weight: bold;
	font-size: 1em;
	line-height: 1.25em;
	margin: 0.75em 0;
	color: rgba(0,0,0,0.3);
	&#news {
	  width: 100%;
	  margin: auto;
	  margin-bottom: 60px;
	  padding-top: 60px;
	  display: inline-block;
    text-align: center;
    font-weight: 400;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    word-spacing: 0.07em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5175a3;
    border-top: 1px solid $grey;
	}
}

h4{
	width: 100%;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	padding: 1em 0;
	line-height: 1.75em;
}

h5{
	font-weight: 500;
	font-size: 2em;
	line-height: 1.3em;
	color: $grey_text;
	margin-bottom: 2%;
}

p {
	font-size: 1.1em;
	margin-bottom: 0.75em;
	line-height: 1.5em;
	font-weight: 300;
	color: $grey_text;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $dark-blue;
    -webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
  }
}

small {
	display: block;
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-bottom: 5%;
}

div.clear {
  clear: both;
}

div#nav{
	background-color: $dark_blue;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  div.nav-container {
    width: 70%;
    margin: auto;
    a#home_link {
      display: block;
  			img {
  				opacity: 0.9;
  				display: block;
  			}
    }
  	ul{
  		margin: auto;
  	  list-style: none;
  	  overflow: hidden;
  		li{
  			a {
  				font-family: "museo-sans", Helvetica, Arial, sans-serif;
  				font-size: 0.8em;
  				text-decoration: none;
  				color: rgba(255,255,255, 0.65);
  				text-transform: uppercase;
  				&:hover{
  					color: rgba(255,255,255, 0.9);
  					-webkit-transition: all 0.5s ease;
  					-moz-transition: all 0.5s ease;
  					-ms-transition: all 0.5s ease;
  					-o-transition: all 0.5s ease;
  					transition: all 0.5s ease;
  				}
  				&.active {
  					color: #fff;
  				}
  			}
  		}
  	}
    
  }
}

div.hero{
	background: url('../imgs/project_13.png') no-repeat center;
	background-size: 100%;
	
	&#featured_projects{
		background: url('../imgs/project_13.png') no-repeat bottom;
		background-size: 100%;
	}
	&#data{
		background: url('../imgs/project_7.png') no-repeat bottom;
		background-size: 115%;
	}
	
	&#about{
		background: url('../imgs/project_18.png') no-repeat center;
		background-size: 100%;
	}
	&#areas_of_work{
		background: url('../imgs/project_14.jpg') no-repeat bottom;
		background-size: 120%;
	}
	&#species{
		background: url('../imgs/project_10.jpg') no-repeat center;
		background-size: 100%;
		.heading {
		  width: 45%;
		  margin-left: 15%;
		  text-align: left;
		}
	}
}

div.heading{
	h1{
		margin-bottom: 0;
		font-size: 2.5em;
		line-height: 1.25em;
		font-weight: bold;
		&#featured {
			font-size: 2em;
		}
	}
	h2 {
		font-weight: 300;
		margin: 0.5em 0;
		font-size: 1.25em;
		line-height: 1.4em;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
	}
	h1,h2{
		padding: 1% 0;
		color: #fff;
		text-shadow: 0 2px 15px rgba(0,0,0,0.3);
	}
}

div.button {

}

div.button {
  text-align: center;
	display: block;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 250px;
  border: 1px solid $dark_blue;
  background: none;
  box-shadow: none;
  &:hover, &:active {
    border: 1px solid $dark_blue;
    background-color: $dark_blue;
    p a {
      color: #fff;
    }
  }
	p {
	  margin: 0;
	  a {
  		font-weight: 300;
  		font-size: 1em;
  		margin:0;
  		letter-spacing: 0.05em;
  		color: $dark_blue;
  		text-decoration: none;
  	}
	}

	&#featured_project, &#twitter {
	  width: 170px;
	  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  	border: 1px solid rgba(255,255,255,0.8);
  	background-color: rgba(0,0,0,0.05);
  	a {
  	  color: #fff;
  	}
  	&:hover, &:active {
  		border: 1px solid $dark_blue;
  		background-color: $dark_blue;
  		a{
  			color: #fff;
  		}
  	}
	}
}


#container {
  width: 70%;
  margin: auto;
  img {
    max-width: 100%;
    display: block;
  }
  .column-2-3 {
    &#staff {
      h2 {
        padding-bottom: 8px;
        border-bottom: 3px solid $blue;
      }
    }
    &#job_description {
      ul {
        list-style-type: disc;
        padding: 1em 0 1em 1.25em;
        li {
          font-size: 1.1em;
          margin-bottom: 0.75em;
          line-height: 1.5em;
          font-weight: 300;
          color: $grey_text;
        }
      }
      span.position {
        font-size: 1em;
        text-transform: uppercase;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: $grey_text;
      }
      span.programme_name {
        display: inline-block;
        margin-bottom: 2em;
      }
      span.programme_bar {
        color: #59B200; 
        font-weight: 900;
        display: inline-block;
        padding: 2%;
      }
    }
    &#data, &#employee_work, &#vacancies, &#partner {
      section {
        border-bottom: 1px solid $grey;
        padding: 30px 0;
        overflow: hidden;
        h3 {
          word-spacing: 0.07em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-weight: 300;
          font-family: "museo-sans", Helvetica, Arial, sans-serif;
        }
        p.link {
          float: left;
        }
        p.link.last {
          float: right;
          margin-right: 70%;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
    &#job_application{
      h2 {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 0.5em;
      margin: 1.5em 0;
    }

    h3 {
      color: #333;
      margin: 0.75em 0;
    }

    .form-section {
      margin-top: 2em;
      p {
        margin: 0;
      }
      input.short {
        width: 50%;
        height: 2em;
        margin: 0.5em 0 1em 0;
        border: 1px solid #eee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: $grey_text;
        padding: 0 0.5em;
      }
      textarea {
        width: 100%;
        margin: 0.5em 0 1em 0;
        border: 1px solid #eee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: $grey_text;
        padding: 0.5em;
      }
      .form-subsection {
        margin-top: 1em;
      }
    }

        h1{
                margin-bottom: 7%;
        }

        h2#first {
                margin-top: 0;
        }
        img{
                display: inline-block;
                float: right;
                max-width: 50%;
                margin: 1% 0 0 3%;
                padding: 0;
                &#staff_pic {
                  float: none;
                  max-width: 100%;
                  margin: 0 0 5% 0;
                }
        }
        p.link {
                letter-spacing: 0.065em;
        }

    }
    &#employee_work, &#partner {
      margin-top: 30px;
      h1 {
        margin-bottom: 0.3em;
        font-size: 2.5em;
        color: #333;
      }
      h3 {
        margin: 0 0 20px 0;
        color: #333;
        font-weight: 500 !important;
        word-spacing: 0 !important;
        letter-spacing: 0 !important;
        span.project_role {
          text-transform: none;
        }
        span.separator {
          color: #ddd;
          padding: 0 5px;
        }
      }
      span.position {
        font-size: 1em;
        text-transform: uppercase;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
      	font-weight: 300;
      	color: $grey_text;
      }
      span.programme_name {
        display: inline-block;
        margin-bottom: 2em;
      }
      span.programme_bar {
        color: #59B200; 
        font-weight: 900;
        display: inline-block;
        padding: 2%;
      }
      ul.contact_details {
        color: $grey_text;
        font-weight: 300;
        text-align: left;
        margin-bottom: 1em;
        i {
          padding-right: 1%;
        }
        li {
          padding-bottom: 1.5%;
        }
      }
      section {
        padding: 6% 0;
	      border-bottom: 1px solid #eee;
      }
    }
  }
  .column-1-3 {
    &#job_related {
      h2 {
      border-bottom: 1px solid $grey;
      font-size: 1em;
      color: #333;
      text-transform: uppercase;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: $grey_text;
      margin-top: 2em;
      padding-bottom: 0.2em;
    }
      h4 {
        font-size: 1em;
        color: $blue;
        text-transform: none;
        font-weight: 300;
      }
    .button {
      width: 100%;
      margin-bottom: 30px;
    }
  }
    section.save-link {
      background: #f7f7f7;
      padding: 1em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      p {
        font-size: 0.85em;
      }
      input {
        border: 1px solid #eee;
        padding: 0.5em;
        height: 3em;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        font-weight: 300;
        color: #666;
        }
      i {
        color: #666;
        background: #ccc;
        position: relative;
        top: -29px;
        right: -189px;
        padding: 0.7em 0.75em 0.75em 0.75em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
  section {
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
    img#staff_pic {
      padding-bottom: 50px;
    }
  }
  .section-row {
    section {
    &.column-1-4{
      p {
        font-size: 0.85em;
        line-height: 0.7em;
      }
      h4 {
          padding: 0 0 0.5em 0;
      }
      a img {
        margin-bottom: 20px;
      }
      h2.partner, p.partner {
        text-align: center;
      }
    }
    &.column-1-2 {
         ul.project_team {
    		    overflow: hidden;
    		    margin-top: 20px;
    		    li {
    		      img {
    		        margin-bottom: 1em;
    		      }
              p {
                font-size: 0.85em;
                line-height: 0.7em;
              }
              h4 {
                  padding: 0 0 0.5em 0;
              }
            }
    		  }
      }
      &#twitter{
    		background: $grey;
    		#top_twitter{
    			width: 100%;
    			padding: 2% 0 5% 0;
    			img{
    				display: block;
    				max-width: 19%;
    				opacity: 0.3;
    				float: left;
    			}
    			div.button{
    				width: 120px;
    				float: right;
    				margin-right: 1.75%;
    				border: 1px solid rgba(0,0,0,0.2);
    				p, a {
    					color: #999;
    					text-decoration: none;
    				}
    				border: 2% 5%;
    				box-shadow: none;
    				&:hover {
    					a{
    						color: #fff;						
    					}
    					border: 1px solid $blue;
    					-webkit-transition: all 0.5s ease;
    					-moz-transition: all 0.5s ease;
    					-ms-transition: all 0.5s ease;
    					-o-transition: all 0.5s ease;
    					transition: all 0.5s ease;
    				}
    			}
    		}
    		.tweet{
    			padding: 3% 0;
    			small{
    				margin-bottom: 3%;
    			}
    		}
    	}
    }
  }
}

.search_field_container{
	margin-bottom: 15%;
	width: 100%;
	padding: 5% 0 5% 5%;
	padding-left: 0;
	border-bottom: 1px solid #eee;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	font-size: 0.85em;
	&#staff {
	  width: 80%;
	}
	.icon_search{
		color: $grey_text;
		padding: 0;
		margin: 2% 2% 0 0;
		i{
			font-size: 1em;
			line-height: 0.5em;
		}
	}
	.search_input{
		padding:0 0 0 2%;
		p{
			margin:0;
			color: $grey_text;
		}
	}
}

ul.subnav {
  border-left: 3px solid $blue;
  padding-left: 5%;
  li{
		padding-bottom: 1em;
		&:last-child {
		  padding-bottom: 0;
		}
		 a{
			font-size: 0.85em;
			font-weight: 400;
			word-spacing: 0.05em;
			letter-spacing: 0.10em;
			text-transform: uppercase;
			color: #333;
			border-bottom: 1px solid #fff;
			&:hover{
				border-bottom: 1px solid $blue;
				color: $blue;
				-webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
			}
			&.active {
				color: $blue;
			}
		}
	}
	&.areas {
	  li {
	    padding-bottom: 0.75em;
	  }
	  li#how_we_work {
	    padding-top: 25px;
	  }
	  ul.submenu_areas {
	    li {
	      padding-bottom: 0.5em;
    		&:last-child {
    		  padding-bottom: 0;
    		}
	      a {
	        font-size: 0.9em;
	        display: inline-block;
	        text-transform: none;
    	    word-spacing: 0;
    	    letter-spacing: 0;
    	    margin-left: 10px;
	      }
	    }
	  }
	}
}

ul#fields, ul#content, ul#sorting, ul#programmes {
	margin: 0 0 15% 0;
	font-size: 0.85em;
	li{
	  cursor: pointer;
		color: $grey_text;
		font-size: 1em;
		font-weight: 300;
		padding: 0 0 0 3%;
		margin: 5% 0;
		line-height: 1.7em;
		border-left: 5px solid #fff;
		&.header {
		  cursor: default;
			font-size: 1.25em;
			font-weight: 500;
			border-bottom: 1px solid #eee;
		  padding: 0 0 0 3%;
			margin-bottom: 8%;
			margin-left: -4.5%;
			span.badge {
			  font-size: 0.85em;
			  font-weight: 300;
			  margin-top: 1.5%;
			}
			&:hover{
				background: none;
				color: $grey_text;
			}
		}
		&.active, &:hover {
			padding-left: 3%;
      &#programme_1 {
        border-left: 5px solid #59B200;
      }
      &#programme_2 {
        border-left: 5px solid #FFC926;
      }
      &#programme_3 {
        border-left: 5px solid #0085B2;
      }
      &#programme_4 {
        border-left: 5px solid #FF9326;
      }
      &#programme_5 {
        border-left: 5px solid #D42B29;
      }
      &#programme_6 {
        border-left: 5px solid #8C008C;
      }
      &#programme_7 {
        border-left: 5px solid #8C4600;
      }
      &#programme_8 {
        border-left: 5px solid #38B8B9;
      }
      &#programme_9 {
        border-left: 5px solid #9EC23B;
      }
      &#programme_10 {
        border-left: 5px solid #FF7A4D;
      }
      &.content_type {
        border-left: 5px solid $blue;
      }
		}
		
		span.badge{
			margin-top: 0.5%;
			margin-left: 5%;
			padding: 3% 0;
			float: right;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			line-height: 0.5em;
			font-weight: 300;
			color: #ddd;
			text-align: center;
			i.icon-caret-down {
				font-size: 1.5em;
			}
		}
	}
}

ul#fields.staff_filters {
  li {
    &.active, &:hover {
      border-left: 5px solid $blue;
    }
  }
}

ul#sorting {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	li {
	  padding: 3% 5%;
	  margin: 0;
	  &:hover {
			padding-left: 5%;
		}
		span.badge {
		  margin-top: -7px;
		}
	}
}

div.data_policy{
  margin-top: 40px;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5%;
  h3 {
    color: $grey_text;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3%;
  }
  p {
    font-size: 0.85em;
    margin-bottom: 0;
  }
}

form {
  section {
    ul {
      list-style-type: disc;
      padding: 2em 0 2em 1.25em;
      li {
        font-size: 1.1em;
        margin-bottom: 0.75em;
        line-height: 1.5em;
        font-weight: 300;
        color: $grey_text;
      }
    }
    input.short {
      width: 50%;
      height: 2em;
      margin: 0.5em 0 1em 0;
      border: 1px solid #eee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      color: $grey_text;
      padding: 0 0.5em;
    }
    textarea {
      width: 100%;
      margin: 0.5em 0 1em 0;
      border: 1px solid #eee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      color: $grey_text;
      padding: 0.5em;
    }
  }
}

div#footer_container {
	width:100%;
	position: absolute;
	background-color: #333;
	background: url('../imgs/map_world.png') no-repeat center;
	background-opacity: 0.2;
	background-size: 100%;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

ul.footer{	
	margin: auto;
  list-style: none;
	li{
		a {
			font-size: 0.8em;
			font-family: "museo-sans", Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: #bbb;
			text-transform: uppercase;
			&:hover{
				color: $blue;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}
	li#address{
		font-size: 0.85em;
		p{
			color: #bbb;
		}
	}
}
