@import "compass/reset";

$blue: #3C89C8;
$dark_blue: #5175A3;
$grey: #f4f2f2;
$grey_text: #5e5a5c;

body {
	font-size: 100%;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h5 {
	font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 2.5em;
	margin: 0 0 3em 0;
	color: #333;
}

h2{
	font-weight: 500;
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 0.75em 0 1em 0;
	color: #333;
}

h3{
	font-weight: bold;
	font-size: 1em;
	line-height: 1.25em;
	margin: 0.75em 0;
	color: rgba(0,0,0,0.3);
}

h4{
	width: 100%;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	padding: 1em 0;
	line-height: 1.75em;
}

h5{
	font-weight: 500;
	font-size: 2em;
	line-height: 1.3em;
	color: $grey_text;
	margin-bottom: 2%;
}

p {
	font-size: 1.1em;
	margin-bottom: 0.75em;
	line-height: 1.5em;
	font-weight: 300;
	color: $grey_text;
}

small {
	display: block;
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-bottom: 5%;
}

div#container{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 80%;
	margin:auto;
	h1.page_header {
	  margin: 0;
	  padding-left: 2%;
	  padding-bottom: 1%;
	}
	h3{
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		width: 100%;
		text-align: center;
		font-size: 1em;
		line-height: 1.5em;
		font-weight: 400;
		word-spacing: 0.07em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $dark_blue;
		margin-bottom: 5%;
	}
	.section.related_employees {
	  h4 {
	    font-size: 1em;
	  }
	}
	.section.filters{
		padding-top: 0;
		padding-left: 0;
		&.about ul {
		  border-left: 3px solid $blue;
		  padding-left: 5%;
		  margin-bottom: 15%;
		  li{
  			padding-bottom: 1em;
  			 a{
  				font-size: 0.85em;
  				font-weight: 400;
  				word-spacing: 0.05em;
  				letter-spacing: 0.10em;
  				text-transform: uppercase;
  				color: #333;
  				&:hover{
  					border-bottom: 1px solid $blue;
  					color: $blue;
  				}
  				&.active {
  					color: $blue;
  				}
  			}
  		}
		}
	}
		.search_field_container{
			margin-bottom: 15%;
			width: 100%;
			padding: 5%;
			padding-left: 0;
			border-bottom: 1px solid #eee;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
			font-size: 0.85em;
			&#staff {
			  width: 80%;
			}
			.icon_search{
				color: $grey_text;
				padding: 0;
				margin: 0 2%;
				margin-top: 1.5%;
				i{
					font-size: 1em;
					line-height: 0.5em;
				}
			}
			.search_input{
				padding:0 2%;
				p{
					margin:0;
					color: $grey_text;
				}
			}
		}
		ul#fields, ul#content, ul#sorting, ul#programmes {
			margin: 0 0 15% 0;
			font-size: 0.85em;
			li{
			  cursor: pointer;
				color: $grey_text;
				font-size: 1.1em;
				padding: 0 0 0 6.5%;
				margin: 5% 0;
				line-height: 1.7em;
				&.header {
				  cursor: default;
					font-size: 1.25em;
					font-weight: bold;
					border-bottom: 1px solid #eee;
					padding-left: 0;
					padding-bottom: 3%;
					margin-bottom: 8%;
					span.badge {
					  font-size: 0.85em;
					  font-weight: 500;
					  margin-top: 1.5%;
					}
					&:hover{
						background: none;
						color: $grey_text;
					}
				}
				&.active, &:hover {
					padding-left: 3%;
	        &#programme_1 {
	          border-left: 5px solid #59B200;
	        }
	        &#programme_2 {
	          border-left: 5px solid #FFC926;
	        }
	        &#programme_3 {
	          border-left: 5px solid #0085B2;
	        }
	        &#programme_4 {
	          border-left: 5px solid #FF9326;
	        }
	        &#programme_5 {
	          border-left: 5px solid #D42B29;
	        }
	        &#programme_6 {
	          border-left: 5px solid #8C008C;
	        }
	        &#programme_7 {
	          border-left: 5px solid #8C4600;
	        }
	        &#programme_8 {
	          border-left: 5px solid #38B8B9;
	        }
	        &#programme_9 {
	          border-left: 5px solid #9EC23B;
	        }
	        &#programme_10 {
	          border-left: 5px solid #FF7A4D;
	        }
	        &.content_type {
	          border-left: 5px solid $blue;
	        }
				}
				
				span.badge{
					margin-top: 0.5%;
					margin-left: 5%;
					padding: 3% 0;
					float: right;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					line-height: 0.5em;
					font-weight: bold;
					color: #ddd;
					text-align: center;
					i.icon-caret-down {
						font-size: 1.5em;
					}
				}
			}
		}
		
		ul#sorting {
		  border: 1px solid #eee;
		  -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			li {
			  padding: 3% 5%;
			  margin: 0;
			  &:hover {
					padding-left: 5%;
				}
			}
		}
		
		ul#programmes {
		  border: none;
		  li {
	        padding: 0;
	        border: none;
		      a {
		        color: #333;
		        display: inline-block;
		        padding: 0 3%;
  		      margin-bottom: 2%;
		        padding-left: 5%;
		        &#programme_1 {
		          border-left: 5px solid #59B200;
		        }
		        &#programme_2 {
		          border-left: 5px solid #FFC926;
		        }
		        &#programme_3 {
		          border-left: 5px solid #0085B2;
		        }
		        &#programme_4 {
		          border-left: 5px solid #FF9326;
		        }
		        &#programme_5 {
		          border-left: 5px solid #D42B29;
		        }
		        &#programme_6 {
		          border-left: 5px solid #8C008C;
		        }
		        &#programme_7 {
		          border-left: 5px solid #8C4600;
		        }
		        &#programme_8 {
		          border-left: 5px solid #38B8B9;
		        }
		        &#programme_9 {
		          border-left: 5px solid #9EC23B;
		        }
		        &#programme_10 {
		          border-left: 5px solid #FF7A4D;
		        }
		      }
		  }

		}
		ul#sorting{
			li.last {
				&:hover{
					background-color: none;
					color: $grey_text;
				}
				span.badge{
					margin-top: -2%;
				}
			}
		}
		div.data_policy{
		  background: #f7f7f7;
		  -webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    	padding: 5%;
		  h3 {
		    color: $grey_text;
		    text-align: left;
		    margin-top: 0;
		    margin-bottom: 3%;
		  }
		  p {
		    font-size: 0.85em;
		    margin-bottom: 0;
		  }
		  &#partners {
		    width: 85%;
		  }
		}
}

div#nav{
	width:100%;
	background-color: #3C89C8;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 1.2% 0;
  a#home_link {
	  display: block;
	  float: left;
		width: 40%;
		padding: 0 0 0 15%;
		img {
			max-width: 100%;
			min-width: 250px;
			opacity: 0.9;
			display: block;
		}
	}
	ul{
	  min-width: 45%;
		margin-right: 15%;
	  list-style: none;
	  float: right;
	  margin-top: 1.4%;
		li{
			padding: 0 0 0 2%;
			float: right;
			a {
				font-family: "museo-sans", Helvetica, Arial, sans-serif;
				font-size: 0.75em;
				font-weight: 300;
				text-decoration: none;
				color: rgba(255,255,255, 0.6);
				text-transform: uppercase;
				&:hover{
					color: rgba(255,255,255, 0.9);
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
				&.active {
					color: rgba(255,255,255, 0.9);
				}
			}
		}
	}
}

div.button {
	width: 150px;
	display: block;
	border: 1px solid rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.05);
	text-align: center;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	p {
		font-weight: 300;
		font-size: 1em;
		margin:0;
		letter-spacing: 0.05em;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	
	&:hover {
		border: 1px solid $blue;
		background-color: $blue;
		a{
			color: #fff;
		}
		
	}
}

div.hero{
	background: url('../imgs/project_13.png') no-repeat center;
	background-size: 100%;
	width:70%;
	margin: 3% 15%;
	&#featured_projects{
		background: url('../imgs/project_13.png') no-repeat bottom;
		background-size: 100%;
	}
	&#data{
		background: url('../imgs/project_7.png') no-repeat bottom;
		background-size: 115%;
	}
	
	&#about{
		background: url('../imgs/project_18.png') no-repeat center;
		background-size: 100%;
	}
	&#areas_of_work{
		background: url('../imgs/project_14.jpg') no-repeat bottom;
		background-size: 120%;
	}
	&#species{
		background: url('../imgs/project_10.jpg') no-repeat center;
		background-size: 100%;
	}
}

div.heading{
  padding-top: 3.5em;
	h1{
		margin-bottom: 0;
		font-size: 2.5em;
		line-height: 1.25em;
		font-weight: bold;
		&#featured {
			font-size: 2em;
		}
	}
	h2 {
		font-weight: 300;
		margin: 0.5em 0;
		font-size: 1.25em;
		line-height: 1.4em;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
	}
	h1,h2{
		padding: 1% 0;
		color: #fff;
		text-shadow: 0 2px 15px rgba(0,0,0,0.3);
	}
}

div#welcome{
	width:70%;
	margin: auto;
	padding: 0% 2% 5% 2%;
	border-bottom: 1px solid #eee;
	margin: 5% 15%;
	p {
		font-size: 1.25em;
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
		color: $blue;
	}
}

div#dashboard{
	width:70%;
	margin: 3% 15%;
	img {
	  width: 100%;
	}
}

div.section{
	margin: 2.25em 0;
	h3{
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: 400;
	}
	
	p{
		color: $grey_text;
		&.link {
			float: left;
			font-size: 0.85em;
			&.last{
				margin: 0 3%;
			}
		}
	}
	a {
		text-decoration: none;
		color: $blue;
		&.heading{
			color: #333;
			&:hover{
				color: $blue;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
		}
	}
	img{
		max-width: 100%;
	}
	&#twitter{
		background: $grey;
		#top_twitter{
			width: 100%;
			padding: 2% 0 5% 0;
			img{
				display: block;
				max-width: 15%;
				opacity: 0.3;
				float: left;
			}
			div.button{
				width: 120px;
				float: right;
				margin-right: 1.75%;
				border: 1px solid rgba(0,0,0,0.2);
				p, a {
					color: #999;
				}
				border: 2% 5%;
				box-shadow: none;
				&:hover {
					a{
						color: #fff;						
					}
					border: 1px solid $blue;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
			}
			
		}
		.tweet{
			padding: 3% 0;
			small{
				margin-bottom: 3%;
			}
		}
	}
	
	&.employee {
    h2 {
      margin: 5% 0 2% 0;
      font-size: 1em;
    }
    p {
      margin: 0;
      font-size: 0.75em;
      text-transform: uppercase;
      color: $grey_text;
    }
	}
	
	&.partner {
	  h2 {
	    margin: 0.5em 0 0 0;
	    text-align: left;
	  }
	  a p {
	    font-size: 1em;
	    color: $blue;
	  }
	}
	
	&.about{
	  &.employee_projects {
	    h2 {
	      font-size: 1.75em;
	      font-weight: 300;
	      padding: 0.5em 0 0.25em 0;
	    }
	    div.employee_project {
	      padding: 6% 0;
	      border-bottom: 1px solid #eee;
	      h3 {
	        span.project_role {
	          text-transform: none;
	        }
	        span.separator {
            color: #ddd;
          }
	      }
	      &.first {
	        padding-top: 0;
	      }
	      &.last {
	        border-bottom: none;
	      }
	      p.link {
	        float: none;
	        margin: 0;
	      }
	    }
	  }
	  &.employee_bio, &.job_description, &.application_form {
	    ul {
	      list-style-type: disc;
	      padding: 2em 0 2em 1.25em;
	      li {
  	      font-size: 1.1em;
        	margin-bottom: 0.75em;
        	line-height: 1.5em;
        	font-weight: 300;
        	color: $grey_text;
  	    }
	    }
	    .button {
  	    width: 35%;
  	    border: 1px solid $blue;
      	background: none;
      	box-shadow: none;
      	&:hover {
      		border: 1px solid $blue;
      		background-color: $blue;
      		a{
      			color: #fff;
      		}
      	}
  	  }
	    
	    h1 {
	      margin-bottom: 0.3em;
	    }
	    span.position {
	      font-size: 1em;
	      text-transform: uppercase;
	      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      	font-weight: 300;
      	color: $grey_text;
	    }
	    span.programme_name {
	      display: inline-block;
	      margin-bottom: 2em;
	    }
	    span.programme_bar {
	      color: #59B200; 
	      font-weight: 900;
	      display: inline-block;
	      padding: 2%;
	    }
	    ul.contact_details {
	      color: $grey_text;
	      font-weight: 300;
	      text-align: left;
	      margin-bottom: 1em;
	      i {
	        padding-right: 1%;
	      }
	      li {
	        padding-bottom: 1.5%;
	      }
	    }
	  }
	  
	  &.application_form {
	    .button {
	      margin-top: 3em;
	    }
	    
	    h2 {
	      border-bottom: 1px solid #d8d8d8;
	      padding-bottom: 0.5em;
	    }
	    
	    h3 {
	      color: #333;
	      margin: 0.75em 0;
	    }
	    
	    .form-section {
	      margin-top: 2em;
	      p {
	        margin: 0;
	      }
	      input.short {
	        width: 50%;
	        height: 2em;
	        margin: 0.5em 0 1em 0;
	        border: 1px solid #eee;
	        -webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
          font-family: "museo-sans", Helvetica, Arial, sans-serif;
					font-size: 1.1em;
        	font-weight: 300;
        	color: $grey_text;
        	padding: 0 0.5em;
	      }
	      textarea {
	        width: 100%;
	        margin: 0.5em 0 1em 0;
	        border: 1px solid #eee;
	        -webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
          font-family: "museo-sans", Helvetica, Arial, sans-serif;
					font-size: 1.1em;
        	font-weight: 300;
        	color: $grey_text;
        	padding: 0.5em;
	      }
	      .form-subsection {
	        margin-top: 1em;
	      }
	    }
	  }
		
		h1{
			margin-bottom: 7%;
		}
		
		h2#first {
			margin-top: 0;
		}
		img{
			display: inline-block;
			float: right;
			max-width: 50%;
			margin: 1% 0 0 3%;
			padding: 0;
			&#staff_pic {
			  float: none;
			  max-width: 100%;
			  margin: 0 0 5% 0;
			}
		}
		p.link {
			letter-spacing: 0.065em;
		}
	}
	&.job_related {

	  h2 {
	    border-bottom: 1px solid $grey_text;
	    font-size: 1em;
	    color: #333;
      text-transform: uppercase;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
    	font-weight: 500;
    	color: $grey_text;
    	margin-top: 2em;
    	padding-bottom: 0.2em;
	  }
	  h4 {
	    font-size: 1em;
	    color: $blue;
	  }
	  .button {
	    width: 100%;
	    border: 1px solid $blue;
    	background: none;
    	box-shadow: none;
    	&:hover {
    		border: 1px solid $blue;
    		background-color: $blue;
    		a{
    			color: #fff;
    		}
    	}
	  }
	}
}

.section .save-link {
  background: #f7f7f7;
	padding: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	p {
	  font-size: 0.85em;
	}
	input {
	  border: 1px solid #eee;
	  padding: 0.5em;
	  height: 3em;
	  width: 100%;
	  -webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	font-family: "museo-sans", Helvetica, Arial, sans-serif;
  	font-size: 0.85em;
  	font-weight: 300;
  	color: #666;
	}
	i {
    color: #666;
    background: #ccc;
    position: relative;
    top: -29px;
    right: -219px;
    padding: 0.7em 0.75em 0.75em 0.75em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	}
}

.team_container{
	margin: 0;
	padding-left: 2%;
	p{
		&.link {
			float: left;
			&.last{
				margin: 0 3%;
			}
		}
	}
	a {
		font-size: 0.75em;
		text-transform: uppercase;
		text-decoration: none;
		color: $blue;
	}

	img{
		max-width: 100%;
	}
	ul.project_team{
		padding: 0;
		margin: 0;
		list-style: none;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		margin:auto;
		li.employee{
			border: 5px solid #fff;
			width: 33%;
			height: 20%;
			margin: 2% 2% 2% 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			&.active {
			  background-color: #f7f7f7;
  			border: 5px solid #f7f7f7;
			}
			img{
				max-width: 100%;
				display: block;
			}
			&:hover{
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				background-color: #f7f7f7;
				border: 5px solid #f7f7f7;
				.employee_info {
					display: block;
					padding: 5%;
					h4 {
						padding: 0;
						line-height: 1em;
					}
					p {
						padding-bottom: 0;
						font-size: 0.9em;
					}
					
				}
			}
			.employee_info {
				display: block;
				padding: 0 0 3% 2%;
				h4 {
					padding-bottom: 0.25em;
					line-height: 1.3em;
				}
				p {
				  margin-bottom: 0;
					padding-bottom: 0;
					font-size: 0.9em;
				}
			}
		}
	}
}

.back_nav {
  display: block;
  a {
    font-size: 1em;
    color: $blue;
    text-decoration: none;
    margin-bottom: 10%;
    i {
      font-size: 0.75em;
    }
  }
}

div#footer_container {
	width:100%;
	position: absolute;
	background-color: #333;
	padding: 2% 0;
	margin-top: 6em;
	background: url('../imgs/map_world.png') no-repeat center;
	background-opacity: 0.2;
	background-size: 100%;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


ul.footer{	
	width: 70%;
	margin: auto;
  	list-style: none;
	li{
		padding: 0 1%;
		float: left;
		a {
			font-size: 0.8em;
			font-family: "museo-sans", Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: #bbb;
			text-transform: uppercase;
			&:hover{
				color: $blue;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}
	li#address{
		text-align: right;
		float: right;
		font-size: 0.85em;
		p{
			color: #bbb;
		}
	}
}

div.clear{
	clear: both;
}