$blue: #94BBFF;
$dark_blue: #5175A3;
$grey: #f4f2f2;
$grey_text: #5e5a5c;

div.section{
	width: 50%;
	padding: 1% 2%;
	margin: 0;
}

div.heading{
	width: 70%;
	margin-left: 15%;
	text-align: center;
	h2 {
	  display: inline-block;
	  border-top: 1px solid rgba(255,255,255,0.9);
	  border-bottom: 1px solid rgba(255,255,255,0.9);
	  padding: 2% 0;
	  margin-top: 5%;
	}
}

.team_container{
	ul.project_team{
		li.employee{
			width: 31%;
		}
	}
}

div#container{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 70%;
	margin:auto;
	.section_container{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		&#news{
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: column wrap;
			justify-content: space-around;
			height: 1220px;
		}
		&.about{
			width: 66%;
			h2 {
			  width: 100%;
			  &.programme {
			    margin: 1em 0;
			    padding-bottom: 1%;
          &#programme_1 {
            border-bottom: 3px solid #59B200;
          }
          &#programme_2 {
            border-bottom: 3px solid #FFC926;
          }
			  }
			}
		}
		&#working{
			height: none;
		}
		.section{
			width: 50%;
			padding: 2%;
			margin: 0;
			&.about{
				width:100%;
				padding: 0;
				margin-bottom: 1em;
				&.vacancy {
    	    border-bottom: 1px solid #eee;
    			padding: 4% 0;
    			margin: 0;
    			&.first {
    			  padding-top: none;
    			}
    			&.last {
    			  border-bottom: none;
    			}
    	  }
				h3{
					color: #999;
					font-weight: 300;
					text-align: left;
					padding: 0;
				}
				&.employee_projects {
    	    div.employee_project {
    	      h3 {
    	        margin: 0 0 1% 0;
    	        color: #333;
    	        font-weight: 500;
    	      }
    	    }
    	  }
				#academic_container{
					display: -webkit-flex;
					display: flex;
					-webkit-flex-flow: row wrap;
					justify-content: space-around;
					h3 {
						margin-bottom: 1%;
					}
				}
			}
		}
	}
		
	div.section{
		width: 50%;
		padding: 1% 2%;
		margin: 0;
		&.filters{
			width: 33%;
			&#staff {
			  width: 30%;
			  margin-right: 3%;
			  ul#fields li.header {
			    padding-right: 0;
			    span.badge {
  			    margin-top: 2%;
  			  }
			  }
			}
			&.about li{
				padding: 0.5em 0;
			}
		}
		&.data{
			width: 33%;
		}
		&#twitter{
			width: 29%;
			margin: 2% 2% 0 2%;
			p.last{
				margin-bottom: 0;
			}
		}
		&.featured_project{
			width: 50%;
			.output{
				padding-top: 2%;	
			}
			.donors{
				.partners_logos {
					margin-top: 0;
					img{
						padding: 0 2% 2% 2%;
					}
				}
			}
		}
	}
	div#data{
		margin-left: 10%;
		width: 56%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		.section{
			width: 100%;
			border-bottom: 1px solid #eee;
			padding: 6% 2%;
			
			h2 {
			  font-family: "museo-sans", Helvetica, Arial, sans-serif;
			  font-weight: 500;
			  margin-bottom: 0.35em;
			  margin-top: 0;
			}
			h3 {
			  color: #999;
			  font-size: 0.85em;
        font-weight: 300;
        text-align: left;
        padding: 0;
        margin-bottom: 0.5em;
        span.separator {
          color: #ddd;
        }
			}
			p.link {
			  margin-bottom: 0;
			}
			&.first{
				padding-top: 6%;
				h2{
					margin-top: 0;
				}
			}
			&.last {
			  border-bottom: none;
			}
		}
	}
}

#welcome_container{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	.section{
		&#who{
			width: 100%;
			margin-right: 2%;
		}
	}
}

div.hero{
  height: 60%;
  width: 70%;
	&#species .heading {
	  width: 40%;
    margin-left: 16.5%;
  	text-align: left;
  	h2 {
  	  border: none;
  	  margin-bottom: 3%;
  	}
	}
	
}

html, body {
  height: 100%;
}