%div{:class => "container dashboard", "ng-app" => "stats"}

  %header{:class => "dashboard-title", "ng-controller" => "GeoIpCtrl", "ng-model" => "country"}
    %h1
      Biodiversity data for {{country.name}}

  %div{:class => "section-group controls"}
    %section#view-button{:class => "group", "ng-controller" => "StatsBtnCtrl", "ng-show" => "visible"}
      %button{:class => "transparent", "ng-click" => "showStats()", "ng-show" => "visible"} View Now

    %section#search-field{:class => "group"}
      %div{:class => "geo_entities", "ng-controller" => "CountryPickerCtrl"}
        %input{:type=>"text", "ng-model"=>"selected", 'placeholder'=>"Search for another country", "typeahead"=>"country as country.name for country in getCountry($viewValue)"}

  %div{:class => "stats", "ng-controller" => "StatsCtrl", "ng-show" => "visible"}
  
    %div{:class => "biodiversity"}
      %div{:class => "section-group"}
        %section{:class => "group stats"}
          %div{:class => "stat"}
            %header
              %p Estimated biodiversity change
            %div{:class => "metrics-container", "ng-controller" => "CartodbStatsCtrl", "ng-model" => "country"}
              %div{:class => "spinner-small", "ng-show" => "carbo.loading"}
              %div.metric.percentage
                %span{:class => "number"} {{carbo.biodiversity_loss}} 
                %span{:class => "small"}%
              %div{:class => "bar-container"}
                %div{:class => "bar", :style => "width: {{carbo.biodiversity_loss * 3.3 * .7}}px;"}
          %div{:class => "stat"}
            %header
              %p Number of protected areas
            %div{:class => "metrics-container", "ng-controller" => "PpeStatsCtrl", "ng-model" => "ppe"}
              %div{:class => "spinner-small", "ng-show" => "ppe.loading"}
              %div.metric
                %span{:class => "number protected-areas"} {{ppe.protected_areas_count}} 
                %span{:class => "small"} covering {{ppe.percentage_protected}}% of total area
        %section{:class => "group stats"}
          %div{:class => "stat carbon"}
            %header
              %p Carbon storage
            %div{:class => "metrics-container carbon"}
              %div.metric
                %p{:class => "subheader"} Carbon stored in above ground biomass
                %div{:class => "submetric", "ng-controller" => "CartodbStatsCtrl", "ng-model" => "country"}
                  %div{:class => "spinner-small", "ng-show" => "carbo.loading"}
                  %span{:class => "number"} {{carbo.carbon_sums | number}} 
                  %span{:class => "small"} T
            %div{:class => "metrics-container carbon"}
              %div.metric
                %p{:class => "subheader"} Carbon stored by protected areas
                %div{:class => "submetric", "ng-controller" => "PpeStatsCtrl", "ng-model" => "ppe"}
                  %div{:class => "spinner-small", "ng-show" => "carbo.loading"}
                  %div.metric.percentage
                    %span{:class => "number"} {{ppe.protected_areas_carbon_percent | number}} 
                    %span{:class => "small"}%
                  %div{:class => "bar-container"}
                    %div{:class => "bar", :style => "width: {{ppe.protected_areas_carbon_percent * 3.3 * .7}}px;"}

      %div{:class => "section-group", "ng-controller" => "SapiStatsCtrl", "ng-model" => "sapi"}

        %section{:class => "group stats"}
          %div{:class => "stat"}
            %header{}
              %p
                %span {{sapi.trade_title}}
                %span{:class => "option-selector", "ng-click" => "toggleTrade()"} {{sapi.trade_selector}}
            %div{:class => "spinner", "ng-show" => "sapi.loading"}
            %div{"ng-show" => "sapi.trade_export"}
              %ol
                %li{'ng-repeat' => "t in sapi.trade_exports_top_data", "ng-show" => "sapi.loaded"} 
                  %p 
                    %b {{t.common_name_en || t.name}}: {{t.count}}
                  %p {{t.name}}
                %p{'ng-hide'=>"sapi.trade_exports_top_data.length", :class => "no-data"} No exported species.
            %div{"ng-show" => "sapi.trade_import"}
              %ol
                %li{'ng-repeat' => "t in sapi.trade_imports_top_data", "ng-show" => "sapi.loaded"}  
                  %p 
                    %b {{t.common_name_en || t.name}}: {{t.count}}
                  %p {{t.name}}     
                %p{'ng-hide'=>"sapi.trade_imports_top_data.length", :class => "no-data"} No imported species.

        %section{:class => "group stats"}
          %div{:class => "stat"}
            %header{}
              %p
                %span {{sapi.species_title}}
            %div{:class => "spinner", "ng-show" => "sapi.loading"}
            %div{"ng-show" => "sapi.species_cites"}
              %ol
                %li{'ng-repeat' => "s in sapi.species_cites", "ng-show" => "sapi.loaded"}
                  %p 
                    %b {{s.common_name_en || s.name}}: {{s.count}}
                  %p {{s.name}}
                %p{'ng-hide'=>"sapi.species_cites.length", :class => "no-data"} No listed species.
