%div{ 'ng-app' => 'EmployeesSearch', 'ng-controller' => 'SearchCtrl' }
  .search-field#staff
    %input.short{ :type => "text", :placeholder => "Search for a member of staff", 'ng-model' => 'query' }
    %i.icon-search
  - programmes.order('name').each do |programme|
    %a{ :id => programme.id }
    %h2.programme= programme.name
    #team-details
      %span
        %i.icon-phone
        = programme.phone_number
      %span
        %i.icon-envelope-alt
        %a{:href => "mailto:#{programme.email}"}= programme.email
    %h3.subprogramme Science, Economics, Policy and Partnerships
    = render partial: "programmes/employees_list", locals: {programme: programme}
