.form-group
  %label.control-label.col-sm-2 Top featured project?
  = form.check_box :is_top_project

.form-group{ "ng-app" => "EmployeesForm", "ng-controller" => "EmployeesCtrl", "ng-init" => "init(#{render partial: "employees", formats: :json}, #{render partial: "employments", formats: :json})" }
  .form-group{ "ng-repeat" => "form in forms" }
    %label.control-label.col-sm-2 Employee {{ formIndex() + 1 }}
    .col-sm-10
      .form-group
        %label.control-label.col-sm-2{:for => "employees[{{ formIndex() }}][id]"} Name
        .col-sm-8
          %select{ "ui-select2" => true, "ng-model" => "form.employee_id", "name" => "employees[{{ formIndex() }}][id]"}
            %option{ "ng-repeat" => "employee in employees", :value => "{{ employee.id }}", "ng-selected" => "form.employee_id == employee.id" }
              {{ employee.name }}

      .form-group
        %label.control-label.col-sm-2{:for => "employees[{{ formIndex() }}][role]"} Role
        .col-sm-8
          %input.form-control{ :type => "text", "ng-model" => "form.role", :name => "employees[{{ formIndex() }}][role]"}
      .form-group
        .col-sm-2
        .col-sm-8
          %input.btn.btn-danger{:type => "button", :value => "Remove", "ng-click" => "removeForm()"}

  .form-group
    .col-sm-2
    .col-sm-10
      %input.btn.btn-default{:type => "button", :value => "Add an employee", "ng-click" => "addEmployee()"}
