.control-group{ "ng-app" => "EmployeesForm", "ng-controller" => "EmployeesCtrl", "ng-init" => "init(#{render partial: "employees", formats: :json}, #{render partial: "employments", formats: :json})" }
  .control-group{ "ng-repeat" => "form in forms" }
    %label.control-label Employee {{ formIndex() + 1 }}
    .controls
      .control-group
        %label.control-label{:for => "employees[{{ formIndex() }}][id]"} Name
        .controls
          %select{ "ng-change" => "logger()", "ng-model" => "form.employee_id", "name" => "employees[{{ formIndex() }}][id]"}
            %option{ "ng-repeat" => "employee in employees", :value => "{{ employee.id }}", "ng-selected" => "form.employee_id == employee.id" }
              {{ employee.name }}

      .control-group
        %label.control-label{:for => "employees[{{ formIndex() }}][role]"} Role
        .controls
          %input{ :type => "text", "ng-model" => "form.role", :name => "employees[{{ formIndex() }}][role]"}
      .control-group
        .controls
          %input.btn.btn-danger{:type => "button", :value => "Remove", "ng-click" => "removeForm()"}

  .control-group
    .controls
      %input.btn{:type => "button", :value => "Add an employee", "ng-click" => "addEmployee()"}
