.hero#about{ :style => "background: url(#{cms_page_content(:background_image, employees_page).try(:file).try(:url)}) no-repeat center; background-size: 100%" }
  .heading
    %h1= cms_page_content(:heading, employees_page)
    %h2.shorter= cms_page_content(:heading_tagline, employees_page)
