- project_employments.each do |employment|
  %section
    %h3
      = link_to cms_page_content(:project_name, employment.project), employment.project.url
      %span.separator= '|'
      = employment.role
    %p= cms_page_content(:short_description, employment.project)
