.hero#wcmc{ :style => "background: url(#{cms_page_content(:wcmc_background, wcmc_page).try(:file).try(:url)}) no-repeat center; background-size: cover" }
  .heading
    %h1= cms_page_content(:heading, wcmc_page)
    %h2.shorter= cms_page_content(:heading_tagline, wcmc_page)
