.column-1-3.wide
  %ul.subnav
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.label == 'wcmc' then 'active' end}
      %a{href:"/wcmc", title:"Home"} Home
    %li{title:"History", :class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'history' then 'active' end}
      %a{href:"/wcmc/history"} History
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'trustees-and-governance' then 'active' end}
      %a{href:"/wcmc/trustees-and-governance", title:"Trustees and governance"} Trustees and governance
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'annual-reports' then 'active' end}
      %a{href:"/wcmc/annual-reports", title:"Annual Reports"} Annual Reports
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'vacancies' then 'active' end}
      %a{href:"/wcmc/vacancies", title:"Vacancies"} Vacancies
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'contact' then 'active' end}
      %a{href:"/wcmc/contact", title:"Contact"} Contact
    %li{:class => if @cms_site.identifier == 'wcmc' && @cms_page.slug == 'terms-and-conditions' then 'active' end}
      %a{href:"/wcmc/terms-and-conditions", title:"Terms and Conditions"} Terms and Conditions