<div class="donation-box" data-donation-box>
  <div class="donation-box__container">
    <div class="donation-box__header">
      <h3 class="donation-box__title">Make a one off payment</h3>
    </div>
    <div class="donation-box__body">
      <form action="/" class="donation-box__form">
        <div class="donation-box__input-group">
          <ul class="donation-box__radio-groups">
            <li class="donation-box__radio-group">
              <input type="radio" class="donation-box__radio" id="donationRadio1" name="donate">
              <label for="donationRadio1" class="donation-box__radio-label" data-donation-amount-button data-donation-amount="25">£25</label>
            </li>
            <li class="donation-box__radio-group">
              <input type="radio" class="donation-box__radio" id="donationRadio2" name="donate">
              <label for="donationRadio2" class="donation-box__radio-label" data-donation-amount-button data-donation-amount="50">£50</label>
            </li>
            <li class="donation-box__radio-group">
              <input type="radio" class="donation-box__radio" id="donationRadio3" name="donate">
              <label for="donationRadio3" class="donation-box__radio-label" data-donation-amount-button data-donation-amount="75">£75</label>
            </li>
            <li class="donation-box__radio-group">
              <input type="radio" class="donation-box__radio" id="donationRadio4" name="donate">
              <label for="donationRadio4" class="donation-box__radio-label" data-donation-amount-button data-donation-amount="100">£100</label>
            </li>
          </ul>
        </div>
        <div class="donation-box__input-group">
          <label class="donation-box__label donation-box__label--hidden" for="">Other Amount</label>
          <input class="donation-box__input donation-box__input--number" type="number" placeholder="other amount" step=".01" data-donation-amount-input>
        </div>
        <div class="donation-box__input-group">
          <input class="donation-box__submit" type="submit" value="Donate" data-donation-submit>
          <span class="donation-box__submit-tooltip">Please choose an amount</span>
          <p class="donation-box__error" data-donation-error-message>Please choose an amount</p>
        </div>
      </form>
    </div>
  </div>
</div>
