<div class="section__container container">
  <div class="section__left">
    <div class="ratio-16-9">
      <iframe src="https://www.youtube.com/embed/{{ cms:page:quote_video_id:string }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>

  <div class="section__right">
    <div class="blockquote--quotes">
      <blockquote class="blockquote__quote">{{ cms:page:quote_text:text }}</blockquote>
      <span class="blockquote__author">{{ cms:page:quote_cite:string }}</span>
    </div>
  </div>
</div>
