$blue: #94BBFF;
$dark_blue: #5175A3;
$grey: #f4f2f2;
$grey_text: #5e5a5c;


#container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  img {
    max-width: 100%;
    &.areas_work {
      display: inline-block;
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
      padding: 0;
    }
  }
  section.group {
    width: 30.3%;
    margin-right: 4.5%;
    &:nth-child(2n) {  
      margin-right: 4.5%;
    }
    &:nth-child(2n+3) {  
      clear: none;
    }
    &:nth-child(3n) {  
      margin-right: 0;
    }
    &:nth-child(3n+4) {
      clear: left;
    }
    &#twitter{
      padding: 1.5%;
  		#top_twitter{
  			width: 100%;
  			padding: 2% 0 5% 0;
  			div.button{
  				width: 120px;
  				margin-right: 1.75%;
  			}
  		}
  		.tweet{
  			padding: 3% 0;
  			small{
  				margin-bottom: 3%;
  			}
  		}
  	}
    &:last-child {
      margin-right: 0;
    }
    &.staff {
      width: 22%;
      margin-right: 1%;
      &:nth-child(4n) {  
        margin-right: 0;
      }
      &:nth-child(4n+4) {  
        clear: none;
      }
    }
  }
  .column-1-3 {
    width: 35%;
    float: left;
    padding-right: 9%;
    margin-right: 0;
    &.right {
      float: right;
      padding: 0 0 0 9%;
      padding-top: 60px;
    }
    img.employee_pic {
      width: 100%;
      margin-top: 30px;
    }
    img.partner_logo {
      width: 70%;
      margin-top: 30px;
    }
  }
  .column-2-3 {
    width: 65%;
    float: right;
    &.left {
      float: left;
    }
  }
}

div#nav{
	width:100%;
  .nav-container {
    overflow: hidden;
    width: 70%;
    a#home_link {
  		padding: 0;
  		float: left;
  		padding-left: 0;
  		width: 35%;
  		img {
  			max-width: 100%;
  		}
  	}
  	ul{
  		width: 65%;
  		margin: auto;
  		float: right;
  	  overflow: hidden;
  		li{
  			padding: 3.25% 0 0 2%;
  			float: right;
  		}
  	}
  }
}

div.banner {
  margin: 0 0 60px 0;
  img {
    max-width: 100%;
  }
}

div#container.other_projects {
  padding-bottom: 6em;
  section h2 {
    margin: 0.75em 0;
  }
  .section-group {
    width: 70%;
    margin: auto;
  }
}

div.heading{
  width: 75%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
	h1{
		margin-bottom: 0;
		font-size: 2.75em;
		line-height: 1.25em;
		font-weight: bold;
		display: inline-block;
		width: 80%;
		&#featured {
			font-size: 2em;
		}
	}
	h2 {
	  display: inline-block;
		font-weight: 300;
		margin: 0.5em 0;
		font-size: 1.25em;
		line-height: 1.4em;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
	}
	h1,h2{
		padding: 1% 0;
		color: #fff;
		text-shadow: 0 2px 15px rgba(0,0,0,0.3);
	}
	h1.short, h2.short, h2.shorter {
    margin: auto;
    display: inline-block;
  }

  h1.short {
    width: 70%;
  }

  h2.short {
    width: 84%;
  }
  
  h2.shorter {
    width: 64%;
  }
}

div#welcome, div#featured_heading {
  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}

div#featured_heading {
  margin-top: 60px;
}

div#footer_container {
	padding: 2% 0;
	margin-top: 60px;
}

div#footer_container.featured {
	margin-top: 0;
}

ul.footer{	
	width: 70%;
	margin: auto;
	li{
		padding: 0 1%;
		float: left;
	}
	li#address{
		text-align: right;
		float: right;
	}
}

.nav-container {
  width: 70% !important;
}


.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

ul#large-menu {
  display: block;
}

button#trigger-menu {
  display: none;
}

div.column-1-3#data {
  display: block;
}

div.column-1-3#data-small {
  display: none;
}

div.data_policy-small {
  display: none;
}

ul.subnav {
  display: block;
}

ul.subnav-small {
  display: none;
}