.column-1-3
  %ul.subnav
    %li
      %a{href:"/about-us/partners#partners-page", title:"Our partners"} Our partners
    %li
      %a{href:"/about-us/working-with-us#working-with-us-page", title:"Working with us"} Working at UNEP-WCMC
    %li
      %a{href:"/vacancies#vacancies-page", title:"Vacancies"} Vacancies
    %li
      %a{href:"/employees#staff-page", title:"The Team"} The Team
    %li
      %a{href:"/about-us/news-archive#news-archive", title:"Contact"} News archivies
    %li
      %a{href:"/about-us/contact#contact-page", title:"Contact"} Contact

  %ul.subnav-small
    %li
      %a{href:"/about-us/partners#partners-page", title:"Our partners"} Our partners
    %li
      %a{href:"/about-us/working-with-us#working-with-us-page", title:"Working with us"} Working at UNEP-WCMC
    %li
      %a{href:"/vacanciesi#vacancies-page", title:"Vacancies"} Vacancies
    %li
      %a{href:"/about-us/staff#staff-page", title:"The Team"} The Team
    %li
      %a{href:"/about-us/news-archive#news-archive", title:"Contact"} News archive
    %li
      %a{href:"/about-us/contact#contact-page", title:"Contact"} Contact

  = render "about_us/partners_data_policy"
