.column-1-3.wide
  %ul.subnav
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'partners' then 'active' end}
      %a{href:"/about-us/partners#partners-page", title:"Our partners"} Our partners
    %li{title:"Working with us", :class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'working-with-us' then 'active' end}
      %a{href:"/about-us/working-with-us#working-with-us-page"} Working at UNEP-WCMC
    %li{:class => if @cms_site.identifier == 'vacancies' && @cms_page.slug == 'index' then 'active' end}
      %a{href:"/vacancies#vacancies-page", title:"Vacancies"} Vacancies
    %li{:class => if @cms_site.identifier == 'employees' then 'active' end}
      %a{href:"/employees#staff-page", title:"The Team"} The Team
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'annual-reports' then 'active' end}
      %a{href:"/about-us/annual-reports", title:"Annual Reports"} Annual Reports
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'news-archive' then 'active' end}
      %a{href:"/about-us/news-archive#news-archive", title:"News Archive"} News archive
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'contact' then 'active' end}
      %a{href:"/about-us/contact#contact-page", title:"Contact"} Contact

  %ul.subnav-small
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'partners' then 'active' end}
      %a{href:"/about-us/partners#partners-page", title:"Our partners"} Our partners
    %li{title:"Working with us", :class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'working-with-us' then 'active' end}
      %a{href:"/about-us/working-with-us#working-with-us-page"} Working at UNEP-WCMC
    %li{:class => if @cms_site.identifier == 'vacancies' && @cms_page.slug == 'index' then 'active' end}
      %a{href:"/vacancies#vacancies-page", title:"Vacancies"} Vacancies
    %li{:class => if @cms_site.identifier == 'employees' then 'active' end}
      %a{href:"/employees#staff-page", title:"The Team"} The Team
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'annual-reports' then 'active' end}
      %a{href:"/about-us/annual-reports", title:"Annual Reports"} Annual Reports
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'news-archive' then 'active' end}
      %a{href:"/about-us/news-archive#news-archive", title:"News Archive"} News archive
    %li{:class => if @cms_site.identifier == 'about-us' && @cms_page.slug == 'contact' then 'active' end}
      %a{href:"/about-us/contact#contact-page", title:"Contact"} Contact

  = render "about_us/partners_data_policy"
