#news-archive.column-2-3
  %h1#first News archive
  - Cms::Page.find_by_full_path('/').children.reverse.each do |page|
    %section
      %h2.smaller
        %a{:href => page.full_path}
          = cms_page_content(:news_header,page)
      %h3 
        = cms_page_content(:time, page)
      %p
        = cms_page_content(:short_description, page)
