- if @cms_page.label == 'our-partners'
  .data_policy-small
    %h3
      %a{:href => "/policies"} Read our data policy
  #partners.data_policy
    %h3 Policies
    %p UNEP-WCMC does not assert any intellectual property rights in the data made available to it by data providers.
    %p Access to UNEP-WCMC datasets is provided on the understanding that you read and consent to be bound by the Terms and Conditions set out in our policies.
    %p
      %a{:href => "/policies"} View our policies
