- if @cms_page.label == 'our-partners'

  .info-message
    %h1 Policies
    %p UNEP-WCMC does not assert any intellectual property rights in the data made available to it by data providers.
    %p Access to UNEP-WCMC datasets is provided on the understanding that you read and consent to be bound by the Terms and Conditions set out in our policies.
    %a{:href => "/policies"} View our policies
