- if @cms_page.label == 'partners'
	#partners.data_policy
		%h3 Our data policy
		%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum velit at mi auctor imperdiet. Praesent vestibulum ac eros quis scelerisque
