- year = Time.now.year
- reports = 0
- until reports > 3 || year < 2000
  - page = Comfy::Cms::Site.find_by_identifier('resources-and-data').pages.root.children.find_by_slug("unep-wcmc-annual-report-#{year}")
  - year -= 1
  - if page
    - reports += 1
    %section.group.staff
      - if page_file(:thumbnail, page)
        %img{:src => page_file(:thumbnail, page).file.url}
      %h4
        %a{:href => '/resources-and-data' + page.full_path}
          = page.label
