<div class="container" ng-app="DatasetsResources" ng-controller="DatasetsCtrl" ng-init="init(<%= render partial: 'datasets/list', formats: :json %>,  <%= render partial: 'datasets/dataset_url_fields', formats: :json %>, <%= render partial: 'datasets/dataset_file_fields', formats: :json %>)">

  <div class="title-bar">
    <div class="title-bar__left">
      <h1>Resources & data</h1>
    </div>
    <div class="title-bar__right" id="data-small">
      <div class="search">
        <input class="search__input" ng-change="search()" ng-model="query" placeholder="Search resources or datasets" type="text"></input>
        <div class="search__icon">
          <%= fa_icon 'search inverse' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Filtering on mobile -->
  <%#<div class="column-1-3" id="data-small">%>
    <%#<button class="data button">%>
      <%#Type of content%>
      <%#<i class="icon-caret-down"></i>%>
    <%#</button>%>
    <%#<ul id="content-small">%>
    <%#<li class="content_type" ng-class="{active: contentType.selected && contentType.count > 0 " ng-click="toggleContentType()" ng-repeat="contentType in contentTypes" ng-show="contentType.count > 0">%>

        <%#<span class="badge">{{ contentType.count }}</span>%>
        <%#<p>{{ contentType.plural }}</p>%>
      <%#</li>%>
    <%#</ul>%>
  <%#</div>%>
  <!-- end filtering on mobile -->

  <div class="column-1-3" id="ata">
    <ul id="content">
      <li class="header">
        Type of content
      </li>

      <div class="filter__category" ng-class="{active: contentType.selected && contentType.count > 0}"  ng-repeat="contentType in contentTypes" ng-show="contentType.count > 0">
        <input type="checkbox" ng-checked="contentType.selected && contentType.count > 0" ng-click="toggleContentType()">
        <p>{{ contentType.plural }} ({{ contentType.count }})</p>
      </div>
    </ul>
    <button ng-click="deselectAll()" class="button u-align-center">Uncheck all</button>

    <div class="dataset__infoboxes">
      <div class="info-message">
        <h1>Policies</h1>
        <p>UN Environment World Conservation Monitoring Centre does not assert any intellectual property rights in the data made available to it by data providers.</p>
        <p>access to UN Environment World Conservation Monitoring Centre datasets is provided on the understanding that you read and consent to be bound by the terms and conditions set out in our policies.</p>
        <a href="/policies">View our policies <i class="fa fa-external-link"></i></a>
      </div>

      <div class="info-message">
        <h1>Biodiversity Heritage Library</h1>
        <a href="http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles">Search WCMC's historical publications <i class="fa fa-external-link"></i></a>
      </div>
    </div>
  </div>



  <div class="column-2-3" id="data">
    <div class="filter__sort">
      <div class="filter__sort__select">
        <select ng-change="sortDatesets()" ng-model="sortOrder" ng-options="order.value as order.name for order in sortOrders"></select>
      </div>
    </div>

    <section class="list" ng-repeat="dataset in datasetsToBeDisplayed">
      <div class="dataset">
        <div class="dataset__title">
          <h2><a href="/resources-and-data/{{ dataset.slug }}">{{ dataset.title }}</a></h2>
        </div>

        <div class="tags">
          <div class="tags__tag" ng-if="dataset.content_type">{{ dataset.content_type }}</div>
          <div class="tags__tag" ng-if="dataset.publication_date_year">{{ dataset.publication_date_year }}</div>
        </div>

        <div class="dataset__text">
          <p ng-bind-html="dataset.content"></p>
        </div>

        <small class="" ng-if="dataset.author">Author(s): {{ dataset.author }}</small>
        <small class="" ng-if="dataset.isbn">ISBN: {{ dataset.isbn }}</small>

        <div class="tags">
          <div class="tags__tag" ng-if="dataset.first_link"><a href="{{ dataset.first_link }}">{{dataset.first_link_label}}</a></div>
          <div class="tags__tag" ng-if="dataset.second_link"> <a href="{{ dataset.second_link }}">{{dataset.second_link_label}}</a></div>
          <div class="tags__tag" ng-show="dataset.file_url"> <a href="{{ dataset.file_url }}">Download</a> </div>
          <div class="tags__tag" ng-repeat="field in urlFieldsForDataset( dataset.id ) "><a href="{{ field.url }}">{{ field.label }}</a></div>
          <div class="tags__tag" ng-repeat="file in fileFieldsForDataset( dataset.id ) "><a href="{{ file.url }}">{{ file.label }}</div>
        </div>
      </div>
    </section>

    <h2 class="smaller" ng-if="datasetsToBeDisplayed.length == 0">No data found</h2>

    <div id="button-row u-width-100" ng-if="hiddenDatasets.length > 0">
      <%#<div class="button u-width-100" id="more_projects" ng-click="showMore()">%>
        <%#View more resources%>
      <%#</div>%>
      <button ng-click="showMore()" class="button u-align-center">View more resources</button>
    </div>

    <div class="info-message">
      <h1>Policies</h1>
      <p>UN Environment World Conservation Monitoring Centre does not assert any intellectual property rights in the data made available to it by data providers.</p>
      <p>access to UN Environment World Conservation Monitoring Centre datasets is provided on the understanding that you read and consent to be bound by the terms and conditions set out in our policies.</p>
      <a href="/policies">View our policies <i class="fa fa-external-link"></i></a>
    </div>

    <div class="info-message">
      <h1>Biodiversity Heritage Library</h1>
      <a href="http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles">Search WCMC's historical publications <i class="fa fa-external-link"></i></a>
    </div>

  </div>
</div>

