.container{"ng-app" => "DatasetsResources", "ng-controller" => "DatasetsCtrl", "ng-init" => "init(#{render partial: "datasets/list", formats: :json})"}
  #data-small.column-1-3
    .search_field_container
      %input.search_input{"ng-change" => "search()", "ng-model" => "query", :placeholder => "Search resources or datasets", :type => "text"}
      .icon_search
        %i.icon-search
    %select#sorting{"ng-change" => "sortDatesets()", "ng-model" => "sortOrder", "ng-options" => "order.value as order.name for order in sortOrders"}
    %button#content-button
      Type of content
      %i.icon-caret-down
    %ul#content-small
      %li.content_type{"ng-show" => "contentType.count > 0", "ng-class" => "{active: contentType.selected && contentType.count > 0}", "ng-click" => "toggleContentType()", "ng-repeat" => "contentType in contentTypes"}
        %span.badge {{ contentType.count }}
        %p {{ contentType.plural }}
    .data_policy-small
      %h3
        %a{:href => "/policies"} Read our data policy
    .data_policy
      %h3 Policies
      %p UNEP-WCMC does not assert any intellectual property rights in the data made available to it by data providers.
      %p Access to UNEP-WCMC datasets is provided on the understanding that you read and consent to be bound by the Terms and Conditions set out in our policies.
      %p
        %a{:href => "/policies"} View our policies
    %section.actions#search-button
      %h1 Biodiversity Heritage Library
      .button
        %p
          %a{:href => "http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles"} Search WCMC publications
    
  #data.column-1-3
    .search-field
      %input.short{"ng-change" => "search()", "ng-model" => "query", :placeholder => "Search resources or datasets", :type => "text"}
      .icon_search
        %i.icon-search
    %select#sorting{"ng-change" => "sortDatesets()", "ng-model" => "sortOrder", "ng-options" => "order.value as order.name for order in sortOrders"}
    %ul#content
      %li.header
        Type of content
        %span.badge{"ng-click" => "deselectAll()", "ng-style" => "{color: noneSelected() ? '#4c9cda' : '#ddd'}"} None
        %span.badge= '|'
        %span.badge{"ng-click" => "selectAll()", "ng-style" => "{color: allSelected() ? '#4c9cda' : '#ddd'}"} All
      %li.content_type{"ng-show" => "contentType.count > 0", "ng-class" => "{active: contentType.selected && contentType.count > 0}", "ng-click" => "toggleContentType()", "ng-repeat" => "contentType in contentTypes"}
        %span.badge {{ contentType.count }}
        %p{"ng-style" => "{color: contentType.selected ? '#5e5e5e' : '#aaa'}"} {{ contentType.plural }}
    .data_policy
      %h3 Policies
      %p UNEP-WCMC does not assert any intellectual property rights in the data made available to it by data providers.
      %p Access to UNEP-WCMC datasets is provided on the understanding that you read and consent to be bound by the Terms and Conditions set out in our policies.
      %p
        %a{:href => "/policies"} View our policies
    %section.actions#search-button
      %h1 Biodiversity Heritage Library
      .button
        %p
          %a{:href => "http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles"} Search WCMC publications

  #data.column-2-3
    %h1
      Resources &amp; data
    %section{"ng-repeat" => "dataset in activeDatasets"}
      %h2.smaller {{ dataset.title }}
      %h3
        {{ dataset.content_type }}
        %span.separator= '|'
        {{ dataset.publication_date | date: 'dd MMMM yyyy'}}
      %h3.author{ "ng-if" => "dataset.author" }
        Author: {{ dataset.author }}
      %h3.isbn{ "ng-if" => "dataset.isbn" }
        ISBN: {{ dataset.isbn }}
      %p{"ng-bind-html" => "dataset.content"}
      %p.link
        %a{:href => "{{dataset.first_link}}"} {{dataset.first_link_label}}
      %p.link
        %a{:href => "{{dataset.second_link}}"} {{dataset.second_link_label}}
      %p.link{ 'ng-show' => 'dataset.file_url' }
        %a{:href => "{{dataset.file_url}}" } Download
    %h2.smaller{"ng-if" => "activeDatasets.length == 0"} No data found.
