<div id="container" ng-app="DatasetsResources" ng-controller="DatasetsCtrl" ng-init="init(<%= render partial: "datasets/list", formats: :json %>)">
  <div id="data" class="column-1-3">
    <ul id="content">
      <li class="content_type" ng-repeat="contentType in contentTypes">
        <span class="badge">{{ contentType.count }}</span>
        {{ contentType.plural }}
      </li>
    </ul>
  </div>
  <div id="data" class="column-2-3">
    <h1>
      Resources &amp; data
    </h1>
    <section ng-repeat="dataset in datasets">
      <h2 class="smaller">{{ dataset.title }}</h2>
      <h3>
        {{ dataset.content_type }}
        <span class="separator">|</span>
        {{ dataset.publication_date }}
      </h3>
      <p>
        {{ dataset.content }}
      </p>
    </section>
  </div>
</div>
