<header class="hero background--fishing">
  <div class="hero__card">
    <div class="hero__title">
      <h1>SUBMITTED JOB APPLICATIONS</h1>
      <br>
      <p>
        SORTED BY APPLICATION
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="title-bar">
    <h1>Listing job applications</h1>
  </div>
  <ul>
  <% @forms.each do |form| %>
    <li>
      <h3>
        <%= link_to form.vacancy.label, application_path(form) %>
      </h3>
    </li>
  <% end %>
  </ul>
</div>
