$white:       #fff;
$light-grey:  #eaeaea;
$dark-grey:   #5c5c5c;
$dark-mid-grey: #666;
$black:       #000;
$facebook:    #4c66a4;
$twitter:     #55acee;
$linkedin:    #0084bf;
$youtube:     #c4302b;
$dark-blue:   #043c7b;
$light-blue:  #abbdd2;
$medium-grey: #bbb;
$red:         #f00;
$light-blue: #31a0c9;
