$white:       #fff;
$light-grey:  #EAEAEA;
$dark-grey:   #5C5C5C;
$black:       #000;
$facebook:    #4C66A4;
$twitter:     #55ACEE;
$linkedin:    #0084BF;
$dark-blue:   #043c7b;
$light-blue:  #abbdd2;
$medium-grey: #bbb;
