.hidden-phone-down {
  @media (max-width: $phone){
    display: none !important;
  }
}

.hidden-tablet-down {
  @media (max-width: $tablet){
    display: none !important;
  }
}

.text-center {
  text-align: center !important;
}

.u-width-100 {
  width: 100%;
}

.u-align-center {
  margin: auto;
}

.u-flex-container {
  width: 70%;
  max-width: 980px;
  margin: auto;
  @extend %flexbox;
  @include align-items(flex-end);
}

.u-column-no-top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

//--------------------------------------------------------------------------------
// margin and padding
//--------------------------------------------------------------------------------
.no-padding { padding: 0; }
.no-margin { margin: 0; }
