.hidden-phone-down {
  @media (max-width: $phone){
    display: none !important;
  }
}

.hidden-tablet-down {
  @media (max-width: $tablet){
    display: none !important;
  }
}

.text-center {
  text-align: center !important;
}

.u-width-100 {
  width: 100%;
}

.u-align-center {
  margin: auto;
}

.u-flex-container {
  width: 70%;
  max-width: 980px;
  margin: auto;
  @extend %flexbox;
  @include align-items(flex-end);
}

.u-column-no-top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

//--------------------------------------------------------------------------------
// background
//--------------------------------------------------------------------------------
.bg--white { background-color: $white; }

//--------------------------------------------------------------------------------
// borders
//--------------------------------------------------------------------------------
.border--shadow { box-shadow: 2px 4px 2px -2px darken($light-grey, 8%); }

//--------------------------------------------------------------------------------
// display
//--------------------------------------------------------------------------------

.ratio-16-9 {
  padding-top: 56%;
  width: 100%;

  position: relative;

  iframe,
  video {
    width: 100%; height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
  }
}

//--------------------------------------------------------------------------------
// lists
//--------------------------------------------------------------------------------
.ul--plain { margin: 0; }
.li--plain { list-style: none; }

//--------------------------------------------------------------------------------
// margin and padding
//--------------------------------------------------------------------------------
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
