@import 'utilities/breakpoints';

.hidden-phone-down {
  @media (max-width: $phone){
    display: none !important;
  }
}

.hidden-tablet-down {
  @media (max-width: $tablet){
    display: none !important;
  }
}

.text-center {
  text-align: center !important;
}
