.row {
  width: 100%;
  background-color: $white;
  padding: 2em 0;
}

.row--flexbox {
  @include flexbox;
}

.container-flex {
  @extend %flexbox;
  width: 70%;
  max-width: 980px;
  margin: auto;
}

.container {
  @media(min-width: $desktop){
    width: $site-width;
  }
}
