@import 'utilities/breakpoints';
@import 'utilities/colors';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  margin-bottom: 0.875rem;

  @media(min-width: $tablet){
    margin-bottom: 1.5rem;
  }
}

h2 {
  margin-bottom: 0.375rem;

  @media(min-width: $tablet){
    margin-bottom: 0.5rem;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: $dark-blue;

  &:hover {
    color: $dark-blue;
  }
}

p.lead {
  color: $dark-grey;
  font-size: 1.2em;
  width: 50%;
  margin: auto;
}

ul {
  margin-left: 1.25rem;
  margin-bottom: 0.625rem;

  li {
    padding: 0.5em 0;
  }
}
