h1, h2, h3, h4, h5, h6 {
  font-family: $font-roboto-slab;
}

h1 {
  margin-bottom: 0.875rem;

  @media(min-width: $tablet){
    margin-bottom: 1.5rem;
  }
}

h2 {
  margin-bottom: 0.375rem;

  @media(min-width: $tablet){
    margin-bottom: 0.5rem;
  }
}

body {
  font-family: $font-roboto;
  font-weight: $body-font-weight;
}

a {
  color: $dark-blue;

  &:hover {
    color: $dark-blue;
  }
}

p.lead {
  color: $dark-grey;
  font-size: 1.2em;
  width: 50%;
  margin: auto;
}