<section class="row">
  <div class="container cards-row">
    <% Comfy::Cms::Site.find_by_identifier('featured-projects').pages.root.children.published.where(is_top_project: true).includes(blocks: [:files]).take(6).each do |page| %>
      <div class="card card--third card--resource">
        <% if page_file(:thumbnail, page).present? %>
          <%= image_tag page_file(:thumbnail, page).file.url, class: 'card__image' %>
        <% end %>

        <h1 class="card__title"><a href="<%= page.url(:relative) %>"><%= truncate(block_content(:project_name, page), escape: false, length: 70, omission: "...") %></a></h1>
        <p class="card__text">
          <%= truncate(block_content(:short_description, page), escape: false, length: 200, omission: "..." ) %></p>
      </div>
    <% end %>
  </div>

  <div class="row text-center">
    <a href="/featured-projects" class="button">Discover more about our expertise</a>
  </div>
</section>
