<div class="hero">
<div class="hero__card">
  <div class="hero__title">
    <h1>Knowledge that makes a world of difference</h1>
  </div>
  <div class="hero__text">
    <p>UN Environment World Conservation Monitoring Centre is a world leader in biodiversity knowledge.  It works with scientists and policy makers worldwide to place biodiversity at the heart of environment and development decision-making to enable enlightened choices for people and the planet.  </p>
    <br>
    <a href="/about-us" class="button hero__button">Discover more</a>
  </div>
</div>
</div>
