<section class="row">
  <div class="container cards-row">
    <% Comfy::Cms::Site.find_by_identifier('news').pages.root.children.published.includes(blocks: [:files]).reverse.take(6).each do |page| %>
      <div class="card card--third card--news">
        <h1 class="card__title"><a href="<%= page.url(:relative) %>"><%= truncate(block_content(:news_header, page), escape: false, length: 70, omission: "...") %></a></h1>
        <small class="card__timestamp"><%= formatted_time(block_content(:time, page)) %></small>
        <div class="card__text">
          <%= truncate(block_content(:short_description, page), escape: false, length: 200, omission: "..." ) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row text-center">
    <a href="/about-us/news-archive" class="button">Discover more news</a>
  </div>
</section>
