<header class="hero background--hills">
  <div class="hero__card">
    <div class="hero__title">
      <h1> <%= cms_block_content(:heading, news_page) %> </h1>
      <br>
      <p> <%= cms_block_content(:tagline, news_page) %> </p>
    </div>
  </div>
</header>