<header class="hero background--fishing">
  <div class="hero__card">
    <div class="hero__title">
      <h1> <%= cms_block_content(:subheading, news_page) %> </h1>
      <br>
      <p> <%= cms_block_render(:subheading_intro, news_page) %> </p>
    </div>
  </div>
</header>