.hero#about{ :style => "background: url(#{cms_block_content(:news_item_background, news_page).try(:file).try(:url)}) no-repeat center; background-size: cover" }
  .heading
    %h1= cms_block_content(:heading, news_page)
    %h2.shorter= cms_block_content(:heading_tagline, news_page)
