<div class="cards-row">
  <% Comfy::Cms::Site.find_by_identifier('news').pages.root.children.published.includes(blocks: [:files]).reverse.take(6).each do |page| %>

    <div class="card card--third">
      <% if page_file(:news_img, page).present? %>
        <%= image_tag page_file(:news_img, page).file.url, class: 'card__image' %>
      <% end %>
      <h1 class="card__title"><%= block_content(:news_header, page) %></h1>
      <small class="card__timestamp"><%= formatted_time(block_content(:time, page)) %></small>
      <p class="card__text">
        <%= truncate(block_content(:short_description, page), length: 200, omission: "..." ) %>
      </p>
      <div class="tags">
        <a href="#" class="tags__tag">report</a>
        <a href="#" class="tags__tag">database</a>
      </div>
    </div>

  <% end %>
</div>

<%#.section-group%>
  <%#// Add visible back in after .published.visible.inclues...%>
  <%#- Comfy::Cms::Site.find_by_identifier('news').pages.root.children.published.includes(blocks: [:files]).reverse.take(6).each do |page|%>
    <%#%section.group%>
      <%#%small= formatted_time(block_content(:time, page))%>
      <%#= link_to '/news' + page.full_path do%>
        <%#- if page_file(:news_img, page).present?%>
          <%#%img{:src => page_file(:news_img, page).file.url, :width => "", :height => ""}%>
      <%#%h2.smaller%>
        <%#%a.heading{:href => page.url}%>
          <%#= block_content(:news_header,page)%>
      <%#%p%>
        <%#= raw block_content(:short_description, page)%>
