- Comfy::Cms::Site.find_by_identifier('news').pages.root.children.published.includes(blocks: [:files]).reverse.each do |page|
  %section.list
    %h2.smaller
      %a{:href => '/news' + page.full_path}
        = block_content(:news_header, page)
    %small
      = formatted_time(block_content(:time, page))
    %p
      = raw block_content(:short_description, page)
