- if @submission.errors.any?
  .error-message
    %h2
      %i.icon-warning-sign
      = pluralize(@submission.errors.count, "error")
      are keeping this submission from being saved
    %ul
      - @submission.errors.full_messages.each do |msg|
        %li= msg
