#application-related.column-1-3.right
  %div.info-message
    %h1
      %i.icon-info-sign
      All fields are required
    %p
      You can leave this page and keep editing later. Just click on the
      %strong Save&nbsp;&amp;&nbsp;edit&nbsp;later
      button and we'll send you a link to your application to the email address you provide.
