.control-group
  %label.control-label Related news 1
  .controls
    = select_tag "news_item[0][id]", options_from_collection_for_select(@news_list, :id, :label, @references[0].try(:related_news_id))
.control-group
  %label.control-label Related news 2
  .controls
    = select_tag "news_item[1][id]", options_from_collection_for_select(@news_list, :id, :label, @references[1].try(:related_news_id))

