.control-group{ "ng-app" => "DatasetFieldForm", "ng-controller" => "DatasetFieldCtrl", "ng-init" => "init(#{render partial: "dataset_url_fields", formats: :json}, #{render partial: "dataset_file_fields", formats: :json})"}
  .control-group{ "ng-repeat" => "form in urlFieldForms", "ng-show" => "!form.removed" }

    %label.control-label Url
    .controls
      .control-group
        %label.control-label{:for => "urlFieldForms[{{ urlFieldFormIndex() }}][label]"} Label
        .controls
          %select{ "ui-select2" => true, "ng-model" => "form.label", "name" => "urlFieldForms[{{ urlFieldFormIndex() }}][label]", "ng-change" => "clearCustomLabel(urlFieldFormIndex(), 'url')" }
            %option{"ng-repeat" => "option in urlSelectDefaultOptions", :value => "{{ option }}", "ng-selected" => "form.label == '{{ option }}' "}
              {{ option }}
            %option{ :value => "Custom label", "ng-selected" => "form.label == 'Custom label'" }
              Custom label
        .controls
          %input{ :type => "text", "ng-model" => "form.custom_label", :name => "urlFieldForms[{{ urlFieldFormIndex() }}][custom_label]", "ng-show" => "showLabelInput(form)"}
          %input{ :type => "hidden", "ng-model" => "form.id", :name => "urlFieldForms[{{ urlFieldFormIndex() }}][id]", "ng-if" => "form.id", "value" => "{{ form.id }}"}
          %input{ :type => "hidden", "ng-model" => "form.removed", :name => "urlFieldForms[{{ urlFieldFormIndex() }}][removed]", "ng-if" => "form.removed", "value" => "{{ form.removed }}"}

      .control-group
        %label.control-label{:for => "urlFieldForms[{{ urlFieldFormIndex() }}][url]"} Url
        .controls
          %input{ :type => "text", "ng-model" => "form.url", :name => "urlFieldForms[{{ urlFieldFormIndex() }}][url]"}
      .control-group
        .controls
          %input.btn.btn-danger{:type => "button", :value => "Remove", "ng-click" => "removeUrlFieldForm(urlFieldFormIndex())" }

  .control-group
    .controls
      %input.btn{:type => "button", :value => "Add a link", "ng-click" => "addUrlField()"}


  .control-group{ "ng-repeat" => "form in fileFieldForms", "ng-show" => "!form.removed" }

    %label.control-label File 
    .controls
      .control-group
        %label.control-label{:for => "fileFieldForms[{{ urlFieldFormIndex() }}][label]"} Label
        .controls
          %select{ "ui-select2" => true, "ng-model" => "form.label", "name" => "fileFieldForms[{{ fileFieldFormIndex() }}][label]", "ng-change" => "clearCustomLabel(fileFieldFormIndex())" }
            %option{ :value => "Download", "ng-selected" => "form.label == 'Download'"}
              Download 
            %option{:value => "Custom label", "ng-selected" => "form.label == 'Custom label'" }
              Custom label
        .controls
          %input{ :type => "text", "ng-model" => "form.custom_label", :name => "fileFieldForms[{{ fileFieldFormIndex() }}][custom_label]", "ng-show" => "showLabelInput(form)"}
          %input{ :type => "hidden", "ng-model" => "form.id", :name => "fileFieldForms[{{ fileFieldFormIndex() }}][id]", "ng-if" => "form.id", "value" => "{{ form.id }}"}
          %input{ :type => "hidden", "ng-model" => "form.removed", :name => "fileFieldForms[{{ fileFieldFormIndex() }}][removed]", "ng-if" => "form.removed", "value" => "{{ form.removed }}"}

      .control-group
        %label.control-label{:for => "fileFieldForms[{{ fileFieldFormIndex() }}][file]"} File
        .controls
          %input{ :type => "file", "ng-model" => "form.file", :name => "fileFieldForms[{{ fileFieldFormIndex() }}][file]" }
          %a{ :href => "{{ form.url }}", "ng-if" => "form.url"}
            %p {{ form.filename }}
      .control-group
        .controls
          %input.btn.btn-danger{:type => "button", :value => "Remove", "ng-click" => "removeFileFieldForm(fileFieldFormIndex())" }

  .control-group
    .controls
      %input.btn{:type => "button", :value => "Add a file", "ng-click" => "addFileField()" }
