//legacy base stylesheet
@import "compass/reset";

$blue: #4295d5;
$light-blue: #A8CDEE;
/*$dark_blue: #3376BA;*/
$dark_blue: $dark-blue;
$blue_news: #5175a3;
$grey: #ddd;
$light_grey: #f7f7f7;
$medium_grey: #bbb;
$number_grey: #999;
$dark_grey: #333;
$darkest_grey: #222;
$h2: #777;
$grey_text: #5e5a5c;
$green: #B7CF65;
$green-carbon: #8ac229;
$orange: #EE9635;
$red: #EC8486;
$yellow: #FFDB65;
$white_link: rgba(255,255,255, 0.75);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container {
  margin: 50px auto;
  width: 90%;

  @media(min-width: $tablet){
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &.column-1 {
    width: 90%;
    padding: 5%;
    background-color: rgba(255,255,255,0.9);
  }
  section {
    float: none;
  }
}

h1, h2, h3, h5 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  em {
    font-style: italic;
  }
}

h1{
  font-size: 1.75em;
  line-height: 1em;
  /*margin: 0 0 0.75em 0;*/
  color: $grey_text;
  font-weight: 700;
}

h2{
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0.75em 0;
  color: $h2;
  &.smaller {
    font-size: 1.2em;
    letter-spacing: -0.025em;
  }
  &.related-heading-big {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
    padding: 50px 0 25px 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
  }
  &.programme {
  line-height: 1em;
  margin: 30px 0 25px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
  &:first-of-type {
    margin-top: 50px;
    }
  }
  &.related-project {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 20px 0 10px 0;
  }
  &.project {
    text-transform: none;
    font-size: 1.2em;
    font-weight: 300;
    color: #5e5a5c;
    word-spacing: 0;
    letter-spacing: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    .separator {
      color: $grey;
    }
  }
}

h3{
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4em;
  margin: 1em 0 0.5em 0;
  color: $medium_grey;
  &.position {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: $grey_text;
    .separator {
      color: $grey;
    }
  }
  &.data {
    word-spacing: 0.07em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 300;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 1em 0;
  }
  &.author, &.isbn {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    word-spacing: 0;
    letter-spacing: 0;
    text-transform: none;
    font-size: 0.85em;
    font-weight: 300;
    color: $grey_text;
  }
  &.author {
    margin-bottom: 0.5em;
  }
  &.isbn {
    margin-top: 0;
  }
  &#news {
    width: 100%;
    margin: auto;
    font-size: 0.8em;
    margin-bottom: 30px;
    padding-top: 60px;
    display: inline-block;
    text-align: left;
    font-weight: 400;
    font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
    word-spacing: 0.07em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $grey_text;
  }
  &.vacancy-position {
    font-size: 1em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: $medium_grey;
    margin-bottom: 10px;
    span#separator {
      display: inline-block;
      padding: 0 5px;
    }
    a#department {
      text-transform: uppercase;
    }
  }
  &.subprogramme {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: $grey_text;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-size: 0.85em;
    line-height: 1.5em;
  }
}

address, p {
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 300;
  color: $grey_text;
  i {
    display: inline-block;
    font-size: 0.85em;
    padding-right: 5px;
  }
}

p strong {
  font-weight: 600;
}

p em {
  font-style: italic;
}

p.role {
  font-size: 0.85em;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $blue;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
  }
}

small {
  display: block;
  font-size: 0.75em;
  color: $medium_grey;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 1.25em;
  &.news-item {
    font-size: 0.85em;
    margin-bottom: 10px;
  }
}

ul {
  list-style-type: disc;
  li {
    font-weight: 300;
    color: $grey_text;
  }
}

ol {
  list-style-type: decimal;
  padding: 1em 0 1em 1.25em;
  li {
    font-size: 1em;
    margin-bottom: 0.75em;
    line-height: 1.5em;
    font-weight: 300;
    color: $grey_text;
  }
}

#nav{
  background-color: $darkest_grey;
  overflow: hidden;
  a#home_link {
    position: relative;
    top: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    background: $blue;
    img {
      max-width: 100%;
      max-height: 52px;
      display: block;
      background: $blue;
      padding: 2% 5%;
    }
  }
  ul{
    margin: auto;
    list-style: none;
    overflow: hidden;
    float: right;
    list-style-type: none;
    li{
      line-height: 1em;
      padding: 0;
      margin: 0;
      a {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        font-weight: 300;
        text-decoration: none;
        color: $white_link;
        text-transform: uppercase;
        &:hover{
          color: #fff;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        &.active {
          color: #fff;
        }
      }
    }
  }
}


div.hero{
  background-image: cover;
  background-position: center;
  background-repeat: no-repeat;
}

figcaption {
  position: absolute;
  bottom: 0;
  right:0;
  display: inline-block;
  background: rgba(0,0,0,0.6)
  p {
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
    padding: 3px 5px;
    margin: 0;
  }
}

div.container.related {
  border-top: 1px solid $grey;
  div.button {
    margin: 30px auto 0 auto;
  }
}

div.heading{
  width: 90%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
  h1 {
    margin-bottom: 0;
    font-size: 1.4em;
    line-height: 1.25em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  h2 {
    font-weight: 300;
    margin: 0.5em 0;
    font-size: 0.85em;
    line-height: 1.4em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    border-top: 1px solid rgba(255,255,255, 0.9);
    border-bottom: 1px solid rgba(255,255,255, 0.9);
    margin-top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  h1,h2 {
    padding: 1% 0;
    color: #fff;
  }
  &.featured-project {
    width: 60%;
    margin-left: 5%;
    text-align: left;
    h1, h2 {
      padding: 0;
    }
    h2 {
      margin: 25px 0;
      padding: 5px 0;
    }
    div.button#featured_project {
      margin: 0;
    }
  }
}

div.button, button {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*border-radius: 3px;*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid $blue;
  background: none;
  box-shadow: none;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $blue;
  outline: none;
  max-width: 250px;
  a {
    font-weight: 300;
  }
  i {
    float: right;
  }
  &:hover, &:active {
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &.margin {
    margin-top: 20px;
  }

  &.data {
    text-align: left;
  }

  &.banner, &#twitter {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 1px solid $medium_grey;
    background-color: rgba(0,0,0,0.05);
    a {
      color: #fff;
    }
    &:hover, &:active {
      border: 1px solid $blue;
      background-color: $blue;
      a{
        color: #fff;
      }
    }
  }
  &.banner {
    border: 1px solid #fff;
  }

  &.bhl, &.policies {
    max-width: 290px;
    font-size: 0.85em;
    a {
      line-height: 1.25em;
    }
  }
}

.container {
  img {
    max-width: 100%;
    display: block;
  }
  &#news-projects-home {
    background-color: #fff;
    width: 100%;
    padding: 0 5% 60px 5%;
    margin: 0;
    div#projects-home-content, div#news-home-content {
      border-bottom: 1px solid $grey;
      padding-bottom: 60px;
      div.button {
        margin: 40px auto 0 auto;
        background: $dark-blue;
        cursor: pointer;
        border: none;
        a {
          color: #fff;
        }
        &:hover, &:active {
        background: $dark_blue;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        }
      }
    }
    div#news-home-content {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  section#twitter{
    background: $grey;
    padding: 25px;
    #top_twitter{
      width: 100%;
      padding: 2% 0 5% 0;
      img{
        display: block;
        max-width: 19%;
        opacity: 0.3;
        float: left;
      }
    }
    .tweet{
      padding: 3% 0;
      small{
        margin-bottom: 3%;
      }
      &:last-child {
        padding-bottom: 0;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

div.column-2-3 {
  /*padding-top: 50px;*/
}

div.column-1-3 {
  section.actions, section.related-content {
    max-width: 350px;
  }
  &.wide  {
    max-width: 100%;
  }
  &.right {
    margin-top: 60px;
    max-width: 100%;
    section.actions, section.related-content {
      &:first-child {
      margin-top: 0;
      }
    }
  }
}

section.larger {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}

section.list {
  overflow: hidden;
  p.link {
    float: left;
    margin-right: 20px;
  }
  &:first-of-type {
    border-top: none;
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  &#expertise, &#intro {
    border: none;
  }
}


ul.subnav, ul.subnav-small {
  list-style-type: none;
  font-weight: 300;
  padding: 0;
  margin: 0;
  list-style: none;
    li{
    line-height: 1em;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid $blue;
    a {
      text-decoration: none;
      line-height: 1.25em;
    }
    &:hover, &:active, &.active {
      background: $blue;
      a {
        color: #fff;
      }
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    &.header {
      color: $grey_text;
      border-bottom: 1px solid #4c9cda;
      padding-left: 0;
      font-weight: $body-font-bold;
      i {
        color: $blue;
      }
      &:hover {
        background-color: none;
        color: $blue;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: none;
      }
    }
  }
  ul.expertise-small, ul.expertise {
    text-transform: none;
    padding-left: 0;
    font-size: 0.85em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      line-height: 1.25em;
    }
    &:first-of-type {
      margin-bottom: 15px;
    }
    &#specialise li:last-of-type {
      margin-bottom: 0;
    }
  }
  ul.expertise-small {
    display: none;
  }
}

ul.subnav li.header:hover {
  color: $grey_text;
}

ul.subnav {
  display: none;
}

ul.subnav.areas {
  display: block;
}

// ul.partners_logos {
//   overflow: hidden;
//   margin-top: 20px;
//   margin-bottom: 40px;
//   li {
//     display: inline-block;
//     margin-right: 5%;
//     float: left;
//   }
// }

select#sorting, select#sorting option, div.search-field {
  width: 100%;
  cursor: pointer;
  background: #fff;
  margin: 30px 0 0 0;
  outline: none;
  line-height: 1.5em;
  border: 1px solid $grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

select#sorting, select#sorting option {
  font-weight: 300;
  padding: 10px;
  font-size: 0.85em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: $grey_text;
  font-weight: 300;
}

div.search-field {
  overflow: hidden;
  margin-top: 0;
  input {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 0.85em;
    font-weight: 300;
    border: none;
    width: 86%;
    outline: none;
    float: left;
  }
  i {
    color: $grey_text;
    font-size: 0.85em;
    display: block;
    padding: 10px 10px 10px 0;
    float: right;
    line-height: 1.5em;
    margin-top: 1px;
  }
}


ul#content, ul#content-small {
  margin: 30px 0 0 0;
  font-size: 0.85em;
  list-style-type: none;
  padding: 0;
  li{
    cursor: pointer;
    color: $grey_text;
    font-weight: 300;
    padding: 0 0 0 15px;
    margin: 20px 0;
    line-height: 1.7em;
    border-left: 5px solid #fff;

    &.header {
      cursor: default;
      font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
      border-bottom: 1px solid #eee;
      padding: 0 0 10px 0;
      border-left: none;
      margin-bottom: 10px;
      span.badge {
        width: 42px;
        font-size: 0.85em;
        font-weight: 300;
        margin-top: 1.5%;
        margin-left: 5px;
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
        line-height: 25px;
        &:hover, &:active {
          background: $blue;
          color: #fff;
        }
        &.active {
          background: $blue;
          color: #fff;
        }
      }
    }
    &.content_type {
      border-left: 5px solid $grey;
      padding-left: 3%;
      p, span.badge {
        color: #bbb;
        font-weight: 500;
      }
    }

    &.active {
      &.content_type {
        border-left: 5px solid $blue;
        p, span.badge {
          color: #999;
        }
      }
    }

    &:hover {
      &.content_type {
        p, span.badge {
          color: $grey_text;
        }
      }
    }

    span.badge {
      margin-left: 20px;
      float: right;
      font-weight: 300;
      color: $grey;
      i.icon-caret-down {
        font-size: 1.5em;
      }
    }
  }
}

div.filters {
  margin-bottom: 30px;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  padding: 10px 0;
  p {
    color: $medium_grey;
    text-transform: uppercase;
    font-size: 0.85em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

span.active-filter {
  background: $blue;
  color: #fff;
  padding: 5px 5px 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 0.85em;
  text-transform: none;
  letter-spacing: 0.02em;
  i {
    font-size: 0.9em;
    padding-right: 0;
    line-height: 20px;
  }
  &:hover, &:active {
  background: $dark_blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  &:first-child {
    margin-left: 5px;
  }
}

div.column-1-3#data-small {
  overflow: hidden;
  div.search-field, select#sorting {
    margin-top: 20px;
    font-size: 1em;
  }
  div.search-field input {
    font-size: 1em;
  }
  display: block;

  ul#content-small {
    display: none;
    margin: 20px 0 0 0;
    font-size: 1em;
    list-style-type: none;
    padding: 0;
    li {
      cursor: pointer;
      color: $grey_text;
      font-size: 0.85em;
      font-weight: 300;
      padding: 0 0 0 15px;
      margin: 20px 0;
      line-height: 1.7em;
      border-left: 5px solid #fff;
    }
  }
  button.data {
    margin-top: 20px;
    max-width: 100%;
    color: $grey_text;
    border: 1px solid $grey;
    &:hover, &:active {
      color: $blue;
      border: 1px solid $blue;
      background: none;
    }
  }

  div.button.margin {
    float: left;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  section.actions, section.related-content {
    margin-top: 20px;
  }
}

div.info-message {
  background: #f7f7f7;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  p,a {
    font-size: 0.85em;
    font-weight: 300;
  }
  h1 {
    font-size: 1em;
    font-weight: 400;
    font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    i {
      padding-right: 5px;
    }
  }
  strong {
    font-weight: 400;
  }
}


form {
  section {
    textarea, input {
      width: 100%;
      margin: 0 0 10px 0;
      border: 1px solid $grey;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: $grey_text;
      padding: 0.5em;
    }
    input[type="radio"], input[type="checkbox"] {
      width: 2%;
      margin-left: 1px;
      margin-right: 5px;
    }
    input[type="file"] {
      border: none;
      opacity: 1;
      cursor: pointer;
    }
    p#practical-instructions {
      margin-bottom: 15px;
    }
    p.upload {
      color: $blue;
    }
    input.state {
      margin-top: -10px;
    }
  }
  input[type="submit"] {
    background: $blue;
    border: 1px solid $blue;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    display: inline-block;
    margin: 30px 2% 30px 0;
    width: 45%;
    outline: none;
    &[name="save"] {
      background: none;
      border: 1px solid $blue;
      color: $blue;
      &:hover {
        background: $blue;
        color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}

div#footer_container {
  width:100%;
  position: absolute;
  background-color: $dark_grey;
  background: image-url('map_world_small.png') no-repeat center;
  background-opacity: 0.2;
  background-size: 100%;
  padding: 20px;
  a#unep {
    padding: 10px 0 0 0;
    img {
      width: 15%;
      opacity: 0.6;
      &:hover, &:active {
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}

ul.footer{
  list-style: none;
  overflow: hidden;
  padding: 0;
  li{
    padding: 0 0 10px 0;
    margin: 0;
    a {
      font-size: 1em;
      font-weight: 300;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: $medium_grey;
      &:hover{
        color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      &.active {
        color: #fff;
      }
    }
  }
}

p.footer {
  display: inline-block;
  color: $medium_grey;
}

.section-group {
  overflow: hidden;
  margin-top: -30px;
  & + h3.subprogramme {
    margin-top: 15px;
  }
}

.subprogramme-wrapper {
  h3.subprogramme {
    margin-top: 15px;
  }
}

div#welcome-container {
  width: 100%;
  background: $light_grey;
}

div#welcome {
  width: 90%;
  margin: auto;
  padding: 60px 0;
  h1 {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  p {
    margin-bottom: 0;
  }
}

div.wide_heading {
  margin: 30px 0;
  h1 {
    line-height: 1.25em;
    text-align: center;
    margin-top: 0;
    font-size: 2em;
  }
}

a.back_nav {
  margin: 30px 0;
  display: inline-block;
  clear: both;
  width: 100%;
  &#policies {
    margin-top: 0;
  }
  &.news-vacancy {
  margin: 0;
  }
}

div.section-group#staff {
  padding-top: 10px;
}

section.group.staff {
  overflow: hidden;
  width: 47.5%;
  margin-right: 5%;
  float: left;
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-child(2n+3) {
    clear: left;
  }
  img{
    padding-bottom: 0;
  }

  h4 {
    padding: 10px 0 0 0;
  }

  p {
    margin-bottom: 0;
  }
}

section.group {
  float: none;
  width: 100%;
  margin: 30px 0 0 0;
}

ul#large-menu {
  display: none;
}

ul#button-menu {
  background: #222;
  display: none;
  clear: both;
  padding: 1% 5% 5% 5%;
  float: none;
  li {
    padding-bottom: 3px;
    margin: 0;
    clear: both;
    font-size: 1.1em;
    &:last-child {
      padding-bottom: 0;
    }
  }
}


button#trigger-menu {
  background: #222;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: $white_link;
  font-size: 0.85em;
  border: none;
  padding: 0 5%;
  width: 100%;
  text-align: left;
  margin: 0;
  border-radius: 0;
  i {
    line-height: 30px;
    float: left;
    &:after {
      display: inline-block;
      content: "Navigation";
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      padding-left: 5px;
    }
  }
  outline: none;
  &:hover {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

div.column-1-3#data {
  display: none;
}

section.actions, section.related-content {
  margin-top: 30px;
  h1 {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid $grey;
    margin: 4px 0 10px 0;
    padding-bottom: 5px;
  }
  &:first-child {
    margin-top: 0;
  }
  &.related {
    margin: 60px 0 0 0;
  }
}

div.news-vacancy-details {
  margin-bottom: 20px;
  section.actions {
    margin-top: 0
  }
}

div.team-details {
  span {
    font-size: 1em;
    color: $grey_text;
    display: inline-block;
    padding-left: 10px;
    font-weight: 300;
    font-size: 0.85em;
    margin-bottom: 20px;
    &:first-child {
      padding: 0 10px 0 0;
      border-right: 1px solid #ddd;
    }
    i {
      color: $grey;
    }
  }
}

section.share {
  font-weight: 300;
  h1 {
    border: none;
    display: inline;
    color: $medium_grey;
    padding-right: 5px;
    font-weight: 300;
  }
  span {
    font-size: 0.85em;
    a {
      display: inline-block;
      text-transform: none;
      color: $medium_grey;
      border-right: 1px solid #e8e8e8;
      padding: 0 8px 0 0;
      cursor: pointer;
      &:last-of-type{
       border: none;
       padding: 0 0 0 4px;
       i {
         font-size: 1.25em;
       }
      }
      &:hover, &:active {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

iframe {
  max-width: 100%;
}

div.status {
  width: 100%;
  position: fixed;
  top: 0;
  &#ok {
    background: $green;
  }
  &#warning {
    background: $red;
  }
  &#error {
    background: $red;
  }
  display: none;
}

div.status div.message {
  width: 90%;
  padding: 10px 0;
  margin: auto;
  overflow: hidden;
  p {
    margin-bottom: 0;
    color: #fff;
    margin: 10px 0;
  }
  i.icon-chevron-up {
    line-height: 100%;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
  }
}

div.error-message {
  border: 2px solid $red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1em;
    font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid $grey;
    margin: 4px 0 10px 0;
    padding-bottom: 5px;
    i {
      color: $red;
      padding-right: 5px;
    }
  }
  ul {
    list-style-type: none;
    li {
      color: $grey_text;
      font-size: 1em;
      font-weight: 300;
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

div.dashboard-background {
  position: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
  background-image: image-url('marine_background_small.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.dashboard-container {
  background: transparent;
}

div.dashboard {
  p.no-results {
    padding: 5px 0 5px 19px;
  }
  margin: 30px auto;
  div.biodiversity {
    clear: both;
    margin-top: 0px;
  }

  .spinner {
    margin: auto;
  }

  header.dashboard-title {
    h1 {
    font-size: 1.75em;
    line-height: 1.25em;
    color: #fff;
    margin: 0 0 20px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 1.25em;
    }
    h2 {
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
      text-align: center;
      font-size: 1em;
      line-height: 1.4em;
      font-weight: 300;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      margin: 0 0 20px 0;
    }
  }

  div.section-group {
    margin-top: 0;
  }

  div.section-group.controls {
    position: relative;
    width: 99%;
    z-index: 1000;
    overflow: visible;
    min-height: 100px;
    #view-button {
      width: 100%;
    }
    section.group {
      background-color: rgba(255, 255, 255, 0);
      margin-top: 0;
    }
    #search-field {
      float: right;
      width: 100%;
      border: 1px solid #fff;
      position: relative;
      padding: 3px 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      height: 36px;
      input {
        width: 90%;
        padding: 0;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        color: #fff;
        background: none;
        border: none;
        font-size: 1.1em;
        font-weight: 300;
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      input::-moz-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      input:-moz-placeholder {   /* Older versions of Firefox */
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
      i.icon-search {
        color: #fff;
        background: none;
        font-size: 1em;
        padding-right: 5px;
      }
    }
    button {
      float: left;
      width: 100%;
      color: #fff;
      background: $blue;
      font-size: 1.1em;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.025em;
      font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
      margin: 0 0 20px 0;
      padding: 0 15px;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      outline: none;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      max-width: 100%;
      min-width: 125px;
      &:hover, &:active {
        background: $dark_blue;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }

  section.group {
    margin-top: 30px;
  }

  section.group.stats {
    &:first-child {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }

    .stat {
      overflow: auto;
      margin: 0 0 30px 0;
      background-color: rgba(225, 225, 225, 0.8);
      header {
        padding: 15px;
        p {
          font-weight: 500;
          display: inline;
          font-size: 0.85em;
          line-height: 1.25em;
          span.infotext {
            font-weight: 300;
            color: #888;
            padding: 3px 0;
          }
        }
        span.infotext{
          display: block;
          text-transform: none;
        }
        i.icon-info-sign {
          color: $blue;
          font-size: 1em;
          line-height: 1em;
          padding-right: 0;
          padding-left: 5px;
          text-decoration: none;
          &:hover, &:active {
            color: $dark_blue;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }
      }
      .metrics-container {
        padding: 15px;
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      .metric {
        width: 100%;
        line-height: 0.75em;
        &.percentage {
          width: 100%;
        }
      }
      .number {
        font-size: 1.75em;
        font-weight: bold;
        color: $dark_grey;
        line-height: 1.25em;
      }
      .small {
        font-size: 0.85em;
        font-weight: 300;
        &.protected {
          padding-top: 10px;
        }
      }
      .number, .small {
        display: inline-block;
      }
      .content {
        p {
          line-height: 2.25em;
        }
      }
      b {
        font-weight: bold;
      }
    }

    .stat.carbon > div {
      border-top: 1px solid $grey;
    }
    .stat.carbon .metrics-container .metric p.subheader {
      margin-bottom: 4%;
      font-size: 0.85em;
      color: $dark_grey;
    }
    header {
      padding: 16px 10px;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
      span.option-selector {
        font-size: 0.85em;
        float: right;
        cursor: pointer;
        color: $blue;
        text-transform: none;
        font-weight: 300;
        line-height: 1em;
        &:hover, &:active {
          text-decoration: underline;
        }
      }
      div.info-link {
        float: right;
        span.option-selector {
          display: none;
        }
      }
      div.info-link-small {
        float: none;
        padding-top: 5px;
        span.option-selector {
          float: none;
        }
      }
    }
  }

  .bar-percentage {
    float: left;
    color: $dark_grey;
    padding: 0;
  }

  .bar-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
    margin-top: 10px;
  }

  .bar {
    float: left;
    background: $blue;
    /* background: $orange; */
    height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  .geo_entities {
    .select2-container {
      width: 100%;
    }
    .select2-chosen {
      padding: 10px 0;
    }
  }

  table {
    width: 100%;
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    p.no-data {
      padding: 15px;
    }
  }

  tr.species-container {
    display: block;
    border-top: 1px solid $grey;
    padding: 15px;
    width: 100%;
    &:first-child {
      border-top: none;
    }
  }

  tr.species-container {
    overflow: hidden;
    td {
      vertical-align: top;
    }
  }

  tr.species-container td.ranking {
    padding-left: 10px;
    p {
      line-height: 1.35em;
    }
    p.common-name {
      font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
      color: $dark_grey;
    }
    p.scientific-name {
      font-weight: 300;
      font-style: italic;
      color: $grey_text;
    }
    p.species-count-small {
      font-weight: 300;
      font-size: 1.25em;
      color: $number_grey;
    }
  }

  td.species-count {
    display: none;
    color: $number_grey;
  }

  tr.species-container td.counter-container {
  }

  tr.species-container td.counter-container div.counter {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding: 5px 12px 5px 12px;
    color: #4295D5;
    border-right: 2px solid #4295D5;
    font-weight: 300;
    font-size: 1.25em;
    font-family: "MuseoSans-500", Helvetica, Arial, sans-serif;
    text-align: center;
  }

  tr.species-container td.counter.list-0 {
    background: #4295D5;
  }

  tr.species-container td.counter.list-1 {
    background: #428BD3;
  }

  tr.species-container td.counter.list-2 {
    background: #5497D7;
  }

  tr.species-container td.counter.list-3 {
    background: #66A4DD;
  }

  tr.species-container td.counter.list-4 {
    background: #7BB0E2;
  }

  tr.species-container td.counter.list-5 {
    background: #8EBDE6;
  }

  table{
    p {
      line-height: 1.5;
    }
  }



.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  font-size: 1.25em;
  font-weight: 300;
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  color: $dark_grey;
  white-space: nowrap;
}
.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #fff;
  text-decoration: none;
  background-color: $blue;
  outline: 0;
}


.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .65s ease;
          transition: height .65s ease;
}


}

span#kern .char7 {
vertical-align: top;
margin-left: 0.05em;
}

button.dashboard-collapse {
  margin: auto;
  cursor: pointer;
  background: $blue;
  border: none;
  &:hover, &:active {
  background: $dark_blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  p {
    color: #fff;
    margin: 0;
  }

  i {
    float: none;
  }
}

