/* line 17, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/base.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/base.scss */
body {
  font-size: 100%;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 19, ../sass/base.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/base.scss */
h1, h2, h3, h5 {
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

/* line 29, ../sass/base.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 0.75em 0;
  color: #5e5a5c;
}

/* line 36, ../sass/base.scss */
h2 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0.75em 0;
  color: #333;
}
/* line 42, ../sass/base.scss */
h2.large_subheading {
  font-size: 1.4em;
}
/* line 44, ../sass/base.scss */
h2.large_subheading#featured_projects {
  font-size: 1.6em;
  padding: 1.75em 0 1em 0;
  border-top: 1px solid #f4f2f2;
}

/* line 52, ../sass/base.scss */
h3 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0.75em 0;
  color: rgba(0, 0, 0, 0.3);
}
/* line 58, ../sass/base.scss */
h3#news {
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
  padding-top: 60px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  word-spacing: 0.07em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5175a3;
  border-top: 1px solid #f4f2f2;
}

/* line 75, ../sass/base.scss */
h4 {
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  padding: 1em 0;
  line-height: 1.75em;
}

/* line 85, ../sass/base.scss */
h5 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.3em;
  color: #5e5a5c;
  margin-bottom: 2%;
}

/* line 93, ../sass/base.scss */
p {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}

/* line 101, ../sass/base.scss */
a {
  text-decoration: none;
  color: #4c9cda;
}
/* line 104, ../sass/base.scss */
a:hover {
  color: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 114, ../sass/base.scss */
small {
  display: block;
  font-size: 0.75em;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 5%;
}

/* line 124, ../sass/base.scss */
div.clear {
  clear: both;
}

/* line 128, ../sass/base.scss */
div#nav {
  background-color: #4295d5;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
/* line 133, ../sass/base.scss */
div#nav div.nav-container {
  width: 70%;
  margin: auto;
}
/* line 136, ../sass/base.scss */
div#nav div.nav-container a#home_link {
  display: block;
}
/* line 138, ../sass/base.scss */
div#nav div.nav-container a#home_link img {
  opacity: 0.9;
  display: block;
}
/* line 143, ../sass/base.scss */
div#nav div.nav-container ul {
  margin: auto;
  list-style: none;
  overflow: hidden;
}
/* line 148, ../sass/base.scss */
div#nav div.nav-container ul li a {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
}
/* line 154, ../sass/base.scss */
div#nav div.nav-container ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 162, ../sass/base.scss */
div#nav div.nav-container ul li a.active {
  color: #fff;
}

/* line 172, ../sass/base.scss */
div.hero {
  background: url("../imgs/project_13.png") no-repeat center;
  background-size: 100%;
}
/* line 176, ../sass/base.scss */
div.hero#featured_projects {
  background: url("../imgs/project_13.png") no-repeat bottom;
  background-size: 100%;
}
/* line 180, ../sass/base.scss */
div.hero#data {
  background: url("../imgs/project_7.png") no-repeat bottom;
  background-size: 115%;
}
/* line 185, ../sass/base.scss */
div.hero#about {
  background: url("../imgs/project_18.png") no-repeat center;
  background-size: 100%;
}
/* line 189, ../sass/base.scss */
div.hero#areas_of_work {
  background: url("../imgs/project_14.jpg") no-repeat bottom;
  background-size: 120%;
}
/* line 193, ../sass/base.scss */
div.hero#species {
  background: url("../imgs/project_10.jpg") no-repeat center;
  background-size: 100%;
}
/* line 196, ../sass/base.scss */
div.hero#species .heading {
  width: 45%;
  margin-left: 15%;
  text-align: left;
}

/* line 205, ../sass/base.scss */
div.heading h1 {
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: bold;
}
/* line 210, ../sass/base.scss */
div.heading h1#featured {
  font-size: 2em;
}
/* line 214, ../sass/base.scss */
div.heading h2 {
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 1.25em;
  line-height: 1.4em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 221, ../sass/base.scss */
div.heading h1, div.heading h2 {
  padding: 1% 0;
  color: #fff;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

/* line 232, ../sass/base.scss */
div.button {
  text-align: center;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 250px;
  border: 1px solid #4295d5;
  background: none;
  box-shadow: none;
}
/* line 249, ../sass/base.scss */
div.button:hover, div.button:active {
  border: 1px solid #4295d5;
  background-color: #4295d5;
}
/* line 252, ../sass/base.scss */
div.button:hover p a, div.button:active p a {
  color: #fff;
}
/* line 256, ../sass/base.scss */
div.button p {
  margin: 0;
}
/* line 258, ../sass/base.scss */
div.button p a {
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.05em;
  color: #4295d5;
  text-decoration: none;
}
/* line 268, ../sass/base.scss */
div.button#featured_project, div.button#twitter {
  width: 170px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 273, ../sass/base.scss */
div.button#featured_project a, div.button#twitter a {
  color: #fff;
}
/* line 276, ../sass/base.scss */
div.button#featured_project:hover, div.button#featured_project:active, div.button#twitter:hover, div.button#twitter:active {
  border: 1px solid #4295d5;
  background-color: #4295d5;
}
/* line 279, ../sass/base.scss */
div.button#featured_project:hover a, div.button#featured_project:active a, div.button#twitter:hover a, div.button#twitter:active a {
  color: #fff;
}

/* line 287, ../sass/base.scss */
#container {
  width: 70%;
  margin: auto;
}
/* line 290, ../sass/base.scss */
#container img {
  max-width: 100%;
  display: block;
}
/* line 296, ../sass/base.scss */
#container .column-2-3#staff h2 {
  padding-bottom: 8px;
  border-bottom: 3px solid #4c9cda;
}
/* line 302, ../sass/base.scss */
#container .column-2-3#job_description ul {
  list-style-type: disc;
  padding: 1em 0 1em 1.25em;
}
/* line 305, ../sass/base.scss */
#container .column-2-3#job_description ul li {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 313, ../sass/base.scss */
#container .column-2-3#job_description span.position {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 320, ../sass/base.scss */
#container .column-2-3#job_description span.programme_name {
  display: inline-block;
  margin-bottom: 2em;
}
/* line 324, ../sass/base.scss */
#container .column-2-3#job_description span.programme_bar {
  color: #59B200;
  font-weight: 900;
  display: inline-block;
  padding: 2%;
}
/* line 332, ../sass/base.scss */
#container .column-2-3#data section, #container .column-2-3#employee_work section, #container .column-2-3#vacancies section, #container .column-2-3#partner section {
  border-bottom: 1px solid #f4f2f2;
  padding: 30px 0;
  overflow: hidden;
}
/* line 336, ../sass/base.scss */
#container .column-2-3#data section h3, #container .column-2-3#employee_work section h3, #container .column-2-3#vacancies section h3, #container .column-2-3#partner section h3 {
  word-spacing: 0.07em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 343, ../sass/base.scss */
#container .column-2-3#data section p.link, #container .column-2-3#employee_work section p.link, #container .column-2-3#vacancies section p.link, #container .column-2-3#partner section p.link {
  float: left;
}
/* line 346, ../sass/base.scss */
#container .column-2-3#data section p.link.last, #container .column-2-3#employee_work section p.link.last, #container .column-2-3#vacancies section p.link.last, #container .column-2-3#partner section p.link.last {
  float: right;
  margin-right: 70%;
}
/* line 350, ../sass/base.scss */
#container .column-2-3#data section:last-child, #container .column-2-3#employee_work section:last-child, #container .column-2-3#vacancies section:last-child, #container .column-2-3#partner section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
/* line 357, ../sass/base.scss */
#container .column-2-3#job_application h2 {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5em;
  margin: 1.5em 0;
}
/* line 363, ../sass/base.scss */
#container .column-2-3#job_application h3 {
  color: #333;
  margin: 0.75em 0;
}
/* line 368, ../sass/base.scss */
#container .column-2-3#job_application .form-section {
  margin-top: 2em;
}
/* line 370, ../sass/base.scss */
#container .column-2-3#job_application .form-section p {
  margin: 0;
}
/* line 373, ../sass/base.scss */
#container .column-2-3#job_application .form-section input.short {
  width: 50%;
  height: 2em;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0 0.5em;
}
/* line 387, ../sass/base.scss */
#container .column-2-3#job_application .form-section textarea {
  width: 100%;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0.5em;
}
/* line 400, ../sass/base.scss */
#container .column-2-3#job_application .form-section .form-subsection {
  margin-top: 1em;
}
/* line 405, ../sass/base.scss */
#container .column-2-3#job_application h1 {
  margin-bottom: 7%;
}
/* line 409, ../sass/base.scss */
#container .column-2-3#job_application h2#first {
  margin-top: 0;
}
/* line 412, ../sass/base.scss */
#container .column-2-3#job_application img {
  display: inline-block;
  float: right;
  max-width: 50%;
  margin: 1% 0 0 3%;
  padding: 0;
}
/* line 418, ../sass/base.scss */
#container .column-2-3#job_application img#staff_pic {
  float: none;
  max-width: 100%;
  margin: 0 0 5% 0;
}
/* line 424, ../sass/base.scss */
#container .column-2-3#job_application p.link {
  letter-spacing: 0.065em;
}
/* line 429, ../sass/base.scss */
#container .column-2-3#employee_work, #container .column-2-3#partner {
  margin-top: 30px;
}
/* line 431, ../sass/base.scss */
#container .column-2-3#employee_work h1, #container .column-2-3#partner h1 {
  margin-bottom: 0.3em;
  font-size: 2.5em;
  color: #333;
}
/* line 436, ../sass/base.scss */
#container .column-2-3#employee_work h3, #container .column-2-3#partner h3 {
  margin: 0 0 20px 0;
  color: #333;
  font-weight: 500 !important;
  word-spacing: 0 !important;
  letter-spacing: 0 !important;
}
/* line 442, ../sass/base.scss */
#container .column-2-3#employee_work h3 span.project_role, #container .column-2-3#partner h3 span.project_role {
  text-transform: none;
}
/* line 445, ../sass/base.scss */
#container .column-2-3#employee_work h3 span.separator, #container .column-2-3#partner h3 span.separator {
  color: #ddd;
  padding: 0 5px;
}
/* line 450, ../sass/base.scss */
#container .column-2-3#employee_work span.position, #container .column-2-3#partner span.position {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 457, ../sass/base.scss */
#container .column-2-3#employee_work span.programme_name, #container .column-2-3#partner span.programme_name {
  display: inline-block;
  margin-bottom: 2em;
}
/* line 461, ../sass/base.scss */
#container .column-2-3#employee_work span.programme_bar, #container .column-2-3#partner span.programme_bar {
  color: #59B200;
  font-weight: 900;
  display: inline-block;
  padding: 2%;
}
/* line 467, ../sass/base.scss */
#container .column-2-3#employee_work ul.contact_details, #container .column-2-3#partner ul.contact_details {
  color: #5e5a5c;
  font-weight: 300;
  text-align: left;
  margin-bottom: 1em;
}
/* line 472, ../sass/base.scss */
#container .column-2-3#employee_work ul.contact_details i, #container .column-2-3#partner ul.contact_details i {
  padding-right: 1%;
}
/* line 475, ../sass/base.scss */
#container .column-2-3#employee_work ul.contact_details li, #container .column-2-3#partner ul.contact_details li {
  padding-bottom: 1.5%;
}
/* line 479, ../sass/base.scss */
#container .column-2-3#employee_work section, #container .column-2-3#partner section {
  padding: 6% 0;
  border-bottom: 1px solid #eee;
}
/* line 487, ../sass/base.scss */
#container .column-1-3#job_related h2 {
  border-bottom: 1px solid #f4f2f2;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5e5a5c;
  margin-top: 2em;
  padding-bottom: 0.2em;
}
/* line 498, ../sass/base.scss */
#container .column-1-3#job_related h4 {
  font-size: 1em;
  color: #4c9cda;
  text-transform: none;
  font-weight: 300;
}
/* line 504, ../sass/base.scss */
#container .column-1-3#job_related .button {
  width: 100%;
  margin-bottom: 30px;
}
/* line 509, ../sass/base.scss */
#container .column-1-3 section.save-link {
  background: #f7f7f7;
  padding: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 515, ../sass/base.scss */
#container .column-1-3 section.save-link p {
  font-size: 0.85em;
}
/* line 518, ../sass/base.scss */
#container .column-1-3 section.save-link input {
  border: 1px solid #eee;
  padding: 0.5em;
  height: 3em;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  color: #666;
}
/* line 531, ../sass/base.scss */
#container .column-1-3 section.save-link i {
  color: #666;
  background: #ccc;
  position: relative;
  top: -29px;
  right: -189px;
  padding: 0.7em 0.75em 0.75em 0.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 546, ../sass/base.scss */
#container section {
  padding-bottom: 20px;
}
/* line 548, ../sass/base.scss */
#container section:last-child {
  padding-bottom: 0;
}
/* line 551, ../sass/base.scss */
#container section img#staff_pic {
  padding-bottom: 50px;
}
/* line 558, ../sass/base.scss */
#container .section-row section.column-1-4 p {
  font-size: 0.85em;
  line-height: 0.7em;
}
/* line 562, ../sass/base.scss */
#container .section-row section.column-1-4 h4 {
  padding: 0 0 0.5em 0;
}
/* line 565, ../sass/base.scss */
#container .section-row section.column-1-4 a img {
  margin-bottom: 20px;
}
/* line 568, ../sass/base.scss */
#container .section-row section.column-1-4 h2.partner, #container .section-row section.column-1-4 p.partner {
  text-align: center;
}
/* line 573, ../sass/base.scss */
#container .section-row section.column-1-2 ul.project_team {
  overflow: hidden;
  margin-top: 20px;
}
/* line 577, ../sass/base.scss */
#container .section-row section.column-1-2 ul.project_team li img {
  margin-bottom: 1em;
}
/* line 580, ../sass/base.scss */
#container .section-row section.column-1-2 ul.project_team li p {
  font-size: 0.85em;
  line-height: 0.7em;
}
/* line 584, ../sass/base.scss */
#container .section-row section.column-1-2 ul.project_team li h4 {
  padding: 0 0 0.5em 0;
}
/* line 590, ../sass/base.scss */
#container .section-row section#twitter {
  background: #f4f2f2;
}
/* line 592, ../sass/base.scss */
#container .section-row section#twitter #top_twitter {
  width: 100%;
  padding: 2% 0 5% 0;
}
/* line 595, ../sass/base.scss */
#container .section-row section#twitter #top_twitter img {
  display: block;
  max-width: 19%;
  opacity: 0.3;
  float: left;
}
/* line 601, ../sass/base.scss */
#container .section-row section#twitter #top_twitter div.button {
  width: 120px;
  float: right;
  margin-right: 1.75%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: 2% 5%;
  box-shadow: none;
}
/* line 606, ../sass/base.scss */
#container .section-row section#twitter #top_twitter div.button p, #container .section-row section#twitter #top_twitter div.button a {
  color: #999;
  text-decoration: none;
}
/* line 612, ../sass/base.scss */
#container .section-row section#twitter #top_twitter div.button:hover {
  border: 1px solid #4c9cda;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 613, ../sass/base.scss */
#container .section-row section#twitter #top_twitter div.button:hover a {
  color: #fff;
}
/* line 625, ../sass/base.scss */
#container .section-row section#twitter .tweet {
  padding: 3% 0;
}
/* line 627, ../sass/base.scss */
#container .section-row section#twitter .tweet small {
  margin-bottom: 3%;
}

/* line 636, ../sass/base.scss */
.search_field_container {
  margin-bottom: 15%;
  width: 100%;
  padding: 5% 0 5% 5%;
  padding-left: 0;
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 0.85em;
}
/* line 647, ../sass/base.scss */
.search_field_container#staff {
  width: 80%;
}
/* line 650, ../sass/base.scss */
.search_field_container .icon_search {
  color: #5e5a5c;
  padding: 0;
  margin: 2% 2% 0 0;
}
/* line 654, ../sass/base.scss */
.search_field_container .icon_search i {
  font-size: 1em;
  line-height: 0.5em;
}
/* line 659, ../sass/base.scss */
.search_field_container .search_input {
  padding: 0 0 0 2%;
}
/* line 661, ../sass/base.scss */
.search_field_container .search_input p {
  margin: 0;
  color: #5e5a5c;
}

/* line 668, ../sass/base.scss */
ul.subnav {
  border-left: 3px solid #4c9cda;
  padding-left: 5%;
}
/* line 671, ../sass/base.scss */
ul.subnav li {
  padding-bottom: 1em;
}
/* line 673, ../sass/base.scss */
ul.subnav li:last-child {
  padding-bottom: 0;
}
/* line 676, ../sass/base.scss */
ul.subnav li a {
  font-size: 0.85em;
  font-weight: 400;
  word-spacing: 0.05em;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  color: #333;
  border-bottom: 1px solid #fff;
}
/* line 684, ../sass/base.scss */
ul.subnav li a:hover {
  border-bottom: 1px solid #4c9cda;
  color: #4c9cda;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 693, ../sass/base.scss */
ul.subnav li a.active {
  color: #4c9cda;
}
/* line 699, ../sass/base.scss */
ul.subnav.areas li {
  padding-bottom: 0.75em;
}
/* line 702, ../sass/base.scss */
ul.subnav.areas li#how_we_work {
  padding-top: 25px;
}
/* line 706, ../sass/base.scss */
ul.subnav.areas ul.submenu_areas li {
  padding-bottom: 0.5em;
}
/* line 708, ../sass/base.scss */
ul.subnav.areas ul.submenu_areas li:last-child {
  padding-bottom: 0;
}
/* line 711, ../sass/base.scss */
ul.subnav.areas ul.submenu_areas li a {
  font-size: 0.9em;
  display: inline-block;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  margin-left: 10px;
}

/* line 724, ../sass/base.scss */
ul#fields, ul#content, ul#sorting, ul#programmes {
  margin: 0 0 15% 0;
  font-size: 0.85em;
}
/* line 727, ../sass/base.scss */
ul#fields li, ul#content li, ul#sorting li, ul#programmes li {
  cursor: pointer;
  color: #5e5a5c;
  font-size: 1em;
  font-weight: 300;
  padding: 0 0 0 3%;
  margin: 5% 0;
  line-height: 1.7em;
  border-left: 5px solid #fff;
}
/* line 736, ../sass/base.scss */
ul#fields li.header, ul#content li.header, ul#sorting li.header, ul#programmes li.header {
  cursor: default;
  font-size: 1.25em;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 3%;
  margin-bottom: 8%;
  margin-left: -4.5%;
}
/* line 744, ../sass/base.scss */
ul#fields li.header span.badge, ul#content li.header span.badge, ul#sorting li.header span.badge, ul#programmes li.header span.badge {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 1.5%;
}
/* line 749, ../sass/base.scss */
ul#fields li.header:hover, ul#content li.header:hover, ul#sorting li.header:hover, ul#programmes li.header:hover {
  background: none;
  color: #5e5a5c;
}
/* line 754, ../sass/base.scss */
ul#fields li.active, ul#fields li:hover, ul#content li.active, ul#content li:hover, ul#sorting li.active, ul#sorting li:hover, ul#programmes li.active, ul#programmes li:hover {
  padding-left: 3%;
}
/* line 756, ../sass/base.scss */
ul#fields li.active#programme_1, ul#fields li:hover#programme_1, ul#content li.active#programme_1, ul#content li:hover#programme_1, ul#sorting li.active#programme_1, ul#sorting li:hover#programme_1, ul#programmes li.active#programme_1, ul#programmes li:hover#programme_1 {
  border-left: 5px solid #59B200;
}
/* line 759, ../sass/base.scss */
ul#fields li.active#programme_2, ul#fields li:hover#programme_2, ul#content li.active#programme_2, ul#content li:hover#programme_2, ul#sorting li.active#programme_2, ul#sorting li:hover#programme_2, ul#programmes li.active#programme_2, ul#programmes li:hover#programme_2 {
  border-left: 5px solid #FFC926;
}
/* line 762, ../sass/base.scss */
ul#fields li.active#programme_3, ul#fields li:hover#programme_3, ul#content li.active#programme_3, ul#content li:hover#programme_3, ul#sorting li.active#programme_3, ul#sorting li:hover#programme_3, ul#programmes li.active#programme_3, ul#programmes li:hover#programme_3 {
  border-left: 5px solid #0085B2;
}
/* line 765, ../sass/base.scss */
ul#fields li.active#programme_4, ul#fields li:hover#programme_4, ul#content li.active#programme_4, ul#content li:hover#programme_4, ul#sorting li.active#programme_4, ul#sorting li:hover#programme_4, ul#programmes li.active#programme_4, ul#programmes li:hover#programme_4 {
  border-left: 5px solid #FF9326;
}
/* line 768, ../sass/base.scss */
ul#fields li.active#programme_5, ul#fields li:hover#programme_5, ul#content li.active#programme_5, ul#content li:hover#programme_5, ul#sorting li.active#programme_5, ul#sorting li:hover#programme_5, ul#programmes li.active#programme_5, ul#programmes li:hover#programme_5 {
  border-left: 5px solid #D42B29;
}
/* line 771, ../sass/base.scss */
ul#fields li.active#programme_6, ul#fields li:hover#programme_6, ul#content li.active#programme_6, ul#content li:hover#programme_6, ul#sorting li.active#programme_6, ul#sorting li:hover#programme_6, ul#programmes li.active#programme_6, ul#programmes li:hover#programme_6 {
  border-left: 5px solid #8C008C;
}
/* line 774, ../sass/base.scss */
ul#fields li.active#programme_7, ul#fields li:hover#programme_7, ul#content li.active#programme_7, ul#content li:hover#programme_7, ul#sorting li.active#programme_7, ul#sorting li:hover#programme_7, ul#programmes li.active#programme_7, ul#programmes li:hover#programme_7 {
  border-left: 5px solid #8C4600;
}
/* line 777, ../sass/base.scss */
ul#fields li.active#programme_8, ul#fields li:hover#programme_8, ul#content li.active#programme_8, ul#content li:hover#programme_8, ul#sorting li.active#programme_8, ul#sorting li:hover#programme_8, ul#programmes li.active#programme_8, ul#programmes li:hover#programme_8 {
  border-left: 5px solid #38B8B9;
}
/* line 780, ../sass/base.scss */
ul#fields li.active#programme_9, ul#fields li:hover#programme_9, ul#content li.active#programme_9, ul#content li:hover#programme_9, ul#sorting li.active#programme_9, ul#sorting li:hover#programme_9, ul#programmes li.active#programme_9, ul#programmes li:hover#programme_9 {
  border-left: 5px solid #9EC23B;
}
/* line 783, ../sass/base.scss */
ul#fields li.active#programme_10, ul#fields li:hover#programme_10, ul#content li.active#programme_10, ul#content li:hover#programme_10, ul#sorting li.active#programme_10, ul#sorting li:hover#programme_10, ul#programmes li.active#programme_10, ul#programmes li:hover#programme_10 {
  border-left: 5px solid #FF7A4D;
}
/* line 786, ../sass/base.scss */
ul#fields li.active.content_type, ul#fields li:hover.content_type, ul#content li.active.content_type, ul#content li:hover.content_type, ul#sorting li.active.content_type, ul#sorting li:hover.content_type, ul#programmes li.active.content_type, ul#programmes li:hover.content_type {
  border-left: 5px solid #4c9cda;
}
/* line 791, ../sass/base.scss */
ul#fields li span.badge, ul#content li span.badge, ul#sorting li span.badge, ul#programmes li span.badge {
  margin-top: 0.5%;
  margin-left: 5%;
  padding: 3% 0;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 0.5em;
  font-weight: 300;
  color: #ddd;
  text-align: center;
}
/* line 803, ../sass/base.scss */
ul#fields li span.badge i.icon-caret-down, ul#content li span.badge i.icon-caret-down, ul#sorting li span.badge i.icon-caret-down, ul#programmes li span.badge i.icon-caret-down {
  font-size: 1.5em;
}

/* line 812, ../sass/base.scss */
ul#fields.staff_filters li.active, ul#fields.staff_filters li:hover {
  border-left: 5px solid #4c9cda;
}

/* line 818, ../sass/base.scss */
ul#sorting {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 823, ../sass/base.scss */
ul#sorting li {
  padding: 3% 5%;
  margin: 0;
}
/* line 826, ../sass/base.scss */
ul#sorting li:hover {
  padding-left: 5%;
}
/* line 829, ../sass/base.scss */
ul#sorting li span.badge {
  margin-top: -7px;
}

/* line 835, ../sass/base.scss */
div.data_policy {
  margin-top: 40px;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5%;
}
/* line 842, ../sass/base.scss */
div.data_policy h3 {
  color: #5e5a5c;
  text-align: left;
  margin-top: 0;
  margin-bottom: 3%;
}
/* line 848, ../sass/base.scss */
div.data_policy p {
  font-size: 0.85em;
  margin-bottom: 0;
}

/* line 856, ../sass/base.scss */
form section ul {
  list-style-type: disc;
  padding: 2em 0 2em 1.25em;
}
/* line 859, ../sass/base.scss */
form section ul li {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 867, ../sass/base.scss */
form section input.short {
  width: 50%;
  height: 2em;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0 0.5em;
}
/* line 881, ../sass/base.scss */
form section textarea {
  width: 100%;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0.5em;
}

/* line 897, ../sass/base.scss */
div#footer_container {
  width: 100%;
  position: absolute;
  background-color: #333;
  background: url("../imgs/map_world.png") no-repeat center;
  background-opacity: 0.2;
  background-size: 100%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* line 909, ../sass/base.scss */
ul.footer {
  margin: auto;
  list-style: none;
}
/* line 913, ../sass/base.scss */
ul.footer li a {
  font-size: 0.8em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #bbb;
  text-transform: uppercase;
}
/* line 919, ../sass/base.scss */
ul.footer li a:hover {
  color: #4c9cda;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 929, ../sass/base.scss */
ul.footer li#address {
  font-size: 0.85em;
}
/* line 931, ../sass/base.scss */
ul.footer li#address p {
  color: #bbb;
}
