/* line 17, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/base.scss */
body {
  font-size: 100%;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 13, ../sass/base.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/base.scss */
h1, h2, h3, h5 {
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/base.scss */
h1 {
  font-size: 2.5em;
  margin: 0 0 3em 0;
  color: #333;
}

/* line 29, ../sass/base.scss */
h2 {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.3em;
  margin: 0.75em 0 1em 0;
  color: #333;
}

/* line 37, ../sass/base.scss */
h3 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0.75em 0;
  color: rgba(0, 0, 0, 0.3);
}

/* line 45, ../sass/base.scss */
h4 {
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  padding: 1em 0;
  line-height: 1.75em;
}

/* line 55, ../sass/base.scss */
h5 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.3em;
  color: #5e5a5c;
  margin-bottom: 2%;
}

/* line 63, ../sass/base.scss */
p {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}

/* line 71, ../sass/base.scss */
small {
  display: block;
  font-size: 0.75em;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 5%;
}

/* line 81, ../sass/base.scss */
div#container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
/* line 91, ../sass/base.scss */
div#container h1.page_header {
  margin: 0;
  padding-left: 2%;
  padding-bottom: 1%;
}
/* line 96, ../sass/base.scss */
div#container h3 {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  word-spacing: 0.07em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5175a3;
  margin-bottom: 5%;
}
/* line 110, ../sass/base.scss */
div#container .section.related_employees h4 {
  font-size: 1em;
}
/* line 114, ../sass/base.scss */
div#container .section.filters {
  padding-top: 0;
  padding-left: 0;
}
/* line 117, ../sass/base.scss */
div#container .section.filters.about ul {
  border-left: 3px solid #3c89c8;
  padding-left: 5%;
  margin-bottom: 15%;
}
/* line 121, ../sass/base.scss */
div#container .section.filters.about ul li {
  padding-bottom: 1em;
}
/* line 123, ../sass/base.scss */
div#container .section.filters.about ul li a {
  font-size: 0.85em;
  font-weight: 400;
  word-spacing: 0.05em;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  color: #333;
}
/* line 130, ../sass/base.scss */
div#container .section.filters.about ul li a:hover {
  border-bottom: 1px solid #3c89c8;
  color: #3c89c8;
}
/* line 134, ../sass/base.scss */
div#container .section.filters.about ul li a.active {
  color: #3c89c8;
}
/* line 141, ../sass/base.scss */
div#container .search_field_container {
  margin-bottom: 15%;
  width: 100%;
  padding: 5%;
  padding-left: 0;
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 0.85em;
}
/* line 152, ../sass/base.scss */
div#container .search_field_container#staff {
  width: 80%;
}
/* line 155, ../sass/base.scss */
div#container .search_field_container .icon_search {
  color: #5e5a5c;
  padding: 0;
  margin: 0 2%;
  margin-top: 1.5%;
}
/* line 160, ../sass/base.scss */
div#container .search_field_container .icon_search i {
  font-size: 1em;
  line-height: 0.5em;
}
/* line 165, ../sass/base.scss */
div#container .search_field_container .search_input {
  padding: 0 2%;
}
/* line 167, ../sass/base.scss */
div#container .search_field_container .search_input p {
  margin: 0;
  color: #5e5a5c;
}
/* line 173, ../sass/base.scss */
div#container ul#fields, div#container ul#content, div#container ul#sorting, div#container ul#programmes {
  margin: 0 0 15% 0;
  font-size: 0.85em;
}
/* line 176, ../sass/base.scss */
div#container ul#fields li, div#container ul#content li, div#container ul#sorting li, div#container ul#programmes li {
  cursor: pointer;
  color: #5e5a5c;
  font-size: 1.1em;
  padding: 0 0 0 6.5%;
  margin: 5% 0;
  line-height: 1.7em;
}
/* line 183, ../sass/base.scss */
div#container ul#fields li.header, div#container ul#content li.header, div#container ul#sorting li.header, div#container ul#programmes li.header {
  cursor: default;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-left: 0;
  padding-bottom: 3%;
  margin-bottom: 8%;
}
/* line 191, ../sass/base.scss */
div#container ul#fields li.header span.badge, div#container ul#content li.header span.badge, div#container ul#sorting li.header span.badge, div#container ul#programmes li.header span.badge {
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 1.5%;
}
/* line 196, ../sass/base.scss */
div#container ul#fields li.header:hover, div#container ul#content li.header:hover, div#container ul#sorting li.header:hover, div#container ul#programmes li.header:hover {
  background: none;
  color: #5e5a5c;
}
/* line 201, ../sass/base.scss */
div#container ul#fields li.active, div#container ul#fields li:hover, div#container ul#content li.active, div#container ul#content li:hover, div#container ul#sorting li.active, div#container ul#sorting li:hover, div#container ul#programmes li.active, div#container ul#programmes li:hover {
  padding-left: 3%;
}
/* line 203, ../sass/base.scss */
div#container ul#fields li.active#programme_1, div#container ul#fields li:hover#programme_1, div#container ul#content li.active#programme_1, div#container ul#content li:hover#programme_1, div#container ul#sorting li.active#programme_1, div#container ul#sorting li:hover#programme_1, div#container ul#programmes li.active#programme_1, div#container ul#programmes li:hover#programme_1 {
  border-left: 5px solid #59B200;
}
/* line 206, ../sass/base.scss */
div#container ul#fields li.active#programme_2, div#container ul#fields li:hover#programme_2, div#container ul#content li.active#programme_2, div#container ul#content li:hover#programme_2, div#container ul#sorting li.active#programme_2, div#container ul#sorting li:hover#programme_2, div#container ul#programmes li.active#programme_2, div#container ul#programmes li:hover#programme_2 {
  border-left: 5px solid #FFC926;
}
/* line 209, ../sass/base.scss */
div#container ul#fields li.active#programme_3, div#container ul#fields li:hover#programme_3, div#container ul#content li.active#programme_3, div#container ul#content li:hover#programme_3, div#container ul#sorting li.active#programme_3, div#container ul#sorting li:hover#programme_3, div#container ul#programmes li.active#programme_3, div#container ul#programmes li:hover#programme_3 {
  border-left: 5px solid #0085B2;
}
/* line 212, ../sass/base.scss */
div#container ul#fields li.active#programme_4, div#container ul#fields li:hover#programme_4, div#container ul#content li.active#programme_4, div#container ul#content li:hover#programme_4, div#container ul#sorting li.active#programme_4, div#container ul#sorting li:hover#programme_4, div#container ul#programmes li.active#programme_4, div#container ul#programmes li:hover#programme_4 {
  border-left: 5px solid #FF9326;
}
/* line 215, ../sass/base.scss */
div#container ul#fields li.active#programme_5, div#container ul#fields li:hover#programme_5, div#container ul#content li.active#programme_5, div#container ul#content li:hover#programme_5, div#container ul#sorting li.active#programme_5, div#container ul#sorting li:hover#programme_5, div#container ul#programmes li.active#programme_5, div#container ul#programmes li:hover#programme_5 {
  border-left: 5px solid #D42B29;
}
/* line 218, ../sass/base.scss */
div#container ul#fields li.active#programme_6, div#container ul#fields li:hover#programme_6, div#container ul#content li.active#programme_6, div#container ul#content li:hover#programme_6, div#container ul#sorting li.active#programme_6, div#container ul#sorting li:hover#programme_6, div#container ul#programmes li.active#programme_6, div#container ul#programmes li:hover#programme_6 {
  border-left: 5px solid #8C008C;
}
/* line 221, ../sass/base.scss */
div#container ul#fields li.active#programme_7, div#container ul#fields li:hover#programme_7, div#container ul#content li.active#programme_7, div#container ul#content li:hover#programme_7, div#container ul#sorting li.active#programme_7, div#container ul#sorting li:hover#programme_7, div#container ul#programmes li.active#programme_7, div#container ul#programmes li:hover#programme_7 {
  border-left: 5px solid #8C4600;
}
/* line 224, ../sass/base.scss */
div#container ul#fields li.active#programme_8, div#container ul#fields li:hover#programme_8, div#container ul#content li.active#programme_8, div#container ul#content li:hover#programme_8, div#container ul#sorting li.active#programme_8, div#container ul#sorting li:hover#programme_8, div#container ul#programmes li.active#programme_8, div#container ul#programmes li:hover#programme_8 {
  border-left: 5px solid #38B8B9;
}
/* line 227, ../sass/base.scss */
div#container ul#fields li.active#programme_9, div#container ul#fields li:hover#programme_9, div#container ul#content li.active#programme_9, div#container ul#content li:hover#programme_9, div#container ul#sorting li.active#programme_9, div#container ul#sorting li:hover#programme_9, div#container ul#programmes li.active#programme_9, div#container ul#programmes li:hover#programme_9 {
  border-left: 5px solid #9EC23B;
}
/* line 230, ../sass/base.scss */
div#container ul#fields li.active#programme_10, div#container ul#fields li:hover#programme_10, div#container ul#content li.active#programme_10, div#container ul#content li:hover#programme_10, div#container ul#sorting li.active#programme_10, div#container ul#sorting li:hover#programme_10, div#container ul#programmes li.active#programme_10, div#container ul#programmes li:hover#programme_10 {
  border-left: 5px solid #FF7A4D;
}
/* line 233, ../sass/base.scss */
div#container ul#fields li.active.content_type, div#container ul#fields li:hover.content_type, div#container ul#content li.active.content_type, div#container ul#content li:hover.content_type, div#container ul#sorting li.active.content_type, div#container ul#sorting li:hover.content_type, div#container ul#programmes li.active.content_type, div#container ul#programmes li:hover.content_type {
  border-left: 5px solid #3c89c8;
}
/* line 238, ../sass/base.scss */
div#container ul#fields li span.badge, div#container ul#content li span.badge, div#container ul#sorting li span.badge, div#container ul#programmes li span.badge {
  margin-top: 0.5%;
  margin-left: 5%;
  padding: 3% 0;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 0.5em;
  font-weight: bold;
  color: #ddd;
  text-align: center;
}
/* line 250, ../sass/base.scss */
div#container ul#fields li span.badge i.icon-caret-down, div#container ul#content li span.badge i.icon-caret-down, div#container ul#sorting li span.badge i.icon-caret-down, div#container ul#programmes li span.badge i.icon-caret-down {
  font-size: 1.5em;
}
/* line 257, ../sass/base.scss */
div#container ul#sorting {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 262, ../sass/base.scss */
div#container ul#sorting li {
  padding: 3% 5%;
  margin: 0;
}
/* line 265, ../sass/base.scss */
div#container ul#sorting li:hover {
  padding-left: 5%;
}
/* line 271, ../sass/base.scss */
div#container ul#programmes {
  border: none;
}
/* line 273, ../sass/base.scss */
div#container ul#programmes li {
  padding: 0;
  border: none;
}
/* line 276, ../sass/base.scss */
div#container ul#programmes li a {
  color: #333;
  display: inline-block;
  padding: 0 3%;
  margin-bottom: 2%;
  padding-left: 5%;
}
/* line 282, ../sass/base.scss */
div#container ul#programmes li a#programme_1 {
  border-left: 5px solid #59B200;
}
/* line 285, ../sass/base.scss */
div#container ul#programmes li a#programme_2 {
  border-left: 5px solid #FFC926;
}
/* line 288, ../sass/base.scss */
div#container ul#programmes li a#programme_3 {
  border-left: 5px solid #0085B2;
}
/* line 291, ../sass/base.scss */
div#container ul#programmes li a#programme_4 {
  border-left: 5px solid #FF9326;
}
/* line 294, ../sass/base.scss */
div#container ul#programmes li a#programme_5 {
  border-left: 5px solid #D42B29;
}
/* line 297, ../sass/base.scss */
div#container ul#programmes li a#programme_6 {
  border-left: 5px solid #8C008C;
}
/* line 300, ../sass/base.scss */
div#container ul#programmes li a#programme_7 {
  border-left: 5px solid #8C4600;
}
/* line 303, ../sass/base.scss */
div#container ul#programmes li a#programme_8 {
  border-left: 5px solid #38B8B9;
}
/* line 306, ../sass/base.scss */
div#container ul#programmes li a#programme_9 {
  border-left: 5px solid #9EC23B;
}
/* line 309, ../sass/base.scss */
div#container ul#programmes li a#programme_10 {
  border-left: 5px solid #FF7A4D;
}
/* line 318, ../sass/base.scss */
div#container ul#sorting li.last:hover {
  background-color: none;
  color: #5e5a5c;
}
/* line 322, ../sass/base.scss */
div#container ul#sorting li.last span.badge {
  margin-top: -2%;
}
/* line 327, ../sass/base.scss */
div#container div.data_policy {
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5%;
}
/* line 333, ../sass/base.scss */
div#container div.data_policy h3 {
  color: #5e5a5c;
  text-align: left;
  margin-top: 0;
  margin-bottom: 3%;
}
/* line 339, ../sass/base.scss */
div#container div.data_policy p {
  font-size: 0.85em;
  margin-bottom: 0;
}
/* line 343, ../sass/base.scss */
div#container div.data_policy#partners {
  width: 85%;
}

/* line 349, ../sass/base.scss */
div#nav {
  width: 100%;
  background-color: #3C89C8;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 1.2% 0;
}
/* line 356, ../sass/base.scss */
div#nav a#home_link {
  display: block;
  float: left;
  width: 40%;
  padding: 0 0 0 15%;
}
/* line 361, ../sass/base.scss */
div#nav a#home_link img {
  max-width: 100%;
  min-width: 250px;
  opacity: 0.9;
  display: block;
}
/* line 368, ../sass/base.scss */
div#nav ul {
  min-width: 45%;
  margin-right: 15%;
  list-style: none;
  float: right;
  margin-top: 1.4%;
}
/* line 374, ../sass/base.scss */
div#nav ul li {
  padding: 0 0 0 2%;
  float: right;
}
/* line 377, ../sass/base.scss */
div#nav ul li a {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
/* line 384, ../sass/base.scss */
div#nav ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 392, ../sass/base.scss */
div#nav ul li a.active {
  color: rgba(255, 255, 255, 0.9);
}

/* line 400, ../sass/base.scss */
div.button {
  width: 150px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 417, ../sass/base.scss */
div.button p {
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.05em;
}
/* line 423, ../sass/base.scss */
div.button a {
  text-decoration: none;
  color: #fff;
}
/* line 428, ../sass/base.scss */
div.button:hover {
  border: 1px solid #3c89c8;
  background-color: #3c89c8;
}
/* line 431, ../sass/base.scss */
div.button:hover a {
  color: #fff;
}

/* line 438, ../sass/base.scss */
div.hero {
  background: url("../imgs/project_13.png") no-repeat center;
  background-size: 100%;
  width: 70%;
  margin: 3% 15%;
}
/* line 443, ../sass/base.scss */
div.hero#featured_projects {
  background: url("../imgs/project_13.png") no-repeat bottom;
  background-size: 100%;
}
/* line 447, ../sass/base.scss */
div.hero#data {
  background: url("../imgs/project_7.png") no-repeat bottom;
  background-size: 115%;
}
/* line 452, ../sass/base.scss */
div.hero#about {
  background: url("../imgs/project_18.png") no-repeat center;
  background-size: 100%;
}
/* line 456, ../sass/base.scss */
div.hero#areas_of_work {
  background: url("../imgs/project_14.jpg") no-repeat bottom;
  background-size: 120%;
}
/* line 460, ../sass/base.scss */
div.hero#species {
  background: url("../imgs/project_10.jpg") no-repeat center;
  background-size: 100%;
}

/* line 466, ../sass/base.scss */
div.heading {
  padding-top: 3.5em;
}
/* line 468, ../sass/base.scss */
div.heading h1 {
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: bold;
}
/* line 473, ../sass/base.scss */
div.heading h1#featured {
  font-size: 2em;
}
/* line 477, ../sass/base.scss */
div.heading h2 {
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 1.25em;
  line-height: 1.4em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 484, ../sass/base.scss */
div.heading h1, div.heading h2 {
  padding: 1% 0;
  color: #fff;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

/* line 491, ../sass/base.scss */
div#welcome {
  width: 70%;
  margin: auto;
  padding: 0% 2% 5% 2%;
  border-bottom: 1px solid #eee;
  margin: 5% 15%;
}
/* line 497, ../sass/base.scss */
div#welcome p {
  font-size: 1.25em;
  margin-bottom: 0;
}
/* line 501, ../sass/base.scss */
div#welcome a {
  text-decoration: none;
  color: #3c89c8;
}

/* line 507, ../sass/base.scss */
div#dashboard {
  width: 70%;
  margin: 3% 15%;
}
/* line 510, ../sass/base.scss */
div#dashboard img {
  width: 100%;
}

/* line 515, ../sass/base.scss */
div.section {
  margin: 2.25em 0;
}
/* line 517, ../sass/base.scss */
div.section h3 {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 400;
}
/* line 523, ../sass/base.scss */
div.section p {
  color: #5e5a5c;
}
/* line 525, ../sass/base.scss */
div.section p.link {
  float: left;
  font-size: 0.85em;
}
/* line 528, ../sass/base.scss */
div.section p.link.last {
  margin: 0 3%;
}
/* line 533, ../sass/base.scss */
div.section a {
  text-decoration: none;
  color: #3c89c8;
}
/* line 536, ../sass/base.scss */
div.section a.heading {
  color: #333;
}
/* line 538, ../sass/base.scss */
div.section a.heading:hover {
  color: #3c89c8;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 548, ../sass/base.scss */
div.section img {
  max-width: 100%;
}
/* line 551, ../sass/base.scss */
div.section#twitter {
  background: #f4f2f2;
}
/* line 553, ../sass/base.scss */
div.section#twitter #top_twitter {
  width: 100%;
  padding: 2% 0 5% 0;
}
/* line 556, ../sass/base.scss */
div.section#twitter #top_twitter img {
  display: block;
  max-width: 15%;
  opacity: 0.3;
  float: left;
}
/* line 562, ../sass/base.scss */
div.section#twitter #top_twitter div.button {
  width: 120px;
  float: right;
  margin-right: 1.75%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: 2% 5%;
  box-shadow: none;
}
/* line 567, ../sass/base.scss */
div.section#twitter #top_twitter div.button p, div.section#twitter #top_twitter div.button a {
  color: #999;
}
/* line 572, ../sass/base.scss */
div.section#twitter #top_twitter div.button:hover {
  border: 1px solid #3c89c8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 573, ../sass/base.scss */
div.section#twitter #top_twitter div.button:hover a {
  color: #fff;
}
/* line 586, ../sass/base.scss */
div.section#twitter .tweet {
  padding: 3% 0;
}
/* line 588, ../sass/base.scss */
div.section#twitter .tweet small {
  margin-bottom: 3%;
}
/* line 595, ../sass/base.scss */
div.section.employee h2 {
  margin: 5% 0 2% 0;
  font-size: 1em;
}
/* line 599, ../sass/base.scss */
div.section.employee p {
  margin: 0;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #5e5a5c;
}
/* line 608, ../sass/base.scss */
div.section.partner h2 {
  margin: 0.5em 0 0 0;
  text-align: left;
}
/* line 612, ../sass/base.scss */
div.section.partner a p {
  font-size: 1em;
  color: #3c89c8;
}
/* line 620, ../sass/base.scss */
div.section.about.employee_projects h2 {
  font-size: 1.75em;
  font-weight: 300;
  padding: 0.5em 0 0.25em 0;
}
/* line 625, ../sass/base.scss */
div.section.about.employee_projects div.employee_project {
  padding: 6% 0;
  border-bottom: 1px solid #eee;
}
/* line 629, ../sass/base.scss */
div.section.about.employee_projects div.employee_project h3 span.project_role {
  text-transform: none;
}
/* line 632, ../sass/base.scss */
div.section.about.employee_projects div.employee_project h3 span.separator {
  color: #ddd;
}
/* line 636, ../sass/base.scss */
div.section.about.employee_projects div.employee_project.first {
  padding-top: 0;
}
/* line 639, ../sass/base.scss */
div.section.about.employee_projects div.employee_project.last {
  border-bottom: none;
}
/* line 642, ../sass/base.scss */
div.section.about.employee_projects div.employee_project p.link {
  float: none;
  margin: 0;
}
/* line 649, ../sass/base.scss */
div.section.about.employee_bio ul, div.section.about.job_description ul, div.section.about.application_form ul {
  list-style-type: disc;
  padding: 2em 0 2em 1.25em;
}
/* line 652, ../sass/base.scss */
div.section.about.employee_bio ul li, div.section.about.job_description ul li, div.section.about.application_form ul li {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 660, ../sass/base.scss */
div.section.about.employee_bio .button, div.section.about.job_description .button, div.section.about.application_form .button {
  width: 35%;
  border: 1px solid #3c89c8;
  background: none;
  box-shadow: none;
}
/* line 665, ../sass/base.scss */
div.section.about.employee_bio .button:hover, div.section.about.job_description .button:hover, div.section.about.application_form .button:hover {
  border: 1px solid #3c89c8;
  background-color: #3c89c8;
}
/* line 668, ../sass/base.scss */
div.section.about.employee_bio .button:hover a, div.section.about.job_description .button:hover a, div.section.about.application_form .button:hover a {
  color: #fff;
}
/* line 674, ../sass/base.scss */
div.section.about.employee_bio h1, div.section.about.job_description h1, div.section.about.application_form h1 {
  margin-bottom: 0.3em;
}
/* line 677, ../sass/base.scss */
div.section.about.employee_bio span.position, div.section.about.job_description span.position, div.section.about.application_form span.position {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 684, ../sass/base.scss */
div.section.about.employee_bio span.programme_name, div.section.about.job_description span.programme_name, div.section.about.application_form span.programme_name {
  display: inline-block;
  margin-bottom: 2em;
}
/* line 688, ../sass/base.scss */
div.section.about.employee_bio span.programme_bar, div.section.about.job_description span.programme_bar, div.section.about.application_form span.programme_bar {
  color: #59B200;
  font-weight: 900;
  display: inline-block;
  padding: 2%;
}
/* line 694, ../sass/base.scss */
div.section.about.employee_bio ul.contact_details, div.section.about.job_description ul.contact_details, div.section.about.application_form ul.contact_details {
  color: #5e5a5c;
  font-weight: 300;
  text-align: left;
  margin-bottom: 1em;
}
/* line 699, ../sass/base.scss */
div.section.about.employee_bio ul.contact_details i, div.section.about.job_description ul.contact_details i, div.section.about.application_form ul.contact_details i {
  padding-right: 1%;
}
/* line 702, ../sass/base.scss */
div.section.about.employee_bio ul.contact_details li, div.section.about.job_description ul.contact_details li, div.section.about.application_form ul.contact_details li {
  padding-bottom: 1.5%;
}
/* line 709, ../sass/base.scss */
div.section.about.application_form .button {
  margin-top: 3em;
}
/* line 713, ../sass/base.scss */
div.section.about.application_form h2 {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5em;
}
/* line 718, ../sass/base.scss */
div.section.about.application_form h3 {
  color: #333;
  margin: 0.75em 0;
}
/* line 723, ../sass/base.scss */
div.section.about.application_form .form-section {
  margin-top: 2em;
}
/* line 725, ../sass/base.scss */
div.section.about.application_form .form-section p {
  margin: 0;
}
/* line 728, ../sass/base.scss */
div.section.about.application_form .form-section input.short {
  width: 50%;
  height: 2em;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0 0.5em;
}
/* line 742, ../sass/base.scss */
div.section.about.application_form .form-section textarea {
  width: 100%;
  margin: 0.5em 0 1em 0;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0.5em;
}
/* line 755, ../sass/base.scss */
div.section.about.application_form .form-section .form-subsection {
  margin-top: 1em;
}
/* line 761, ../sass/base.scss */
div.section.about h1 {
  margin-bottom: 7%;
}
/* line 765, ../sass/base.scss */
div.section.about h2#first {
  margin-top: 0;
}
/* line 768, ../sass/base.scss */
div.section.about img {
  display: inline-block;
  float: right;
  max-width: 50%;
  margin: 1% 0 0 3%;
  padding: 0;
}
/* line 774, ../sass/base.scss */
div.section.about img#staff_pic {
  float: none;
  max-width: 100%;
  margin: 0 0 5% 0;
}
/* line 780, ../sass/base.scss */
div.section.about p.link {
  letter-spacing: 0.065em;
}
/* line 786, ../sass/base.scss */
div.section.job_related h2 {
  border-bottom: 1px solid #5e5a5c;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5e5a5c;
  margin-top: 2em;
  padding-bottom: 0.2em;
}
/* line 797, ../sass/base.scss */
div.section.job_related h4 {
  font-size: 1em;
  color: #3c89c8;
}
/* line 801, ../sass/base.scss */
div.section.job_related .button {
  width: 100%;
  border: 1px solid #3c89c8;
  background: none;
  box-shadow: none;
}
/* line 806, ../sass/base.scss */
div.section.job_related .button:hover {
  border: 1px solid #3c89c8;
  background-color: #3c89c8;
}
/* line 809, ../sass/base.scss */
div.section.job_related .button:hover a {
  color: #fff;
}

/* line 817, ../sass/base.scss */
.section .save-link {
  background: #f7f7f7;
  padding: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 823, ../sass/base.scss */
.section .save-link p {
  font-size: 0.85em;
}
/* line 826, ../sass/base.scss */
.section .save-link input {
  border: 1px solid #eee;
  padding: 0.5em;
  height: 3em;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  color: #666;
}
/* line 839, ../sass/base.scss */
.section .save-link i {
  color: #666;
  background: #ccc;
  position: relative;
  top: -29px;
  right: -219px;
  padding: 0.7em 0.75em 0.75em 0.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 854, ../sass/base.scss */
.team_container {
  margin: 0;
  padding-left: 2%;
}
/* line 858, ../sass/base.scss */
.team_container p.link {
  float: left;
}
/* line 860, ../sass/base.scss */
.team_container p.link.last {
  margin: 0 3%;
}
/* line 865, ../sass/base.scss */
.team_container a {
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3c89c8;
}
/* line 872, ../sass/base.scss */
.team_container img {
  max-width: 100%;
}
/* line 875, ../sass/base.scss */
.team_container ul.project_team {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}
/* line 884, ../sass/base.scss */
.team_container ul.project_team li.employee {
  border: 5px solid #fff;
  width: 33%;
  height: 20%;
  margin: 2% 2% 2% 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 894, ../sass/base.scss */
.team_container ul.project_team li.employee.active {
  background-color: #f7f7f7;
  border: 5px solid #f7f7f7;
}
/* line 898, ../sass/base.scss */
.team_container ul.project_team li.employee img {
  max-width: 100%;
  display: block;
}
/* line 902, ../sass/base.scss */
.team_container ul.project_team li.employee:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #f7f7f7;
  border: 5px solid #f7f7f7;
}
/* line 910, ../sass/base.scss */
.team_container ul.project_team li.employee:hover .employee_info {
  display: block;
  padding: 5%;
}
/* line 913, ../sass/base.scss */
.team_container ul.project_team li.employee:hover .employee_info h4 {
  padding: 0;
  line-height: 1em;
}
/* line 917, ../sass/base.scss */
.team_container ul.project_team li.employee:hover .employee_info p {
  padding-bottom: 0;
  font-size: 0.9em;
}
/* line 924, ../sass/base.scss */
.team_container ul.project_team li.employee .employee_info {
  display: block;
  padding: 0 0 3% 2%;
}
/* line 927, ../sass/base.scss */
.team_container ul.project_team li.employee .employee_info h4 {
  padding-bottom: 0.25em;
  line-height: 1.3em;
}
/* line 931, ../sass/base.scss */
.team_container ul.project_team li.employee .employee_info p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}

/* line 941, ../sass/base.scss */
.back_nav {
  display: block;
}
/* line 943, ../sass/base.scss */
.back_nav a {
  font-size: 1em;
  color: #3c89c8;
  text-decoration: none;
  margin-bottom: 10%;
}
/* line 948, ../sass/base.scss */
.back_nav a i {
  font-size: 0.75em;
}

/* line 954, ../sass/base.scss */
div#footer_container {
  width: 100%;
  position: absolute;
  background-color: #333;
  padding: 2% 0;
  margin-top: 6em;
  background: url("../imgs/map_world.png") no-repeat center;
  background-opacity: 0.2;
  background-size: 100%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* line 969, ../sass/base.scss */
ul.footer {
  width: 70%;
  margin: auto;
  list-style: none;
}
/* line 973, ../sass/base.scss */
ul.footer li {
  padding: 0 1%;
  float: left;
}
/* line 976, ../sass/base.scss */
ul.footer li a {
  font-size: 0.8em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #bbb;
  text-transform: uppercase;
}
/* line 982, ../sass/base.scss */
ul.footer li a:hover {
  color: #3c89c8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 992, ../sass/base.scss */
ul.footer li#address {
  text-align: right;
  float: right;
  font-size: 0.85em;
}
/* line 996, ../sass/base.scss */
ul.footer li#address p {
  color: #bbb;
}

/* line 1002, ../sass/base.scss */
div.clear {
  clear: both;
}
