/* line 7, ../sass/medium.scss */
#container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
/* line 11, ../sass/medium.scss */
#container img {
  max-width: 100%;
}
/* line 13, ../sass/medium.scss */
#container img.areas_work {
  display: inline-block;
  float: right;
  max-width: 50%;
  margin: 0 0 20px 20px;
  padding: 0;
}
/* line 21, ../sass/medium.scss */
#container section.group {
  width: 45%;
  margin-right: 4.5%;
  float: left;
}
/* line 25, ../sass/medium.scss */
#container section.group:nth-child(2n) {
  margin-right: 0;
}
/* line 28, ../sass/medium.scss */
#container section.group:nth-child(2n+3) {
  clear: left;
}
/* line 31, ../sass/medium.scss */
#container section.group#twitter {
  padding: 25px;
}
/* line 33, ../sass/medium.scss */
#container section.group#twitter #top_twitter {
  width: 100%;
  padding: 2% 0 5% 0;
}
/* line 36, ../sass/medium.scss */
#container section.group#twitter #top_twitter div.button {
  width: 120px;
  margin-right: 1.75%;
}
/* line 41, ../sass/medium.scss */
#container section.group#twitter .tweet {
  padding: 3% 0;
}
/* line 43, ../sass/medium.scss */
#container section.group#twitter .tweet:last-child {
  padding-bottom: 0;
}
/* line 46, ../sass/medium.scss */
#container section.group#twitter .tweet small {
  margin-bottom: 3%;
}
/* line 51, ../sass/medium.scss */
#container section.group:last-child {
  margin-right: 0;
}
/* line 55, ../sass/medium.scss */
#container .column-1-3 {
  width: 30%;
  float: left;
  padding-top: 60px;
  margin-right: 7%;
}
/* line 60, ../sass/medium.scss */
#container .column-1-3.right {
  float: right;
  padding: 0 0 0 9%;
}
/* line 64, ../sass/medium.scss */
#container .column-1-3 img.employee_pic {
  width: 100%;
  margin-top: 30px;
}
/* line 68, ../sass/medium.scss */
#container .column-1-3 img.partner_logo {
  width: 70%;
  margin-top: 30px;
}
/* line 72, ../sass/medium.scss */
#container .column-1-3 section.actions {
  padding-bottom: 0;
}
/* line 74, ../sass/medium.scss */
#container .column-1-3 section.actions:first-child {
  margin-top: 22px;
}
/* line 77, ../sass/medium.scss */
#container .column-1-3 section.actions h2 {
  margin-bottom: 3px;
  font-size: 1em;
}
/* line 81, ../sass/medium.scss */
#container .column-1-3 section.actions p {
  font-size: 1em;
}
/* line 87, ../sass/medium.scss */
#container .column-2-3 {
  padding-top: 60px;
  width: 63%;
  float: right;
}
/* line 91, ../sass/medium.scss */
#container .column-2-3.left {
  float: left;
}

/* line 97, ../sass/medium.scss */
ul.partners_logos {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 101, ../sass/medium.scss */
ul.partners_logos li {
  display: inline-block;
  margin-right: 5%;
  float: left;
}

/* line 107, ../sass/medium.scss */
ul.project_team {
  overflow: hidden;
  margin-top: 25px;
}
/* line 110, ../sass/medium.scss */
ul.project_team li {
  float: left;
  width: 30.3%;
  margin-right: 4.5%;
}
/* line 114, ../sass/medium.scss */
ul.project_team li h4 {
  padding-bottom: 0;
}
/* line 117, ../sass/medium.scss */
ul.project_team li:last-child {
  margin-right: 0;
}
/* line 120, ../sass/medium.scss */
ul.project_team li h4, ul.project_team li p {
  text-align: center;
}

/* line 126, ../sass/medium.scss */
h1, h2, h3, h5 {
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

/* line 130, ../sass/medium.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.5em;
  margin: 0 0 0.75em 0;
  color: #5e5a5c;
}

/* line 137, ../sass/medium.scss */
h2 {
  font-weight: 700;
  font-size: 1.65em;
  line-height: 1.3em;
  margin: 0.75em 0;
  color: #5e5a5c;
}
/* line 143, ../sass/medium.scss */
h2.smaller {
  font-size: 1.2em;
}
/* line 146, ../sass/medium.scss */
h2.large_subheading {
  font-size: 1.4em;
}
/* line 148, ../sass/medium.scss */
h2.large_subheading#featured_projects {
  font-size: 1.6em;
  padding: 60px 0 30px 0;
}

/* line 155, ../sass/medium.scss */
h3#news {
  margin-bottom: 60px;
  padding-top: 60px;
  font-size: 1em;
}

/* line 161, ../sass/medium.scss */
h4 {
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  padding: 1em 0;
  line-height: 1.75em;
}

/* line 171, ../sass/medium.scss */
h5 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.3em;
  color: #5e5a5c;
  margin-bottom: 2%;
}

/* line 180, ../sass/medium.scss */
div#nav {
  width: 100%;
}
/* line 182, ../sass/medium.scss */
div#nav .nav-container {
  overflow: hidden;
  padding: 20px 0;
  width: 90%;
}
/* line 186, ../sass/medium.scss */
div#nav .nav-container a#home_link {
  padding: 0;
  float: left;
  padding-left: 0;
  width: 50%;
}
/* line 191, ../sass/medium.scss */
div#nav .nav-container a#home_link img {
  max-width: 100%;
}
/* line 195, ../sass/medium.scss */
div#nav .nav-container ul {
  margin: auto;
  overflow: hidden;
}
/* line 198, ../sass/medium.scss */
div#nav .nav-container ul li {
  padding: 3.25% 0 0 2%;
  float: right;
}
/* line 202, ../sass/medium.scss */
div#nav .nav-container ul#button-menu {
  display: none;
  clear: both;
}
/* line 205, ../sass/medium.scss */
div#nav .nav-container ul#button-menu li {
  padding: 0 0 3px 0;
  margin: 0;
  clear: both;
  text-align: right;
  font-size: 0.85em;
}
/* line 211, ../sass/medium.scss */
div#nav .nav-container ul#button-menu li:last-child {
  padding-bottom: 0;
}

/* line 220, ../sass/medium.scss */
div.banner {
  margin: 0 0 60px 0;
}
/* line 222, ../sass/medium.scss */
div.banner img {
  max-width: 100%;
}

/* line 227, ../sass/medium.scss */
div.heading {
  width: 90%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}
/* line 232, ../sass/medium.scss */
div.heading h1 {
  margin-bottom: 0;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: bold;
  display: inline-block;
}
/* line 238, ../sass/medium.scss */
div.heading h1#featured {
  font-size: 2em;
}
/* line 242, ../sass/medium.scss */
div.heading h2 {
  display: inline-block;
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 1.25em;
  line-height: 1.4em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 250, ../sass/medium.scss */
div.heading h1, div.heading h2 {
  padding: 1% 0;
  color: #fff;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
/* line 255, ../sass/medium.scss */
div.heading h1.short, div.heading h2.short, div.heading h2.shorter {
  margin: auto;
}

/* line 260, ../sass/medium.scss */
div#welcome, div#featured_heading {
  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}
/* line 261, ../sass/medium.scss */
div#welcome h1, div#featured_heading h1 {
  font-size: 2.5em;
  line-height: 1.25em;
}
/* line 268, ../sass/medium.scss */
div#welcome p, div#featured_heading p {
  font-size: 1.2em;
}

/* line 273, ../sass/medium.scss */
div#welcome {
  padding-top: 0;
}

/* line 277, ../sass/medium.scss */
div#featured_heading {
  margin-top: 60px;
}

/* line 281, ../sass/medium.scss */
div#footer_container {
  padding: 30px 0;
  margin-top: 60px;
}

/* line 286, ../sass/medium.scss */
ul.footer {
  width: 90%;
  margin: auto;
}
/* line 289, ../sass/medium.scss */
ul.footer li {
  padding: 0 1%;
  float: left;
}

/* line 295, ../sass/medium.scss */
iframe {
  margin: 20px 0;
}

/* line 299, ../sass/medium.scss */
.call-action {
  margin-top: 40px;
}
/* line 301, ../sass/medium.scss */
.call-action div.button#action {
  padding: 10px 20px;
  width: 280px;
}

/* line 307, ../sass/medium.scss */
ul.subnav#staff {
  margin-bottom: 30px;
}

/* line 311, ../sass/medium.scss */
h1.page_header#featured {
  padding-top: 60px;
}

/* line 315, ../sass/medium.scss */
div.column-1-3#data {
  display: block;
}

/* line 319, ../sass/medium.scss */
div.column-1-3#data-small {
  display: none;
}

/* line 323, ../sass/medium.scss */
div.data_policy-small {
  display: none;
}

/* line 327, ../sass/medium.scss */
ul.subnav {
  display: block;
}

/* line 331, ../sass/medium.scss */
ul.subnav-small {
  display: none;
}
