/* Overwrite this file in your application /app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css
 *= require select2
 */

.form-actions .controls {
  margin-left: 0;
}

body#comfy .CodeMirror {
  height: 200px;
}

body#comfy select {
  height: 34px;
}
