<p>Dear <%= @submission.name %>,</p>

<p>
Your job application has been saved. You can still edit it <%= link_to 'here', edit_form_submission_url(@form, @submission) %>
</p>

<p>Yours sincerely,</p>
<p>The UNEP-WCMC team</p>