.background {
  &--fishing {
    background: image-url('fishing_background.jpeg') center no-repeat fixed;
    background-size: cover;
  }

  &--hills {
    background: image-url('hero/hero-hills.jpg') center no-repeat fixed;
    background-size: cover;
  }
}
