@import 'utilities/colors';
@import 'utilities/breakpoints';

.biography {
  background: $white;
  display: flex;
  padding: 2em 0;
  max-width: 980px;
  margin: 0 auto;

  @media (max-width: $tablet){
    width: 100%;
    flex-direction: column;
  }
}

.biography__photo {
  width: 30%;
  margin: auto;
  @media (max-width: $tablet){
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    border-radius: 10em;
    width: 100%;
    @media (max-width: $tablet){
      max-width: 250px;
    }
  }
}

.biography__name {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: $dark-blue;
}

.biography__team-name {
  text-transform: uppercase;
}

.biography__text {
  padding: 1em;
}

.biography__read-more {
  margin: 1em 0;
  color: $dark-blue;
  font-weight: 700;
  border-bottom: 5px solid $light-blue;

  &:hover {
  }
}
