.button {
  background-color: $dark-blue;
  color: $white;
  cursor: pointer;
  margin-bottom: rem-calc(20);
  padding: rem-calc(14 34);

  @media (min-width: $tablet){
    margin-bottom: rem-calc(30);
  }

  &:hover {
    color: $white;
  }

  &--white {
    background-color: $white;
    border: solid rem-calc(2) $dark-blue;
    color: $dark-blue;
    font-style: italic;
    font-weight: bold;
    padding: rem-calc(7 16);
    text-transform: uppercase;
    width: auto;

    &:hover {
      background-color: $dark-blue;
      border: solid rem-calc(2) $dark-blue;
    }
  }
  
  &--back {
    margin: rem-calc(24 0 14 0);
    width: 100%;

    @media (min-width: $tablet){
      margin: rem-calc(32 0 24 0);
    }
    
    clear: both;
    display: inline-block;

    &:before {
      content: '\f053';
      font-family: fontAwesome;
      margin-right: rem-calc(6);
    }
    
    &:hover {
      text-decoration: none;
      color: darken($dark-blue, 15%);
    }

    &#policies {
      margin-top: 0;
    }
  }
}