.button {
  background-color: $dark-blue;
  color: $white;
  margin-bottom: 1.25rem;
  padding: 10px;

  @media (min-width: $tablet){
    margin-bottom: 1.875rem;
  }

  &:hover {
    color: $white;
  }
}