//--------------------------------------------------------------------------------
// card default styles
//--------------------------------------------------------------------------------
.cards-row {
  overflow: auto;
}

.card {
  &__title {
    font-size: rem-calc(20);
    color: $dark-blue;
    margin-bottom: rem-calc(12);
  }

  &__image {
    margin-bottom: rem-calc(16);
    width: 100%;

    display: none;

    @media (min-width: $tablet){
      display: block;
    }
  }

  &__text {
    font-size: rem-calc(15);
  }

  &__timestamp {
    margin-bottom: rem-calc(11);
  }
}

//--------------------------------------------------------------------------------
// news cards on the home page
//--------------------------------------------------------------------------------
.cards--news-home {
  @media(min-width: $tablet){
    margin-top: rem-calc(38);
  }
}