.filter__sort {
  @include flexbox;
  @include justify-content(flex-end);
}

.filter__sort__select {
  select {
    padding: 0 1em;
    border: 1px solid $dark-grey;
    color: $dark-grey;

    option {
      padding: 1em;
    }
  }
}

.filter__category {
  padding: 0.5em;

  input {
    float: left;
    margin-right: 1em;
  }
}

.dataset__infoboxes {
  @media (max-width: $datasets-breakpoint){
    display: none;
  }
}

.dataset__infoboxes--mobile {
  @media (min-width: $datasets-breakpoint){
    display: none;
  }
}
