.filter {
  &__header {
    //!import used here because ids have been used in the legacy sheets and this is the only way to override!
    font-size: rem-calc(20) !important;
  }

  &__button {
    margin-top: rem-calc(20);
  }
}

.filter__sort {
  @include flexbox;
  @include justify-content(flex-end);
  padding: 1em 0em;

  @media(min-width: $desktop){
    padding-top: rem-calc(32);
  }
}

.filter__sort__select {
  @media (max-width: $desktop){
    width: 100%;
  }
  select {
    background-color: $white;
    border: 1px solid $medium-grey;
    border-radius: 0;
    color: $dark-grey;
    font-size: rem-calc(15);
    padding-left: rem-calc(10);
    width: 100%; height: rem-calc(36);

    @media(min-width: $tablet){
      width: rem-calc(160);
    }

    option {
      padding: 1em;
    }
  }
}

.filter__category {
  padding: rem-calc(12 0);;

  input {
    font-size: rem-calc(16);
    margin-right: rem-calc(12);

    float: left;
  }

  p {
    font-size: rem-calc(15);
    margin-bottom: 0;
  }
}

.dataset__infoboxes {
  @media (max-width: $desktop){
    display: none;
  }
}

.dataset__infoboxes--mobile {
  @media (min-width: $desktop){
    display: none;
  }
}
