.search {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);

  &__input {
    padding: rem-calc(10px);
    line-height: 1.5;
    width: 100%;
    border: 1px solid $medium-grey;
  }

  &__icon {
    margin-left: rem-calc(10px);
    background: $dark-blue;
    line-height: 1.5em;
    padding: rem-calc(10 14);
  }
}
