@import 'utilities/colors';
@import 'utilities/breakpoints';

.header-social-bar {
  background-color: $light-grey;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  color: $dark-grey;

  @media (max-width: $phone){
    display: none;
  }
}

.header-menu {
  background-color: $white;
  padding: 1em;
}

