.header-social-bar {
  background-color: $light-grey;
  @include flexbox;
  @include justify-content(center);
  padding: rem-calc(10 0);
  color: $dark-grey;
}

.header-social-bar__container {
  @include flexbox;
  @include justify-content(center);
  width: 100%;

  @media (min-width: $phone){
    width: 90%;
  }

  @media (min-width: $tablet){
    @include justify-content(flex-end);
  }

  @media (min-width: $desktop){
    flex: 0 1 auto;
    width: $site-width;
  }
}

.header {
  background-color: $white;

  &__menu-bar {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: $white;
    margin: 0 auto;

    @media(min-width: $tablet){
      @include flex-direction(row);
      width: 90%;
    }

    @media(min-width: $desktop){
      width: $site-width;
    }
  }

  &__logo {
    border-bottom: solid rem-calc(2) $light-grey;
    padding: rem-calc(16 0);
    text-align: center;

    @media (min-width: $tablet){
      border-bottom: none;
      text-align: left;
    }
  }
  
  &__logo-img {
    width: rem-calc(200); height: rem-calc(65); //height needed for ie
  }

  &__nav-button {
    @include align-self(center);
    margin: rem-calc(16 0);

    @media (min-width: $tablet){
      display: none;
    }
  }

  &__menus {
    @include flexbox;
    @include flex-direction(column);
    border-top: solid rem-calc(2) $light-grey;

    @media(min-width: $tablet){
      @include flex-direction(column-reverse);
      @include justify-content(center);
      border: 0;
    }
  }
}