@import 'utilities/colors';
@import 'utilities/breakpoints';

$header-breakpoint: $tablet;

.header-social-bar {
  background-color: $light-grey;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  color: $dark-grey;

  @media (max-width: $phone){
    justify-content: center;
    align-items: center;
  }
}

.header-social-bar__container {
  width: 70%;
  max-width: 980px;
  margin: auto;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $phone){
    width: 100%;
  }
  @media (max-width: $tablet){
    width: 100%;
    justify-content: center;
  }
}

.header-menu {
  background-color: $white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.header-menu__container {
  width: 70%;
  max-width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $header-breakpoint){
    width: 100%;
    flex-direction: column;
  }
}

.header-menu__right {
  .menu {
    justify-content: flex-end;
    .menu__item {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.header__logo {
  img {
    width: 200px;
  }
}

.header-menu--mobile {
  border-top: 2px solid $light-grey;
  display: flex;
  flex-direction: column;

  ul.menu {
    justify-content: normal;
    align-items: normal;
    li.menu__item {
      padding: 1em;
    }
  }

  @media (min-width: $header-breakpoint){
    display: none;
  }
}

