@import 'utilities/colors';
@import 'utilities/breakpoints';

$menu_breakpoint: $tablet;

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $menu_breakpoint){
    flex-direction: column;
    width: 100%;
  }
}

.menu__item {
  list-style: none;
  padding: 1em;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  a {
    color: $black;
    &:hover {
      background: $light-grey;
    }
  }
  @media (max-width: $menu_breakpoint) {
  }
}

.menu__toggle, .menu__logo {
  display: none;
  @media (max-width: $menu_breakpoint){
    display: flex;
  }
}

.menu__logo {
  @media (max-width: $menu_breakpoint){
    align-self: flex-start;
  }

  img {
    width: 100px;
  }
}

.menu__top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu--collapsable {
  @media (max-width: $menu_breakpoint){
    li.menu__item {
      display: none;
    }
    li.menu__item.menu-responsive-show {
      display: flex;
    }
  }
}

