$menu_breakpoint: $tablet;

.menu {
  @include flexbox;
  @include justify-content(normal);
  @include align-items(normal);
  @include flex-direction(column);
  margin: rem-calc(0 30);
  padding: rem-calc(10 0);

  @media (min-width: $tablet){
    @include justify-content(flex-end);
    @include flex-direction(row);
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    padding: 0;
  }

    &__item-link {
      color: $black;
      padding: rem-calc(14 0);

      display: block;

      @media(min-width: $tablet){
        padding: rem-calc(8 14)
      }

      &:hover {
        @media(min-width: $tablet){
          background: $light-grey;
          text-decoration: none;
        }
      }
    }
}

.menu--primary {
  border-bottom: solid rem-calc(2) $light-grey;

  @media(min-width: $tablet){
    border-bottom: none;
  }
}

.menu--footer {
  @include align-items(center);
}

.menu__item-footer {
  list-style: none;
  padding: 1em;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  a {
    color: $black;
    padding: rem-calc(8 10);
    
    .footer-menu & {
      font-size: 18px;
    }
  }
}

.menu {
  // @extend %flexbox;
  // @include justify-content(center);
  // @include align-items(center);

  // 

  // @media (max-width: $menu_breakpoint){
  //   @include flex-direction(column);
  //   width: 100%;
  // }
}


// .header-menu--mobile {
//   border-top: 2px solid $light-grey;
//   background-color: $white;
//   padding: rem-calc(0 30);
//   @include flexbox;
//   @include flex-direction(column);

//   @media (min-width: $tablet + 1px){
//     display: none;
//   }
// }

.menu__toggle, .menu__logo {
  display: none;
  @media (max-width: $menu_breakpoint){
    @include flexbox;
  }
}

.menu__logo {
  @media (max-width: $menu_breakpoint){
    @include align-self(flex-start);
  }

  img {
    width: 100px;
  }
}

.menu__top-bar {
  display: none;

  @media (max-width: $menu_breakpoint){
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    @include justify-content(space-between);
  }
}

.menu--collapsable {
  @media (max-width: $menu_breakpoint){
    li.menu__item {
      display: none;
    }
    li.menu__item.menu-responsive-show {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

ul.menu--skinny {
  li.menu__item {
    padding: rem-calc(8 4);
  }
}

.menu--bold {
  .menu__item a {
    font-weight: $body-font-bold;
  }
}

.js-menu--target {
  // Initial state
  display: none;
}
.js-menu--visible {

}
