.search {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);

  &__input {
    padding: rem-calc(10);
    line-height: 1.5;
    width: 100%;
  }

  &__icon {
    margin-left: rem-calc(10);
    background: $dark-blue;
    color: $dark-blue;


  }
}
