.search {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);

  &__input {
    font-size: rem-calc(15);
    line-height: 1.5;
    padding: rem-calc(10);
    width: 100%;

    @media(min-width: $desktop){
      width: rem-calc(286);
    }
  }

  &__icon {
    margin-left: rem-calc(10);
    background: $dark-blue;
    color: $dark-blue;
  }
}
