@import 'utilities/colors';
@import 'utilities/breakpoints';

.social-group {
  display: flex;
}

.social-link {
  margin: 0 0.75em;
}

.social-link__text {
  margin-left: 0.25em;
  @media (max-width: $phone){
    display: none;
  }
}

.fa-facebook { background-color: $facebook; }
.fa-twitter  { background-color: $twitter; }
.fa-linkedin { background-color: $linkedin; }
