@import 'utilities/colors';
@import 'utilities/flexbox';
@import 'utilities/layout';

.dataset {
	@extend %flexbox;
}

	.dataset__title-bar {
		@extend %flexbox;
		border-bottom: solid 1px $light-grey;

		&__title {
			flex: 3 1 auto
			
		}

		&__search {
			flex: 1 1 auto
		}
	}

	.dataset__content {
		@extend %flexbox;
	}

		.dataset__sidebar {
			flex: 1 1 33%;
		}

		.dataset__main {
			flex: 2 1 66%;
		}

