.hero#about{ :style => "background: url(#{cms_block_content(:expertise_background, expertise_page).try(:file).try(:url)}) no-repeat center; background-size: cover" }
  .heading
    %h1= cms_block_content(:heading, expertise_page)
    %h2.shorter= cms_block_content(:heading_tagline, expertise_page)
