<div class="column-1-3">
  <ul class="subnav areas">
    <% @cms_site.pages.root.children.each do |page| %>
      <%= render partial: "expertise/nav_link", locals: {page: page} %>
      <ul class="submenu_areas">
        <% page.children.each do |subpage| %>
          <%= render partial: "expertise/nav_link", locals: {page: subpage} %>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>
