@import "compass/reset";

$blue: #4c9cda;
$dark_blue: #4295d5;
$blue_news: #5175a3;
$grey: #ddd;
$light_grey: #f7f7f7;
$dark_grey: #333;
$grey_text: #5e5a5c;
$green: #CCE283;
$red: #EC8486;
$yellow: #FFDB65;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 90%;
  section {
    float: none;
  }
}

h1, h2, h3, h5 {
	font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 1.75em;
	line-height: 1em;
	margin: 0 0 0.75em 0;
	color: $grey_text;
}

h2{
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0.75em 0;
	color: $grey_text;
	&.smaller {
	  font-size: 1.2em;
	}
	&.large_subheading {
    font-size: 1.4em;
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1.6em;
    padding: 30px 0 15px 0;
	}
}

h3{
	font-weight: 700;
	font-size: 1em;
	line-height: 1.4em;
	margin: 1em 0 0.5em 0;
	color: rgba(0,0,0,0.3);
	&#news {
	  width: 100%;
	  margin: auto;
	  font-size: 0.8em;
	  margin-bottom: 30px;
	  padding-top: 30px;
	  display: inline-block;
    text-align: center;
    font-weight: 400;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    word-spacing: 0.07em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5175a3;
	}
	&#position {
	  font-size: 1em;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #bbb;
    margin-bottom: 5px;
    span#separator {
      display: inline-block;
      padding: 0 5px;
    }
    a#department {
      text-transform: uppercase;
    }
	}
}

h4{
	width: 100%;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	padding: 1em 0;
	line-height: 1.75em;
}

h5{
	font-weight: 500;
	font-size: 2em;
	line-height: 1.3em;
	color: $grey_text;
	margin-bottom: 2%;
}

address, p {
	font-size: 1em;
	margin-bottom: 10px;
	line-height: 1.5em;
	font-weight: 300;
	color: $grey_text;
	i {
	  display: inline-block;
	  font-size: 0.85em;
	  padding-right: 5px;
	}
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $dark-blue;
    -webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		text-decoration: underline;
  }
}

small {
	display: block;
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
}

section.column-2-3 ul, section.column-2-3 section ul {
  list-style-type: disc;
  padding: 1em 0 1em 1.25em;
  li {
    font-size: 1em;
    margin-bottom: 0.75em;
    line-height: 1.5em;
    font-weight: 300;
    color: $grey_text;
  }
}

div.clear {
  clear: both;
}

#nav{
	background-color: #222;
  overflow: hidden;
  a#home_link {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    background: $dark_blue;
		img {
		  max-width: 100%;
		  max-height: 52px;
			display: block;
			background: #4295d5;
			padding: 2% 5%;
		}
  }
	ul{
		margin: auto;
	  list-style: none;
	  overflow: hidden;
	  float: right;
		li{
			a {
				font-family: "museo-sans", Helvetica, Arial, sans-serif;
				font-size: 0.8em;
				text-decoration: none;
				color: rgba(255,255,255, 0.75);
				text-transform: uppercase;
				&:hover{
					color: #fff;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
				&.active {
					color: #fff;
				}
			}
		}
	}
}


div.hero{
	&#featured_projects{
		background-image: url('../imgs/savanna-2.png');
		background-position: top;
	}
	&#data{
		background-image: url('../imgs/polar-2.png');
		background-position: bottom;
		.heading h2 {
		  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
		}
	}
	
	&#about{
		background-image: url('../imgs/lake-1.png');
		background-position: center;
		.heading h2 {
		  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
		}
	}
	&#areas_of_work{
		background-image: url('../imgs/rain-forest-3.png');
		background-position: center;
	}
	&#project{
		background-image: url('../imgs/project_10.jpg');
		background-position: center;
		.heading {
		  width: 60%;
		  margin-left: 5%;
		  text-align: left;
		  h1, h2 {
		    padding: 0;
		  }
		  h2 {
		    margin: 25px 0;
		    padding: 5px 0;
		  }
		  div.button#featured_project {
		    margin: 0;
		  }
		}
	}
	background-size: 200%;
  background-repeat: no-repeat;
}

div.container#other_projects, div.container#other-news-small, div.container#job_related-small {
  border-top: 1px solid $grey;
  margin: 60px auto;
  width: 90%;
  h2 {
    margin-top: 0;
  }
  h2.large_subheading {
    padding: 0;
    text-transform: uppercase;
    font-family: "museo sans";
    font-weight: 400;
    font-size: 1.25em;
    margin: 60px 0 60px 0;
    text-align: center;
    width: 100%;
  }
}

div.container#other-news-small, div.container#job_related-small {
  margin: 0 auto;
  h2.large_subheading {
    margin: 30px 0;
    text-align: left;
  }
}

div.heading{
  width: 90%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
	h1{
		margin-bottom: 0;
		font-size: 1.4em;
		line-height: 1.25em;
		font-weight: bold;
		&#featured {
			font-size: 2em;
		}
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	h2 {
		font-weight: 300;
		margin: 0.5em 0;
		font-size: 0.85em;
		line-height: 1.4em;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		border-top: 1px solid rgba(255,255,255, 0.9);
		border-bottom: 1px solid rgba(255,255,255, 0.9);
		margin-top: 20px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	h1,h2{
		padding: 1% 0;
		color: #fff;
	}
}

div.button {
  text-align: center;
	display: block;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 250px;
  border: 1px solid $dark_blue;
  background: none;
  box-shadow: none;
  &:hover, &:active {
    border: 1px solid $dark_blue;
    background-color: $dark_blue;
    p a {
      color: #fff;
    }
  }
	p {
	  margin: 0;
	  a {
  		font-weight: 300;
  		font-size: 1em;
  		margin:0;
  		letter-spacing: 0.05em;
  		color: $dark_blue;
  		text-decoration: none;
  	}
	}

	&#featured_project, &#twitter {
	  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  	border: 1px solid rgba(255,255,255,0.8);
  	background-color: rgba(0,0,0,0.05);
  	a {
  	  color: #fff;
  	}
  	&:hover, &:active {
  		border: 1px solid $dark_blue;
  		background-color: $dark_blue;
  		a{
  			color: #fff;
  		}
  	}
	}
	&#contact {
	  width: 100%;
	  margin-bottom: 5px;
	  &:hover, &:active {
	   a {
	     color: #fff;
	     font-weight: 300;
	     text-decoration: none;
	   }
	  }
	}
}

div.button#featured_project {
  margin-top: 10px;
}

div#button-row {
    margin-top: 1em;
    div.button#more_projects {
      margin: auto;
      width: 90%;
    }
}


.container {
  margin: auto;
  img {
    max-width: 100%;
    display: block;
  }
  .column-2-3 {
    &#staff {
      h2 {
        padding-bottom: 8px;
        border-bottom: 3px solid $blue;
      }
    }

    &#contact-page {
      h2 {
        margin-top: 30px;
      }
    }
    &#job_description {
      ul {
        list-style-type: disc;
        padding: 1em 0 1em 1.25em;
        li {
          font-size: 1em;
          margin-bottom: 0.75em;
          line-height: 1.5em;
          font-weight: 300;
          color: $grey_text;
        }
      }
      p#salary {
        margin-bottom: 30px;
      }

    }
    ul.partners_logos {
      overflow: hidden;
      margin-top: 20px;
      li {
        display: inline-block;
        margin: 10px 10px 10px 0;
        float: left;
      }
    }
    &#data, &#employee_work, &#vacancies-page, &#news-archive, &#partner {
      section {
        border-bottom: 1px solid $grey;
        padding: 15px 0;
        overflow: hidden;
        h2 {
          margin-bottom: 0;
        }
        h3 {
          word-spacing: 0.07em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-size: 0.75em;
          font-weight: 300;
          font-family: "museo-sans", Helvetica, Arial, sans-serif;
          margin: 1em 0;
          &.author, &.isbn {
            word-spacing: 0;
            letter-spacing: 0;
            text-transform: none;
            font-size: 0.85em;
            font-weight: 300;
            color: $grey_text;
          }
          &.author {
            margin-bottom: 0.5em;
          }
          &.isbn {
            margin-top: 0;
          }
        }
        p.link {
          float: left;
          margin-right: 20px;
        }
        &:first-of-type {
          border-top: none;
          padding-top: 0;
        }
        &:last-of-type {
          border-bottom: none;
          padding-bottom: 0;
        }
        &#expertise, &#intro {
          border: none;
        }
        &#recent-work section:first-of-type h3 {
          margin-top: 0.5em;
        }
      }
    }
    &#vacancies-page section:first-of-type {
      border-bottom: none;
    }
    &#job_application{
      h1 {
        margin-bottom: 30px;
        span {
          font-size: 0.55em;
          color: #d8d8d8;
          padding-left: 5px;
          margin-bottom: -20px;
          display: block;
          font-family: "museo-sans", Helvetica, Arial, sans-serif;
          font-weight: 300;
        }
      }
      h2 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin: 0 0 20px 0;
    } 
      textarea {
        margin-bottom: 8px;
      }

      h3 {
      color: #333;
      margin: 0.75em 0;
    }

    .form-section {
      margin-top: 2em;
      p {
        margin: 0;
      }
      input.short {
        width: 50%;
        height: 2em;
        margin: 0.5em 0 1em 0;
        border: 1px solid #eee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: $grey_text;
        padding: 0 0.5em;
      }
      textarea {
        width: 100%;
        margin: 0.5em 0 1em 0;
        border: 1px solid #eee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: $grey_text;
        padding: 0.5em;
      }
      .form-subsection {
        margin-top: 1em;
      }
    }
        h2#first {
                margin-top: 0;
        }
        img{
                display: inline-block;
                float: right;
                max-width: 50%;
                margin: 1% 0 0 3%;
                padding: 0;
                &#staff_pic {
                  float: none;
                  max-width: 100%;
                  margin: 0 0 5% 0;
                }
        }
        p.link {
                letter-spacing: 0.065em;
        }

    }
    &#partner {
      margin-top: 30px;
      h1 {
        margin-bottom: 0.3em;
        font-size: 2.5em;
        color: #333;
      }
      h3 {
        margin: 0 0 20px 0;
        color: #333;
        font-weight: 500 !important;
        word-spacing: 0 !important;
        letter-spacing: 0 !important;
        span.project_role {
          text-transform: none;
        }
        span.separator {
          color: #ddd;
          padding: 0 5px;
        }
      }
      span.position {
        font-size: 1em;
        text-transform: uppercase;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
      	font-weight: 300;
      	color: $grey_text;
      }
      span.programme_name {
        display: inline-block;
        margin-bottom: 2em;
      }
      span.programme_bar {
        color: #59B200; 
        font-weight: 900;
        display: inline-block;
        padding: 2%;
      }
      ul.contact_details {
        color: $grey_text;
        font-weight: 300;
        text-align: left;
        margin-bottom: 1em;
        i {
          padding-right: 1%;
        }
        li {
          padding-bottom: 1.5%;
        }
      }
      section {
        padding: 6% 0;
	      border-bottom: 1px solid #eee;
      }
    }
  }
  .column-1-3 {
    padding-top: 30px;
    &#job_related, &#job_related_small, &#news, section.actions {
      h1 {
      border-bottom: 1px solid $grey;
      font-size: 1em;
      color: #333;
      text-transform: uppercase;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: $grey_text;
      margin-top: 2em;
      padding-bottom: 5px;
      margin-bottom: 20px;
      &:first-of-type {
        margin-top: 4px;
      }
    }
      h2 {
        font-size: 1em;
        text-transform: none;
        font-weight: 400;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
      }
    .button {
      width: 100%;
      margin-bottom: 30px;
    }
    section {
      padding-bottom: 1px;
    }
  }
    section.info-application {
      background: #f7f7f7;
      padding: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      p {
        font-size: 0.85em;
      }
      h1 {
        font-size: 1em;
        font-weight: 400;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        margin-bottom: 10px;
        i {
          padding-right: 5px;
        }
      }
      strong {
        font-weight: 400;
      }
    }
    section.save-link {
      background: #f7f7f7;
      padding: 1em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      p {
        font-size: 0.85em;
      }
      input {
        border: 1px solid #eee;
        padding: 0.5em;
        height: 3em;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        font-weight: 300;
        color: #666;
        }
      i {
        color: #666;
        background: #ccc;
        position: relative;
        top: -29px;
        right: -189px;
        padding: 0.7em 0.75em 0.75em 0.75em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
  section {
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
    img {
      padding-bottom: 0;
    }
    img#staff_pic {
      padding-bottom: 50px;
    }
  }
  section {
    &#twitter{
  		background: $grey;
  		padding: 25px;
  		#top_twitter{
  			width: 100%;
  			padding: 2% 0 5% 0;
  			img{
  				display: block;
  				max-width: 19%;
  				opacity: 0.3;
  				float: left;
  			}
  			div.button{
  				width: 120px;
  				float: right;
  				margin-right: 1.75%;
  				border: 1px solid rgba(0,0,0,0.2);
  				p, a {
  					color: #999;
  					text-decoration: none;
  				}
  				border: 2% 5%;
  				box-shadow: none;
  				&:hover {
  					a{
  						color: #fff;						
  					}
  					border: 1px solid $blue;
  					-webkit-transition: all 0.5s ease;
  					-moz-transition: all 0.5s ease;
  					-ms-transition: all 0.5s ease;
  					-o-transition: all 0.5s ease;
  					transition: all 0.5s ease;
  				}
  			}
  		}
  		.tweet{
  			padding: 3% 0;
  			small{
  				margin-bottom: 3%;
  			}
  			&:last-child {
  			  padding-bottom: 0;
  			  p {
  			    margin-bottom: 0;
  			  }
  			}
  		}
  	}
  }
}

div.container div.column-2-3#employee_work {
  padding-top: 60px;
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    text-transform: none;
    font-size: 1.2em;
    color: $grey_text;
    word-spacing: 0;
    letter-spacing: 0;
    span.separator {
      color: #ddd;
      padding: 0 5px;
    }
    span.project_role {
      color: #999;
    }
    a {
      font-weight: 400;
    }
    &#position {
      text-transform: uppercase;
      font-size: 0.85em;
      margin-bottom: 20px;
      a {
        font-weight: 300;
      }
    }
  }
  section#experience {
    border-bottom: 0;
    padding-bottom: 0;
  }
}


ul.subnav, ul.subnav-small {
  text-transform: uppercase;
  font-weight: 300;
  li {
    padding: 10px;
    border-bottom: 1px solid $blue;
    a {
      text-decoration: none;
      line-height: 1.25em;
    }
    &:hover, &:active, &.active {
      background: $blue;
      a {
        color: #fff;
      }
      -webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
    }
    &.header {
      color: $grey_text;
      border-bottom: 1px solid #4c9cda;
      padding-left: 0;
      i {
        color: $blue;
      }
      &:hover {
        background-color: none;
        color: $blue;
        -webkit-transition: all 0.5s ease;
  			-moz-transition: all 0.5s ease;
  			-ms-transition: all 0.5s ease;
  			-o-transition: all 0.5s ease;
  			transition: all 0.5s ease;
  			background: none;
      }
    }
  }
  ul.expertise-small, ul.expertise {
    text-transform: none;
    padding-left: 10px;
    font-size: 0.85em;
    li {
      line-height: 1.25em;
    }
    &:first-of-type {
      margin-bottom: 15px;
    }
    &#specialise li:last-of-type {
      margin-bottom: 0;
    }
  }
  ul.expertise-small {
    display: none;
  }
}

ul.subnav {
  display: none;
  margin-bottom: 50px;
}

ul.subnav-small {
  margin-bottom: 40px;
}

ul.subnav.areas {
  display: block;
}

select#sorting, select#sorting option, div.search_field_container, div.search-field {
  width: 100%;
  cursor: pointer;
  background: #fff;
	margin-bottom: 30px;
	outline: none;
	line-height: 1.5em;
	border: 1px solid #eee;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

select#sorting, select#sorting option, button#content-button {
  padding: 10px;
	font-size: 0.85em;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: $grey_text;
}

div.search_field_container, div.search-field {
  overflow: hidden;
  input {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background: none;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
  	line-height: 1.5em;
  	font-size: 0.85em;
  	font-weight: 300;
  	border: none;
  	width: 86%;
  	outline: none;
  	float: left;
  }
  i {
    color: $grey_text;
    font-size: 0.85em;
    display: block;
   	padding: 10px 10px 10px 0;
    float: right;
    line-height: 1.5em;
    margin-top: 1px;
  }
}

div.column-1-3#data-small {
  margin-bottom: 30px;
  div.search_field_container, select#sorting {
    margin-bottom: 10px;
    font-size: 1em;
  }
  div.search_field_container input {
    font-size: 1em;
  }
  display: block;
  ul#content-small {
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    text-align: left;
    background: none;
    display: block;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	margin: 0 0 10px 0;
  	font-family: "museo-sans", Helvetica, Arial, sans-serif;
    color: $grey_text;
    font-size: 1em;
    outline: none;
    i {
      display: block;
      float: right;
    }
    &:active {
      background: $blue;
      color: #fff;
    }
  }
  ul#fields-small, ul#content-small {
    display: none;
  }
}

ul#content, ul#content-small {
	margin: 0 0 30px 0;
	font-size: 0.85em;
	li{
	  cursor: pointer;
		color: $grey_text;
		font-size: 0.85em;
		font-weight: 300;
		padding: 0 0 0 3%;
		margin: 5% 0;
		line-height: 1.7em;
		border-left: 5px solid #fff;
		&.header {
		  cursor: default;
			font-size: 1em;
			font-weight: 500;
			border-bottom: 1px solid #eee;
		  padding: 0 0 0 3%;
			margin-bottom: 8%;
			margin-left: -4.5%;
			span.badge {
			  font-size: 0.85em;
			  font-weight: 300;
			  margin-top: 1.5%;
			  cursor: pointer;
			}
			&:hover{
				background: none;
				color: $grey_text;
			}
		}
		&.active, &:hover {
			padding-left: 3%;
      &.content_type {
        border-left: 5px solid $blue;
      }
		}		
		span.badge{
			margin-top: 0.5%;
			margin-left: 5%;
			padding: 3% 0;
			float: right;
			line-height: 0.5em;
			font-weight: 300;
			color: #ddd;
			text-align: center;
			i.icon-caret-down {
				font-size: 1.5em;
			}
		}
	}
}

ul#fields.staff_filters {
  li {
    &.active, &:hover {
      border-left: 5px solid $blue;
    }
  }
}

ul#sorting {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	li {
	  padding: 3% 5%;
	  margin: 0;
	  border-left: none;
	  &:hover {
			padding-left: 5%;
		}
		span.badge {
		  margin-top: -7px;
		}
	}
}

div.data_policy, div.data_policy-small{
  margin: 40px 0;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px;
  h3 {
    color: $grey_text;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    font-size: 0.75em;
    margin-bottom: 0;
  }
}

div.data_policy {
  display: none;
}

div.data_policy-small {
  margin-top: 10px;
 h3 {
   margin: 0;
   text-align: center;
   font-size: 1em;
   font-weight: 300;
   font-family: "museo-sans", Helvetica, Arial, sans-serif;
 } 
}


form {
  section {
    textarea, input {
      width: 100%;
      margin: 0 0 10px 0;
      border: 1px solid $grey;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: $grey_text;
      padding: 0.5em;
    }
    input[type="radio"], input[type="checkbox"] {
      width: 2%;
      margin-left: 1px;
      margin-right: 5px;
    }
    input[type="file"] {
      border: none;
      opacity: 1;
      cursor: pointer;
    }
    p#practical-instructions {
      margin-bottom: 15px;
    }
    p.upload {
      color: $blue;
    }
    input.state {
      margin-top: -10px;
    }
  }
  input[type="submit"] {
    background: $blue;
    border: 1px solid $blue;
    border: none;
    -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    display: inline-block;
    margin: 30px 2% 30px 0;
    width: 45%;
    outline: none;
    &[name="save"] {
      background: none;
      border: 1px solid $blue;
      color: $blue;
      &:hover {
        background: $blue;
        color: #fff;
        -webkit-transition: all 0.5s ease;
    		-moz-transition: all 0.5s ease;
    		-ms-transition: all 0.5s ease;
    		-o-transition: all 0.5s ease;
    		transition: all 0.5s ease;
      }
    }
  }
}

.container div.column-2-3.left#job_application section {
  padding-bottom: 40px;
  &:last-of-type {
    padding-bottom: 0;
  }
}

div#footer_container {
	width:100%;
	position: absolute;
	background-color: $dark_grey;
	background: image-url('map_world_small.png') no-repeat center;
	background-opacity: 0.2;
	background-size: 100%;
  margin-top: 60px;
  padding: 20px;
  a#unep {
    padding: 10px 0 0 0;
    img {
		  width: 15%;
		  opacity: 0.6;
		  &:hover, &:active {
  		  opacity: 1;
  		  -webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
  		}
		}
	}
}

#footer {
  width: 90%;
  margin: auto;
}

ul.footer{	
  list-style: none;
  overflow: hidden;
	li{
	  padding-bottom: 10px;
		a {
			font-size: 1em;
			font-weight: 300;
			font-family: "museo-sans", Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: #bbb;
			&:hover{
				color: $blue;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			&.active {
			  color: $blue;
			}
		}
	}
}

.section-group {
  overflow: hidden;
}

div#welcome-container {
  width: 100%;
  background: $light_grey;
}

div#welcome {
  width: 90%;
  margin: auto;
  padding: 60px 0;
  h1 {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  p {
    margin-bottom: 0;
  }
}

div#featured_heading {
  padding: 30px 0;
  h1 {
    line-height: 1.25em;
    text-align: center;
    margin-top: 0;
  }
}

div#news-item {
  h1 {
    line-height: 1.25em;
  }
  small {
    font-size: 0.85em;
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 30px;
  }
}

a.back_nav {
  margin: 30px 0;
  display: inline-block;
}

div.section-group#staff {
  padding-top: 10px;
}

section.group.staff {
  overflow: hidden;
  width: 47.5%;
  margin-right: 5%;
  float: left !important;
  &:nth-child(2n) {  
    margin-right: 0;
  }
  &:nth-child(2n+3) {  
    clear: left;
  } 
  img{
    padding-bottom: 0;
  }
  
  h4 {
    padding: 10px 0 0 0;
  }
  
  p {
    margin-bottom: 0;
  }
}

section.group.staff#vacancy-team {
  overflow: hidden;
  width: 47.5%;
  margin-right: 5%;
  float: left !important;
  &:nth-child(2n) {  
    margin-right: 0;
  }
  &:nth-child(2n+3) {  
    clear: left;
  } 
}

div#news-archive {
  h3 {
    font-size: 0.75em;
    word-spacing: 0.07em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
  }
}

section.group {
  float: none;
  width: 100%;
  margin-right: 0;
}

ul#large-menu {
  display: none;
}

ul#button-menu {
  background: #222;
  display: none;
  clear: both;
  padding: 1% 5% 5% 5%;
  float: none;
  li {
    padding-bottom: 3px;
    margin: 0;
    clear: both;
    font-size: 1.1em;
    &:last-child {
      padding-bottom: 0;
    }
  }
}


button#trigger-menu {
  background: #222;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.85em;
  float: right;
  border: none;
  border-radius: 5px;
  padding: 2% 5% 1% 5%;
  clear: both;
  width: 100%;
  text-align: left;
  margin: 0;
  border-radius: 0;
  i {
    line-height: 30px;
    &:after {
      display: inline-block;
      content: "Navigation";
      font-family: "museo-sans", Helvetica, Arial, sans-serif;
      padding-left: 5px;
    }
  }
  outline: none;
  &:hover {
    color: #fff;
    -webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
  }
}

div.column-1-3#data {
  display: none;
}

h2.programme {
  line-height: 1em;
  margin: 30px 0 25px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
  &:first-of-type {
    margin-top: 50px;
  }
}

div.column-1-3#job_related {
  display: none;
}

div.container.job-related, div.container.news-related {
  background: $grey;
  width: 100%;
  margin-bottom: -60px;
}

.container.job-related div.column-1-3#job_related_small, .container.news-related div.column-1-3#news-small {
  clear: both;
  width: 90%;
  margin: 0 5%;
  padding-bottom: 60px;
  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.container.news-related div.column-1-3#news-small {
  h1 {
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1.6em;
    padding: 30px 0;
    border: none;
  }
}

div.column-2-3.left#job_description {
  clear: both;
  width: 100%;
  div.button {
    margin: 30px 0 60px 0;
  }
}

div.column-1-3#save-link {
  display: none;
}

div.column-1-3.right#save-link-small {
  clear: both;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  float: none;
  i {
    right: -218px;
  }
}

div.column-2-3.left#job_application {
  clear: both;
  width: 100%;
  div.button {
    margin: 50px 0 60px 0;
    width: 100%;
  }
}

.container .column-1-3 section.actions, .container .column-2-3 section.actions {
  margin-bottom: 20px;
  h1 {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
  	text-transform: uppercase;
  	border-bottom: 1px solid $grey;
  	margin: 4px 0 10px 0;
  	padding-bottom: 5px;
  }
  &#share {
    font-weight: 300;
    h1 {
      border: none;
      display: inline;
      color: #999;
      padding-right: 5px;
      font-weight: 300;
    }
    span {
      font-size: 0.85em;
      a {
        display: inline-block;
        text-transform: none;
        color: #999;
        border-right: 1px solid #e8e8e8;
        padding: 0 8px 0 0;
        cursor: pointer;
        &:last-of-type{
         border: none; 
         padding: 0 0 0 4px;
         i {
           font-size: 1.25em;
         }
        }
        &:hover, &:active {
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }
}

.container .column-2-3 section.actions {
  padding-bottom: 0;
  margin-bottom: 30px;
}

div#team-details {
  span {
    font-size: 1em;
    color: $grey_text;
    display: inline-block;
    padding-left: 10px;
    font-weight: 300;
    font-size: 0.85em;
    margin-bottom: 20px;
    &:first-child {
      padding: 0 10px 0 0;
      border-right: 1px solid #ddd;
    }
    i {
      color: #ddd;
    }
  }
}

img.employee_pic {
  margin-top: 30px;
  width: 100%;
}

.container div.column-2-3 section.group.staff:last-child {
  padding-bottom: 20px;
}

.container div.column-1-3#news {
  display: none;
}

.container div.column-2-3.left#news-item {
  width: 100%;
}

div#news-item {
  margin-bottom: 30px;
}

div.search-field#staff input, div.search-field#staff i {
  font-size: 0.85em;
}

iframe {
  max-width: 100%;
}

div.container.status {
  width: 100%;
  margin: 0;
  padding: 0 5%;
  position: fixed;
  top: 0;
  overflow: hidden;
  p {
    margin-bottom: 0;
    color: #fff;
    margin: 10px 0;
  }
  i.icon-chevron-up {
    line-height: 100%;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
  }
  &#ok {
    background: $green;
  }
  &#warning {
    background: $yellow;
  }
  &#error {
    background: $red;
  }
  display: none;
}