/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
input[type="radio"], input[type="checkbox"] {
  width: 30px !important; 
  margin-left: 1px;
  margin-right: 5px;
}

div.dashboard table {
  width: 100%;
}

tr.species-container td {
  padding: 20px;
}

tr.species-container td.species-count{
  padding-right: 20px;
}
