$blue: #4c9cda;
$dark_blue: #4295d5;
$blue_news: #5175a3;
$grey: #ddd;
$light_grey: #f7f7f7;
$dark_grey: #333;
$grey_text: #5e5a5c;
$green: #CCE283;
$red: #EC8486;
$yellow: #FFDB65;

.container {
  width: 70%;
  max-width: 980px;
  margin: auto;
  overflow: hidden;
  img {
    max-width: 100%;
    &.areas_work {
      display: inline-block;
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
      padding: 0;
    }
  }
  section.group {
    width: 30.3%;
    margin-right: 4.5%;
    &:nth-child(2n) {  
      margin-right: 4.5%;
    }
    &:nth-child(2n+3) {  
      clear: none;
    }
    &:nth-child(3n) {  
      margin-right: 0;
    }
    &:nth-child(3n+4) {
      clear: left;
    }
    &#twitter{
      padding: 1.5%;
  		#top_twitter{
  			width: 100%;
  			padding: 2% 0 5% 0;
  			div.button{
  				width: 120px;
  				margin-right: 1.75%;
  			}
  		}
  		.tweet{
  			padding: 3% 0;
  			small{
  				margin-bottom: 3%;
  			}
  		}
  	}
    &:last-child {
      margin-right: 0;
    }
    &.staff {
      width: 22%;
      margin-right: 4%;
      
      &:nth-child(2n) {  
        margin-right: 4%;
      }
    
      &:nth-child(3n) {  
        margin-right: 4%;
      }
      &:nth-child(3n+4) {  
        clear: none;
      }
      &:nth-child(4n) {  
        margin-right: 0;
      }
      &:nth-child(4n+5) {  
        clear: left;
      }
    }
  }
  .column-1-3 {
    width: 35%;
    float: left;
    padding-right: 9%;
    margin-right: 0;
    &.right {
      float: right;
      padding: 0 0 0 9%;
      padding-top: 60px;
    }
    img.employee_pic {
      width: 100%;
      margin-top: 60px;
    }
    img.partner_logo {
      width: 70%;
      margin-top: 30px;
    }
  }
  .column-2-3 {
    margin-top: -50px;
    padding-top: 110px;
    width: 65%;
    float: right;
    &.left {
      float: left;
    }
  }
}

//tmp
div.dashboard section.group {
  width: 47%;
  margin-right: 4.5%;
}

div.project-team {
  overflow: hidden;
  padding-top: 10px;
  section {
    width: 45%;
    margin-right: 5%;
    float: left;
  }
}

div#nav{
	width:70%;
	margin: auto;
	max-width: 980px;
  overflow: hidden;
  a#home_link {
    position: absolute;
    top: 0;
    display: block;
    width: 26%;
    float: left;
			img {
			  width: 100%;
			  max-height: 100%;
				display: block;
				background: #4295d5;
			}
  }
	ul#large-menu{
	  width: 65%;
		padding: 0 5px ;
		margin: 0;
	  overflow: hidden;
	  float: right;
		li{
		  padding: 0 0 0 2%;
			line-height: 37px;
		}
		&#button-menu {
      li {
        font-size: 0.85em;
      }
    }
	}
}

div.dashboard-container {
  margin: 0;
}

div.container#other_projects {
  padding-bottom: 6em;
  margin-bottom: -60px;
}

div.container#other_projects h2.large_subheading#featured_projects {
  width: 70%;
  margin: 60px auto;
}

div.container#other_projects {
  width: 70%;
  margin: 60px auto -60px auto;
}

div.heading{
  width: 70%;
  max-width: 980px;
	h1{
		font-size: 2.75em;
		line-height: 1.25em;
		display: inline-block;
		width: 80%;
	}
	h2 {
		font-size: 1.25em;
		line-height: 1.4em;
	}
	h1.short, h2.short, h2.shorter {
    display: inline-block;
  }

  h1.short {
    width: 70%;
  }

  h2.short {
    width: 87%;
  }
  
  h2.shorter {
    width: 64%;
  }
}
div#featured_heading {
  margin: 60px 0;
}

div#footer_container {
  width: 100%;
	padding: 30px 0;
	margin-top: 60px;
}

#footer {
  width: 70%;
  max-width: 980px;
  margin: auto;
}

ul.footer{	
	li{
		float: left;
	}
	li#address{
		text-align: right;
		float: right;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

ul#large-menu {
  display: block;
}

button#trigger-menu {
  display: none;
}

div.column-1-3#data {
  display: block;
}

div.column-1-3#data-small {
  display: none;
}

div.data_policy-small {
  display: none;
}

ul.subnav {
  display: block;
  li.header {
    padding-left: 10px;
    &:hover {
      color: $grey_text;
    }
  }
}

ul.subnav-small {
  display: none;
}

div.column-1-3#job_related_small {
  display: none;
}

.container div.column-1-3#job_related {
  display: block;
  margin-bottom: 60px;
  div.button {
    margin-bottom: 40px;
  }
}

div.button#contact {
  width: 100%;
  margin-bottom: 5px;
}

div.column-1-3#save-link {
  display: block;
}

div.column-1-3#save-link-small {
  display: none;
}

.container div.column-2-3.left#job_application, div.column-2-3.left#job_description {
  float: left;
  width: 63%;
}

div.column-1-3.right#application-related {
  padding-left: 9%;
}

.container .column-1-3 section.actions {
  max-width: 100%;
}

div#news-item {
  h1 {
    line-height: 1.25em;
  }
  section.actions#share {
    font-size: 0.85em;
    span {
      font-size: 1em;
    }
  }
}

.container div.column-1-3#news {
  display: block;
}

.container div.column-2-3.left#news-item {
  width: 63%;
}

div.container#other-news-small {
  display: none;
}

select#sorting, div.search-field input {
	font-size: 0.85em;
}

div.search-field i {
  font-size: 0.85em;
}

ul#fields, ul#content, ul#fields-small, ul#content-small, ul#programmes {
	li{
		font-size: 1em;
		&.header {
			font-size: 1.25em;
		}
	}
}

div#welcome {
  width: 70%;
  max-width: 980px;
  h1, h2 {
    max-width: 980px;
  }
}

//div.hero{
//  &#featured_projects{
//    background-position: 0 -80px;
//  }
//  &#data{
//    background-position: bottom;
//  }
//  
//  &#about{
//    background-position: 0 -180px;
//  }
//  &#areas_of_work{
//    background-position: 0 -200px;
//  }
//  background-size: 100%;
//}

div.hero#project div.heading {
  width: 70%;
  max-width: 980px;
  margin: auto;
}


div.container div.column-2-3#employee_work {
  padding-top: 180px;
}

a.back_nav {
  margin: 0 0 60px 0;
}

.container .column-1-3.right {
  margin-top: 80px;
}

div.container#other-news-small, div.container#job_related-small {
  display: none;
}

div.status div.message {
  width: 70%;
  max-width: 980px;
}

div.dashboard {

  .spinner {
    background-image: image-url('loading.gif');
    width: 64px;
    height: 64px;
  }

  .spinner-small {
    background-image: image-url('loading_small.gif');
    width: 32px;
    height: 32px;
  }
  
  header h1 {
    font-size: 2.4em;
    color: white;
    margin: 50px 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  div.section-group.controls {
		position: relative;
		width: 100%;
		z-index: 1000;
		overflow: visible;
    section.group {
      background-color: rgba(255, 255, 255, 0);
      margin-top: 0;
      &#view-button {
        width: 20%;
      }
      &#search-field {
        width: 75%;
        border-bottom: 2px solid #fff;
        position: relative;
        input {
          width: 95%;
          padding: 5px 0;
        	font-family: "museo-sans", Helvetica, Arial, sans-serif;
        	color: #fff;
        	background: none;
        	border: none;
        	font-size: 1.5em;
        	outline: none;
        }
        input::-webkit-input-placeholder {
        	color: rgba(255, 255, 255, 1);
        	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        input::-moz-placeholder {
        	color: rgba(255, 255, 255, 1);
        	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        input:-moz-placeholder {   /* Older versions of Firefox */
        	color: rgba(255, 255, 255, 1);
        	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        input:-ms-input-placeholder { 
        	color: rgba(255, 255, 255, 1);
        	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        i.icon-search {
          width: 5%;
        	color: #fff;
        	background: rgba(255,255,255, 0.3);
        	padding: 5px;
        	margin-bottom: 10px;
        	border: 2px solid #fff;
        	font-size: 1.5em;
        	-webkit-border-radius: 3px;
        	-moz-border-radius: 3px;
        	border-radius: 3px;
        	position: absolute;
        	top: 0;
        	float: right;
        	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }
    button {
      color: #fff;
      background: none;
      border: 2px solid #fff;
      font-size: 1.5em;
    	font-family: "museo-sans", Helvetica, Arial, sans-serif;
    	font-weight: 400;      
      padding: 5px 15px;
      cursor: pointer;
      -webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    margin-bottom: 30px;

  }

  section.group {
    margin-top: 40px;

    //background-color: rgba(255, 255, 255, 0.8);
  }

  section.group.stats {
    p {
      margin-bottom: 0;
    }

    .stat {
      margin: 0 0 40px 0;
      background-color: rgba(225, 225, 225, 0.8);
      header {
        padding: 20px;
        p {
          font-weight: 300;
          display: inline;
        }
        i.icon-info-sign {
          float: right;
          color: #ccc;
          font-size: 1em;
          line-height: 1.5em;
          &:hover, &:active {
            color: $blue;
            -webkit-transition: all 0.5s ease;
        		-moz-transition: all 0.5s ease;
        		-ms-transition: all 0.5s ease;
        		-o-transition: all 0.5s ease;
        		transition: all 0.5s ease;
          }
        }
      }
      .metrics-container {
        padding: 20px;
        width: 100%;
        overflow: hidden;
        position: relative;
        &.carbon {
          padding: 25px 20px;
          .bar-container {
            bottom: 25px;
          }
        }
      }
      .metric {
        width: 100%;
        float: left;
        line-height: 0.75em;
        &.percentage {
          width: 18%;
          margin-right: 2%;
        }
      }
      .number {
        font-size: 2.5em;
        font-weight: bold;
        color: $dark-grey;
        line-height: 0.75em;
      }
      .small {
        font-size: 1em;
        font-weight: 300;
      }
      .number, .small {
        display: inline-block;
      }
      .content {
        p {
          line-height: 2.25em;
        }
      }
      b {
        font-weight: bold;
      }
    }
    
    .stat.carbon > div {
      border-top: 1px solid $grey;
    }
    .stat.carbon .metrics-container .metric p.subheader {
      margin-bottom: 4%;
    }
    header {
      padding: 16px 10px;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.8);
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
      span.option-selector {
        float: right;
        cursor: pointer;
        color: $blue;
        text-transform: none;
        font-weight: 300;
        line-height: 1.5em;
        &:hover, &:active {
          text-decoration: underline;
        }
      }
      div.info-link {
        float: right;
        i.icon-info-sign {
          margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid #ccc;
        }
        span.option-selector {
          float: left;
        }
      }
    }
  }
  
  .bar-percentage {
    //font-size: 3em;
    //font-weight: bold;
    //.small {
    //  font-size: 0.5em;
    //}
    float: left;
    color: $dark_grey;
    padding: 0;
  }
  
  .bar-container {
    float: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px;
    background: rgba($blue, 0.4);
    width: 75%;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .bar {
    float: left;
    background: $blue;
    height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  .geo_entities {
    .select2-container {
      width: 100%;
    }
    .select2-chosen {
      padding: 10px 0;
    }
  }

  ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
  }
  
  div.species-container {
    border-top: 1px solid $grey;
    &:first-child {
      border-top: none;
    }
  }
  
  ol > div.species-container li {
    position:relative; /* Create a positioning context */
    margin:0 0 0 3.4em; /* Give each list item a left margin to make room for the numbers */
    padding: 20px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    //border-top:2px solid #666;
    //background:#f6f6f6;
  }
  
  ol > div.species-container li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:23px;
    left:-32px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius: 4px;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    //border-top:2px solid #666;
    padding: 5px 10px;
    color:#fff;
    background: $blue;
    font-weight: 500;
    font-size: 2em;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    text-align:center;
  }
  
  ol > div.species-container li.list-1:before {
    background: #4295D5;
  }
  
  ol > div.species-container li.list-2:before {
    background: #4B92D5;
  }
  
  ol > div.species-container li.list-3:before {
    background: #66A4DD;
  }
  
  ol > div.species-container li.list-4:before {
    background: #85B7E4;
  }
  
  ol > div.species-container li.list-5:before {
    background: #AFD1ED;
  }

  ol {
    p {
      line-height: 1.5;
    }
  }
  


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  font-size: 1.25em;
  font-weight: 300;
  list-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}



}