$blue: #4c9cda;
$dark_blue: #4295d5;
$blue_news: #5175a3;
$grey: #ddd;
$light_grey: #f7f7f7;
$dark_grey: #333;
$grey_text: #5e5a5c;
$green: #CCE283;
$red: #EC8486;
$yellow: #FFDB65;


.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  img {
    max-width: 100%;
    &.areas_work {
      display: inline-block;
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
      padding: 0;
    }
  }
  section.group {
    width: 47.5%;
    margin-right: 5%;
    float: left;
    &:nth-child(2n) {  
      margin-right: 0;
    }
    &:nth-child(2n+3) {  
      clear: left;
    }
    &#twitter{
      padding: 25px;
  		#top_twitter{
  			width: 100%;
  			padding: 2% 0 5% 0;
  			div.button{
  				width: 120px;
  				margin-right: 1.75%;
  			}
  		}
  		.tweet{
  			padding: 3% 0;
  			&:last-child {
  			  padding-bottom: 0;
  			}
  			small{
  				margin-bottom: 3%;
  			}
  		}
  	}
    &:last-child {
      margin-right: 0;
    }
  }
  .column-1-3 {
    padding-top: 60px;
    &.right {
      float: right;
      padding: 0 0 0 9%;
      margin-top: 60px;
    }
    img.employee_pic {
      width: 50%;
      margin-top: 30px;
    }
    img.partner_logo {
      width: 70%;
      margin-top: 30px;
    }
    section.actions {
      padding-bottom: 20px;
      &:last-of-type {
        padding-bottom: 0;
      }
      &:first-child {
        margin-top: 22px;
      }
      p {
        font-size: 1em;
      }
    }
    &#data-small {
     margin-bottom: 60px; 
    }
  }
  .column-2-3 {
    &.left {
      float: left;
    }
    &#featured-project {
      h2 {
        font-size: 1.65em;
      }
    }
  }
}

ul.partners_logos {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
  li {
    display: inline-block;
    margin-right: 5%;
    float: left;
  }
}
ul.project_team {
  overflow: hidden;
  margin-top: 25px;
  li {
    float: left;
    width: 30.3%;
    margin-right: 4.5%;
    h4 {
      padding-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    h4, p {
      text-align: center;
    }
  }
}

h1, h2, h3, h5 {
	font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 2.25em;
	line-height: 1.2em;
	margin: 0 0 30px 0;
	color: $grey_text;
}

h2{
	font-weight: 700;
	font-size: 1.65em;
	line-height: 1.3em;
	margin: 0.75em 0;
	color: $grey_text;
	&.smaller {
	  font-size: 1.2em;
	}
	&.large_subheading {
    font-size: 1.4em;
    font-size: 2em;
    padding: 60px 0 30px 0;
    text-align: center;
	}
}

h3#news{
  margin-bottom: 60px;
  padding-top: 60px;
  font-size: 1em;
}

h4{
	width: 100%;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	padding: 1em 0;
	line-height: 1.75em;
}

h5{
	font-weight: 500;
	font-size: 2em;
	line-height: 1.3em;
	color: $grey_text;
	margin-bottom: 2%;
}


div#nav{
  margin-top: 0;
	width:100%;
  overflow: hidden;
  border-top: 10px solid $dark_blue;
    a#home_link {
    position: absolute;
		float: left;
		width: 50%;
		padding: 10px 0;
		margin-left: 5%;
		background: none;
		img {
			max-width: 100%;
			padding: 10px 20px 15px 20px;
			-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
		}
	}
	ul{
		margin: auto;
	  overflow: hidden;
		li{
			padding: 3.25% 0 0 2%;
			float: right;
		}
		&#button-menu {
      display: none;
      clear: both;
      padding: 0 5% 20px 5%;
      li {
        padding: 0 0 3px 0;
        margin: 0;
        clear: both;
        text-align: right;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
	}
}

div.banner {
  margin: 0 0 60px 0;
  img {
    max-width: 100%;
  }
}

div.heading{
	h1{
		font-size: 2.25em;
		line-height: 1.25em;
		display: inline-block;
	}
	h2 {
	  display: inline-block;
		font-size: 1.25em;
		line-height: 1.4em;
	}
}

div.hero#project div.heading {
  width: 45%;
  margin-left: 5%;
  text-align: left;
}

div#welcome, div#featured_heading {
  h1 {
    font-size: 2.5em;
    line-height: 1.25em;
  }
  p {
    font-size: 1.2em;
  }
}

div#featured_heading {
  h2 {
    font-size: 2em;
  }
  margin-top: 60px;
  padding: 0;
}

iframe {
  margin: 20px 0;
}

.call-action {
  margin-top: 40px;
  div.button#action {
    padding: 10px 20px;
    width: 280px;
  }
}

button#trigger-menu {
  background: none;
  float: right;
  width: 35%;
  text-align: right;
  clear: none;
  padding: 0 5%;
  line-height: 38px;
  margin: 5px 0;
}

ul.subnav-small {
  margin-bottom: 60px;
}

ul.subnav#staff {
  margin-bottom: 30px;
}

h1.page_header#featured{
  padding-top: 60px;
}

div.data_policy-small {
  display: none;
}

div#button-row {
    margin-top: 1em;
    div.button#more_projects {
      margin: auto;
      width: 290px;
    }
}

div.column-1-3#job_related_small section.group.staff {
  width: 22%;
  margin-right: 4%;
  &:nth-child(4n) {  
    margin-right: 0;
  }
  &:nth-child(4n+4) {  
    clear: none;
  }
}

div.column-1-3.right#save-link-small i {
  right: -618px;
}

div.column-1-3.right#application-related {
  padding-left: 0;
}

div.column-2-3.left#job_application div.button {
  width: 250px;
}

.container div.column-2-3.left#job_application h1 span {
  display: inline;
  font-size: 0.45em;
}

div.container div.column-2-3#employee_work {
  padding-top: 150px;
}

section#actions-column {
  display: block;
}

section.column-2-3#actions-column-small {
  display: none;
}

div#footer_container {
  overflow: hidden;
	background: image-url('map_world.png') no-repeat center;
	width:100%;
	position: absolute;
	background-size: 100%;
	margin-top: 60px;
	a#unep {
    padding: 0;
    float: right;
    img {
		  width: 15%;
		  float: right;
		}
	}
}

ul.footer{	
  overflow: hidden;
  float: left;
	li{
	  float: left;
	  padding-right: 15px;
	  padding-bottom: 0;
	}
}

div.data_policy, div.data_policy-small{
  h3 {
    color: $grey_text;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3%;
  }
  p {
    font-size: 0.85em;
    margin-bottom: 0;
  }
}

div.search-field input, div.search-field i {
  font-size: 0.75em;
}

div.hero{
	&#featured_projects{
		background-position: 0 -80px;
	}
	&#data{
		background-position: 0 -80px;
	}
	&#about{
		background-position: center;
	}
	background-size: 100%;
}

form {
  section {
    p.radio-state {
      display: inline;
      padding-right: 20px;
    }
    input.state {
      display: inline;
      width: 40%;
      margin-top: 0px;
    }
  }
}

a.back_nav {
  margin: 60px 0;
}