$blue: #4295d5;
$blue_news: #5175a3;
$grey: #ddd;
$light_grey: #f7f7f7;
$medium_grey: #bbb;
$number_grey: #999;
$dark_grey: #333;
$darkest_grey: #222;
$grey_text: #5e5a5c;
$green: #B7CF65;
$red: #EC8486;
$yellow: #FFDB65;
$white_link: rgba(255,255,255, 0.75);


.container {
  margin: 50px auto;
  width: 90%;
  overflow: hidden;
	&.dashboard{
	overflow: visible;
	}
  &#news-home {
    width: 100%;
    padding: 0 5% 60px 5%;
  }
  img {
    max-width: 100%;
  }
  section.group {
    width: 47.5%;
    margin-right: 5%;
    float: left;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n+3) {
      clear: left;
    }
    &.staff {
      width: 30%;
      margin-right: 1.5%;
      &:nth-child(2n) {
        margin-right: 1.5%;
      }
      &:nth-child(2n+3) {
        clear: none;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(3n+4) {
        clear: left;
      }
    }
    &#twitter{
      padding: 25px;
  		#top_twitter{
  			width: 100%;
  			padding: 2% 0 5% 0;
  			div.button{
  				width: 120px;
  				margin-right: 1.75%;
  			}
  		}
  		.tweet{
  			padding: 3% 0;
  			&:last-child {
  			  padding-bottom: 0;
  			}
  			small{
  				margin-bottom: 3%;
  			}
  		}
  	}
    &:last-child {
      margin-right: 0;
    }
  }
  .column-1-3 {
    img.employee_pic {
      width: 50%;
    }
    section.actions, section.related-content {
      &:first-child {
        margin-top: 22px;
      }
      p {
        font-size: 1em;
      }
    }
    &#data-small {
     margin-bottom: 60px;
    }
  }
}

h1, h2, h3 {
	font-family: "museo-slab", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 2.25em;
	line-height: 1.2em;
	margin: 0 0 30px 0;
	color: $grey_text;
}

h2{
	font-weight: 700;
	font-size: 1.65em;
	line-height: 1.3em;
	margin: 0.75em 0;
	color: $grey_text;
	&.smaller {
	  font-size: 1.2em;
	}
	&.related-heading-big {
    font-size: 1.5em;
    text-align: center;
    padding: 60px 0 50px 0;
	}
}

h3#news{
  margin-bottom: 60px;
  padding-top: 60px;
  font-size: 1em;
  text-align: center;
}

#nav-container {
  margin-top: 0;
	width:100%;
	border-top: 10px solid $blue;
	background: #222;
}


div#nav{
  overflow: hidden;
  width: 90%;
  margin: auto;
    a#home_link {
    position: absolute;
		float: left;
		width: 40%;
    min-width: 280px;
		padding: 10px 0;
		background: none;
		img {
		  width: 100%;
		  max-height: 100%;
			padding: 10px 20px 15px 20px;
			-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
		}
	}
	ul{
		margin: auto;
	  overflow: hidden;
		li{
			padding: 3.25% 0 0 2%;
			float: right;
		}
		&#button-menu {
      display: none;
      clear: both;
      padding: 0 0 20px 0;
      li {
        padding: 0 0 3px 0;
        margin: 0;
        clear: both;
        text-align: right;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
	}
}

div.dashboard-container {
  margin: 0;
}

div.heading{
	h1{
		font-size: 2.25em;
		line-height: 1.25em;
		display: inline-block;
	}
	h2 {
	  display: inline-block;
		font-size: 1.25em;
		line-height: 1.4em;
    width: 65%;
	}
  &.featured-project {
    width: 45%;
    margin-left: 5%;
    text-align: left;
  }
}

div#welcome {
  h1 {
    font-size: 2.5em;
    line-height: 1.25em;
  }
  p {
    font-size: 1.2em;
  }
}

div.wide_heading {
  h1 {
    font-size: 2.75em;
  }
  margin: 60px auto;
  padding: 0;
  width: 80%;
}

iframe {
  margin: 20px 0;
}

button#trigger-menu {
  background: none;
  float: right;
  width: 35%;
  text-align: right;
  clear: none;
  padding: 0;
  line-height: 38px;
  margin: 5px 0;
  i {
    float: right;
  }
}

ul.subnav-small {
  overflow: hidden;
  margin-bottom: 60px;
  li:nth-child(1n) {
    float: right;
    margin-right: 0;
    width: 48%;
  }
  li:nth-child(2n) {
    float: left;
    margin-right: 4%;
    width: 48%;
  }
  li.header {
    float: none;
  }
  ul.expertise-small:first-of-type {
    overflow: hidden;
  }
  ul.expertise-small li {
    float: none;
  }
}

div.data_policy {
  display: block;
  padding: 15px;
  margin-top: 10px;
  h3 {
    margin-bottom: 10px;
  }
}

div.data_policy-small {
  display: none;
}

div#footer_container {
  overflow: hidden;
	background: image-url('map_world.png') no-repeat center;
	width:100%;
	position: absolute;
	background-size: 100%;
	a#unep {
    padding: 0;
    float: right;
    img {
		  width: 15%;
		  float: right;
		}
	}
}

ul.footer{
  overflow: hidden;
  float: left;
	li{
	  float: left;
	  padding-right: 15px;
	  padding-bottom: 0;
	}
}

div.search-field input, div.search-field i {
  font-size: 0.75em;
}

form {
  section {
    p.radio-state {
      display: inline;
      padding-right: 20px;
    }
    input.state {
      display: inline;
      width: 40%;
      margin-top: 0px;
    }
  }
}

div.status div.message {
  padding: 15px 0;
  p {
    display: block;
    float: left;
    width: 90%;
  }
  i.icon-chevron-up {
    border-left: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    display: block;
    float: right;
    width: 10%;
    border-top: none;
    line-height: 44px;
    padding: 0;
  }
}

div.dashboard section.group {
  padding-bottom: 0;
  margin-top: 0;
}

div.dashboard {
  margin: 70px auto 20px auto;
  div.biodiversity {
    margin-top: 0px;
  }

  header h1 {
    font-size: 2.4em;
    color: #fff;
    margin: 0 0 30px 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  div.section-group.controls {
		position: relative;
		width: 99%;
		z-index: 1000;
    #view-button {
      width: 20%;
    }
    section.group {
      background-color: rgba(255, 255, 255, 0);
      margin-top: 0;
    }
    #search-field.full {
      width: 100%;
      -webkit-transition: width .65s ease;
              transition: width .65s ease;
    }
    #search-field {
      width: 75%;
      border-bottom: 2px solid #fff;
      position: relative;
      float: right;
      margin-top: 0;
      input {
        width: 95%;
        padding: 5px 0 10px 0;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        color: #fff;
        background: none;
        border: none;
        font-size: 1.25em;
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
      input::-moz-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
      input:-moz-placeholder {   /* Older versions of Firefox */
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
      input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
      i.icon-search {
        width: 35px;
        color: #fff;
        background: rgba(255,255,255, 0.3);
        padding: 5px 25px 5px 5px;
        margin-bottom: 10px;
        border: 2px solid #fff;
        font-size: 1.25em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        right: 0;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
    }
    #view-button {
      float: left;
    }
    button {
      color: #fff;
      background: none;
      border: 2px solid #fff;
      font-size: 1.25em;
    	font-family: "museo-sans", Helvetica, Arial, sans-serif;
    	font-weight: 400;
      padding: 5px 15px;
      cursor: pointer;
      -webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
  }

  section.group.stats {
    &:first-child {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }

    .stat {
      background-color: rgba(225, 225, 225, 0.8);
      header {
        padding: 20px;
        p {
          font-size: 0.8em;
        }
        i.icon-info-sign {
          font-size: 1em;
          line-height: 1em;
        }
      }
      .metrics-container {
        padding: 20px;
        width: 100%;
        overflow: hidden;
        &.carbon {
          padding: 25px 20px;
          margin-top: 0px;
          .bar-container {
            bottom: 25px;
          }
        }
      }
      .metric {
        width: 100%;
        line-height: 0.75em;
        &.percentage {
          width: 100%;
        }
      }
      .number {
        font-size: 1.7em;
        font-weight: bold;
        color: $dark_grey;
        line-height: 0.75em;
      }
      .small {
        font-size: 0.85em;
        font-weight: 300;
      }
      .number, .small {
        display: inline-block;
      }
      .content {
        p {
          line-height: 2.25em;
        }
      }
      b {
        font-weight: bold;
      }
    }

    .stat.carbon > div {
      border-top: 1px solid $grey;
    }
    header {
      padding: 16px 10px;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.8);
      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 0.85em;
      }
      span.option-selector {
        float: right;
        cursor: pointer;
        color: $blue;
        text-transform: none;
        font-weight: 300;
        &:hover, &:active {
          text-decoration: underline;
        }
      }
    }
  }

  .bar-percentage {
    float: left;
    color: $dark_grey;
    padding: 0;
  }

  .bar-container {
    float: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px;
    background: rgba($blue, 0.4);
    width: 100%;
    overflow: hidden;
  }

  .bar {
    background: $blue;
    height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  .geo_entities {
    .select2-container {
      width: 100%;
    }
    .select2-chosen {
      padding: 10px 0;
    }
  }

  table {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
  }


  tr.species-container {
    padding: 20px;
  }

  tr.species-container td.counter {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius: 4px;
    padding: 5px 12px;
    color:#fff;
    background: $blue;
    font-weight: 300;
    font-size: 1.75em;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    text-align: center;
  }


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  font-size: 1.25em;
  font-weight: 300;
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  color: $dark_grey;
  white-space: nowrap;
}
.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #fff;
  text-decoration: none;
  background-color: $blue;
  outline: 0;
}



}


div.info-message {
  margin-top: 30px;
}