<section class="row">
  <div class="biography">
    <div class="biography__photo">
      <%= image_tag 'staff/neil.png' %>
    </div>

    <div class="biography__text">
      <h1 class="biography__name"> Neil Burgess </h1>
      <p class="biography__team-name"> Head of Programme | Science </p>
      <p>Neil's role is to oversee the work of the Science Programme. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor risus sodales elit finibus sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nunc ac nibh sit amet quam tincidunt ultrices in vitae dolor. Proin blandit quis purus et condimentum. Duis id sem velit. Suspendisse potenti. Proin molestie felis convallis, scelerisque tortor quis, sollicitudin neque. </p>
      <a href="#" class="biography__read-more"> Discover more about Neil > </a>
    </div>
  </div>
</section>
