<section class="row">
  <div class="biography">
    <div class="biography__photo">
      <%= image_tag 'staff/neil.png' %>
    </div>
    <div class="biography__text">
      <h1 class="biography__name"> Neil Burgess </h1>
      <p class="biography__team-name"> Head of Programme | Science </p>
      <p>Neil's role is to oversee the work of the Science Programme, working at the science-policy interface. The Science Programme delivers both novel and policy relevant science on: biodiversity, ecosystem services, human pressures, ecosystem modelling, international targets, and biological and social-science linkages. The programme also supports the work of the entire Centre with inputs on scientific design, approach, application, and analysis. Neil's role also entails cross programmatic project development and quality control of products as they are being produced.</p>
      <a href="#" class="biography__read-more"> Discover more about Neil > </a>
    </div>
  </div>

  <div class="biography">
    <div class="biography__photo">
      <%= image_tag 'staff/val.png' %>
    </div>
    <div class="biography__text">
      <h1 class="biography__name"> Valerie Kapos </h1>
      <p class="biography__team-name"> Head of Programme | Climate Change and Biodiversity </p>
      <p>
        Valerie leads the Climate Change and Biodiversity (CCB) Programme in its work on the impacts of climate change and related policy on biodiversity and ecosystem services and the role of ecosystems in climate change mitigation and adaption. In addition to overseeing the development of new projects and ideas, and liaising with counterparts in national governments, and with key collaborators, partners and funders.
      </p>
      <a href="#" class="biography__read-more"> Discover more about Valerie > </a>
    </div>
  </div>

  <div class="biography">
    <div class="biography__photo">
      <%= image_tag 'staff/matt.png' %>
    </div>
    <div class="biography__text">
      <h1 class="biography__name"> Matt Walpole </h1>
      <p class="biography__team-name"> Director of Partnerships and Development | Senior Management Team</p>
      <p>
      Matt is responsible for the creation of the centre's future portfolio across all programmes. This includes ensuring that new and existing partnerships and relationships are healthy and productive, supporting and delivering a strategic flow of work and funding sufficient to achieve our strategic objectives.
      </p>
      <a href="#" class="biography__read-more"> Discover more about Matt > </a>
    </div>
  </div>
</section>
