<section class="row">
  <div class="container cards-row">
    <div class="card card--third">
      <%= image_tag 'https://placeholdit.imgix.net/~text?txtsize=47&txt=500%C3%97500&w=500&h=500', class: 'card__image' %>
      <h1 class="card__title">Lorem Ipsum title</h1>
      <p class="card__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor risus sodales elit finibus sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nunc ac nibh sit amet quam tincidunt ultrices in vitae dolor. Proin blandit quis purus et condimentum. Duis id sem velit. Suspendisse potenti. Proin molestie felis convallis, scelerisque tortor quis, sollicitudin neque.</p>
      <div class="tags">
        <a href="#" class="tags__tag">report</a>
        <a href="#" class="tags__tag">database</a>
      </div>
    </div>

    <div class="card card--third">
      <%= image_tag 'https://placeholdit.imgix.net/~text?txtsize=47&txt=500%C3%97500&w=500&h=500', class: 'card__image' %>
      <h1 class="card__title">Lorem Ipsum title</h1>
      <p class="card__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor risus sodales elit finibus sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nunc ac nibh sit amet quam tincidunt ultrices in vitae dolor. Proin blandit quis purus et condimentum. Duis id sem velit. Suspendisse potenti. Proin molestie felis convallis, scelerisque tortor quis, sollicitudin neque.</p>
      <div class="tags">
        <a href="#" class="tags__tag">report</a>
        <a href="#" class="tags__tag">database</a>
      </div>
    </div>

    <div class="card card--third">
      <%= image_tag 'https://placeholdit.imgix.net/~text?txtsize=47&txt=500%C3%97500&w=500&h=500', class: 'card__image' %>
      <h1 class="card__title">Lorem Ipsum title</h1>
      <p class="card__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor risus sodales elit finibus sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Nunc ac nibh sit amet quam tincidunt ultrices in vitae dolor. Proin blandit quis purus et condimentum. Duis id sem velit. Suspendisse potenti. Proin molestie felis convallis, scelerisque tortor quis, sollicitudin neque.</p>
      <div class="tags">
        <a href="#" class="tags__tag">report</a>
        <a href="#" class="tags__tag">database</a>
      </div>
    </div>
  </div>

</section>
