<header>
  <div class="header-social">
  </div>
  <div class="header-menu">
    <%= image_tag 'unep-footer-logo.png', class: 'logo' %>

    <div class="menu">
      <div class="menu__item">

      </div>
    </div>
  </div>
</header>
