.hero#data{ :style => "background: url(#{cms_page_content(:about_us_background, datasets_page).try(:file).try(:url)}) no-repeat center; background-size: cover" }
  .heading#data
    %h1= cms_page_content(:heading, about_us_page)
    %h2.shorter= cms_page_content(:heading_tagline, about_us_page)
